<div class="hidden-xs" style="height:20px;">
  <div class="container sub-nav" style="height:10px;">
  </div>
</div>
<div class="container">
    <div class="row ,'utilities/realm'">

  <div class="col-xs-12">
    <edit-undb-actor user="user" ng-if="editCtrl.schema==='undbActor'"></edit-undb-actor>
    <edit-event user="user" ng-if="editCtrl.schema==='event'"></edit-event>
    <edit-organization user="user" ng-if="editCtrl.schema==='organization'"></edit-organization>
    <edit-undb-party user="user" ng-if="editCtrl.schema==='undbParty'"></edit-undb-party>
  </div>
</div>
</div>