<div class="hidden-xs" style="height:20px;">
  <div class="container sub-nav" style="height:10px;">
  </div>
</div>
<style>
    legend {
        margin-top: 30px;
        padding: 5px;
        background-color: #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        display: block;
        width: 100%;
        padding: 5px 5px 5px 5px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: bold;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }
</style>
<div class="container">
    <div class="row article">
        <div class="col-xs-12">
      <div class="col-xs-12">
        <div class="pull-right" style="margin-top:15px;">
          <span class="badge bg-published text-uppercase" style="width:130px;padding:5px;">Published</span>
          <span class="badge bg-draft text-uppercase" style="width:130px;padding:5px;">Drafts</span>
            <span class="badge bg-request text-uppercase" style="width:130px;padding:5px;">Requests</span>
        </div>
        <h1> Dashboard</h1>
        <p>The dashboard handles the submission, editing and listing of your records. </p>
           <!-- All records are <a href="http://chm.cbd.int" target="_blank">clearing-house mechanism</a> records. -->

        <legend>Your Records</legend>
      </div>
      <div class="col-xs-5 col-xs-offset-2">
          Actions
      </div>

      <div class="col-xs-2">
        <div class="status-badge pull-right">
            <span class="badge bg-published">{{dashCtrl.getFacet('event').public}}</span>
            <span class="badge bg-draft">{{dashCtrl.getFacet('event').draft}}</span>
            <span class="badge bg-request">{{dashCtrl.getFacet('event').workflow}}</span>
        </div>
      </div>

      <div class="col-xs-1">
        <div class="btn-group-xs pull-right">
            <button class="btn btn-info" href="#" ng-click="dashCtrl.goTo('dashboard/submit/event')" data-toggle="tooltip" title="Record List" data-toggle="tooltip" title="Record List"><i class="fa fa-list"></i></button>
            <button class="btn btn-primary" href="#" ng-click="dashCtrl.goTo('dashboard/submit/event/new')" data-toggle="tooltip" title="Add New Record"><i class="fa fa-plus-square"></i></button>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <hr>
      </div>

  <div class="col-xs-5 col-xs-offset-2">
      Organizations
  </div>
  <div class="col-xs-2">
    <div class="status-badge pull-right">
        <span class="badge bg-published">{{dashCtrl.getFacet('organization').public}}</span>
        <span class="badge bg-draft">{{dashCtrl.getFacet('organization').draft}}</span>
        <span class="badge bg-request">{{dashCtrl.getFacet('organization').workflow}}</span>
    </div>
  </div>

  <div class="col-xs-1">
    <div class="btn-group-xs pull-right">
        <button class="btn btn-info" href="#" ng-click="dashCtrl.goTo('dashboard/submit/organization')" data-toggle="tooltip" title="Record List" data-toggle="tooltip" title="Record List"><i class="fa fa-list"></i></button>
        <button class="btn btn-primary" href="#" ng-click="dashCtrl.goTo('dashboard/submit/organization/new')" data-toggle="tooltip" title="Add New Record"><i class="fa fa-plus-square"></i></button>
    </div>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <hr>
  </div>
  <div class="col-xs-5 col-xs-offset-2">
      Actors
  </div>

  <div class="col-xs-2">
    <div class="status-badge pull-right">
        <span class="badge bg-published">{{dashCtrl.getFacet('undbActor').public}}</span>
        <span class="badge bg-draft">{{dashCtrl.getFacet('undbActor').draft}}</span>
        <span class="badge bg-request">{{dashCtrl.getFacet('undbActor').workflow}}</span>
    </div>
  </div>

  <div class="col-xs-1">
    <div class="btn-group-xs pull-right">
        <button class="btn btn-info" href="#" ng-click="dashCtrl.goTo('dashboard/submit/undb-actor')" data-toggle="tooltip" title="Record List" data-toggle="tooltip" title="Record List"><i class="fa fa-list"></i></button>
        <button class="btn btn-primary" href="#" ng-click="dashCtrl.goTo('dashboard/submit/undb-actor/new')" data-toggle="tooltip" title="Add New Record"><i class="fa fa-plus-square"></i></button>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <hr>
  </div>
  <div class="col-xs-5 col-xs-offset-2">
      Country Profile
  </div>

  <div class="col-xs-2">
    <div class="status-badge pull-right">
        <span class="badge bg-published">{{dashCtrl.getFacet('undbParty').public}}</span>
        <span class="badge bg-draft">{{dashCtrl.getFacet('undbParty').draft}}</span>
        <span class="badge bg-request">{{dashCtrl.getFacet('undbParty').workflow}}</span>
    </div>
  </div>
  <div class="col-xs-1">
    <div class="btn-group-xs pull-right">
        <button class="btn btn-info" href="#" ng-click="dashCtrl.goTo('dashboard/submit/undb-party')" data-toggle="tooltip" title="Record List" data-toggle="tooltip" title="Record List"><i class="fa fa-list"></i></button>
        <button class="btn btn-primary" href="#" ng-click="dashCtrl.goTo('dashboard/submit/undb-party/new')" data-toggle="tooltip" title="Add New Record"><i class="fa fa-plus-square"></i></button>
    </div>
  </div>
</div>
</div>
</div>