<div class="hidden-xs" style="height:20px;">
  <div class="container sub-nav" style="height:10px;">
  </div>
</div>

<div class="container">
    <div class="row article">

    <div class="col-xs-12">
        <!-- <crumbs links="indexCtrl.links"></crumbs> -->
        <div class="col-xs-12">


            <div id="submit">
                <!-- <div class="container"> -->

                    <div class="row">
                        <h1>My {{schemaMap(schema)}}<i ng-show="isLoading()" ng-class="{ 'fa-spin':isLoading() }" class="fa fa-spinner"></i></h1>
                    </div>

                    <div class="row">

                        <div style="display:inline;">
                            <input type="text" ng-model="freetext" ng-change="onText()" class="btn btn-default btn-xs bg-white" placeholder="keyword">
                        </div>
                        <div style="display:inline;">
                            <a ng-click="status=''; onPage(0)" class="btn btn-default  btn-xs btn-info"><i ng-show="status==''" class="fa fa-check"></i> ALL</a>
                        </div>
                        <div style="display:inline;">
                            <a ng-click="status='public'; onPage(0)" class="btn btn-default btn-xs bg-published"><i ng-show="status=='public'" class="fa fa-check"></i> PUBLISHED <span class="badge bg-white">{{facets.public}}</span> </a>
                        </div>

                        <div style="display:inline;">
                            <a ng-click="status='draft'; onPage(0)" class="btn btn-default btn-xs bg-draft"><i ng-show="status=='draft'" class="fa fa-check"></i> DRAFTS <span class="badge bg-white">{{facets.draft}}</span></a>
                        </div>

                        <div style="display:inline;">
                            <a ng-click="status='workflow'; onPage(0)" class="btn btn-default btn-xs bg-request"><i ng-show="status=='workflow'" class="fa fa-check"></i> REQUESTS <span class="badge bg-white">{{facets.workflow}}</span></a>
                        </div>

                        <div style="display:inline;" class="pull-right">
                            <a class="btn btn-default btn-xs" ng-click="onReloadList()"> Refresh List</a>
                            <button class="btn btn-primary btn-xs" ng-click="onAdd()"> Add New </button>
                        </div>

                    </div>
                </div>

                <hr>

                <!-- <div  style="position:relative;" ng-show="isLoading()">
                  <div class="text-center" style="position:relative;width:100px; margin: 0 auto;color:#009B48; ">
                     <h1 >
                    <img src="https://absch.cbd.int/app/img/cbd-spine.png" style="position:absolute;height:50px;top:20px;left:25px;"></img>
                    <i class="fa fa-spin fa-3x fa-circle-o-notch" ></i>
                       </h1>
                       <span>Loading ...</span>
                  </div>
                </div> -->
                    <div class="row" >
                      <div class="col-xs-12 ">
                        <div ng-if="updatedRecord && !updatedRecordError" class="alert alert-info"> Waiting for updated record to be reindexed and appear below ... <i class="fa fa-spinner fa-spin"></i></div>
                        <div ng-if="updatedRecordError" class="alert alert-danger">Error: updated record was not indexed as <strong>{{status}}</strong>. Please contact the helpdesk and report that record <strong>{{updatedRecord}}</strong> was not indexed as <strong>{{status}}</strong> after it was updated.</div>
                      </div>
<section ng-if="records.length">
                        <div class="col-xs-3 text-no-wrap" style="color:#333;font-size:14px;padding-left:0px;">
                            <div style="margin-top:25px;">
                                <span>
                            <span class="badge">{{((currentPage*pageSize)+1)}}</span>
                                <span ng-if="((currentPage+1)*(records.length))===((currentPage+1)*(pageSize))">  -  <span class="badge" >{{(currentPage+1)*(records.length)}}</span></span>
                                <span ng-if="((currentPage+1)*(records.length))!==((currentPage+1)*(pageSize))">  -  <span class="badge" >{{recordCount}}</span></span>
                                of
                                <span class="badge">{{recordCount}}</span>
                                <span ng-if="freetext"><br> for <span class="color-cbdgreen">"{{freetext}}"</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-xs-7 ">
                            <nav class="pull-right" ng-show="pages.length>1">
                                <ul class="pagination">
                                    <li>
                                        <a ng-click="onPage(currentPage-1)" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li ng-repeat="page in pages" ng-class="{ active : currentPage==page.index }">
                                        <a href="#" ng-click="onPage(page.index)">{{page.text}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="onPage(currentPage+1)" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="col-xs-2 text-nowrap">
                            <div class="form-group form-inline" style="color:#333;font-size:14px;margin-top:20px;">
                                <span style="color:#333;font-size:14px;">Per page:</span>
                                <select style="display:inline;" class="form-control" ng-model="pageSize" ng-change="onPage(0)" convert-to-number>
                                    <option ng-value="5" ng-selected="pageSize===5">5</option>
                                    <option ng-value="10" ng-selected="pageSize===10">10</option>
                                    <option ng-value="15" ng-selected="pageSize===15" ng-selected="true">15</option>
                                    <option ng-value="20" ng-selected="pageSize===20">20</option>
                                    <option ng-value="50" ng-selected="pageSize===50">50</option>
                                    <option ng-value="100" ng-selected="pageSize===100">100</option>
                                </select>
                            </div>
                        </div>

</section>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="white-space:nowrap;" width="70%">Summary</th>
                                    <th style="white-space:nowrap;" width="10%" class="hidden-xs">Created</th>
                                    <th style="white-space:nowrap;" width="10%" >Updated</th>
                                    <th style="white-space:nowrap;width:100px;text-align:right;"  align="right" width="10%" >Status</th>
                                    <!-- <th style="white-space:nowrap;width:100px;" class="text-right" width="10%" >&nbsp;</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="record in records">
                                    <td class="descr">
                                        <h5 class="title" style="margin:0;padding:0;">

                                <span ng-if="record._state_s!=='public'">{{(record.title || record.title_s ||  record.identifier_s) | lstring }} <br></span>
                                <a    ng-if="record._state_s=='public'"  ng-href="#" ng-click="goTo(record.identifier_s);">{{(record.title || record.title_s || record.identifier_s) | lstring}} </a>

                            </h5><br>
                                        <div ng-show="record.schema_s==='organization'" ><span ng-show="record.city_t">{{record.city_t}}, </span>{{record.country_EN_s}}

                                        </div>
                                        <div class="hidden-xs" style="white-space: pre-wrap;">{{record.summary || record.summary_s || record.description || record.description_s | lstring | htmlToPlaintext | truncate:(record.truncate||350):'...'}} <a ng-hide="record.truncate || (record.summary | lstring).length<=350" href="#" ng-click="record.truncate=100000">more <i class="fa fa-caret-down"></i></a>
                                            <a
                                                ng-show="record.truncate" href="#" ng-click="record.truncate=undefined">less <i class="fa fa-caret-up"></i></a>
                                        </div>
                                        <span  ng-show="record._state_s=='workflow'" style="color:#C7532C"><i   class="fa fa-lock"></i>
                                          <span ng-if="record.schema_s!=='bbiRequest'">Publish Request: <span class="small" style="color:#C7532C"><br>This record is currently  under review by the helpdesk.</span><br><br></span>
                                          <span ng-if="record.schema_s==='bbiRequest'">This  assistance request record is currently in queue for service from the helpdesk.<br><br></span>
                                        </span>
                                    </td>
                                    <td class="createdby hidden-xs text-nowrap">
                                        <div title="{{record.createdByEmail_s}}">{{record.createdBy_s}}</div>
                                        <div class="small" title="{{record.createdDate_dt | moment:'format':'YYYY-MM-DD HH:MM'}}" class="date">{{record.createdDate_dt | fromNow}}</div>
                                    </td>
                                    <td class="udpatedby text-nowrap">
                                        <div title="{{record.updatedByEmail_s}}">{{record.updatedBy_s}}</div>
                                        <div class="small" title="{{record.updatedDate_dt | moment:'format':'YYYY-MM-DD HH:MM'}}" class="date">{{record.updatedDate_dt | fromNow}}</div>
                                    </td>
                                    <td class="status" class="edit text-right" align="right">

                                    <!-- </td>
                                    <td > -->
                                        <div class="btn-group btn-group-xs text-right">
                                            <a title="View" ng-if="record._state_s == 'public' || record._state_s=='published'" type="button" class="btn btn-default" ng-href="/dashboard/submit/{{record.schema_s}}/{{record.identifier_s}}/view" ><i class="fa fa-search"></i></a>
                                            <!-- <button ng-show="record._state_s=='workflow' " title="Locked for edit" type="button" class="btn btn-default" ng-click="onWorkflow(record)"><i class="fa fa-lock"></i></button> -->
                                            <button ng-show="record._state_s!=='workflow' || isAdmin" title="Edit" type="button" class="btn btn-default" ng-click="onEdit(record)"><i class="fa fa-edit"></i></button>
                                            <button ng-show="(record._state_s==='public' && isAdmin) || (record._state_s==='draft' ) " title="Delete" type="button" class="btn btn-default" ng-click="onDelete(record, $event,$index);delLoader[$index]=true;"><i class="fa fa-trash-o"></i></button>
                                        </div><br><br>
                                        <span class="small text-nowrap" ng-if="delLoader[$index]"><br><i  class="fa fa-spinner fa-pulse  fa-fw"></i> Deleteing ...</span>

                                        <span ng-show="record._state_s=='public' || record._state_s=='published' ||record._revision_i>1" class="label label-default bg-published">PUBLISHED</span>
                                        <span ng-show="record._state_s=='draft' || record.publishedDraft" class="label label-default bg-draft">DRAFT</span>
                                        <span ng-show="record._state_s=='workflow'" class="label label-default bg-request">REQUEST PENDING APPROVAL</span>
                                        <div ng-show="record._state_s=='workflow' && record.schema_s!=='bbiRequest'" style="margin-top:5px"><a class="small" href="#" ng-click="onWorkflow(record,$event)" >Detailed Request Status</a></div>
                                    </td>
                                </tr>

                                <tr ng-show="records.length==0">
                                    <td colspan="6">
                                        No records found. You have not yet created any records of this type. Click on "add new" to create a new record.
                                    </td>
                                </tr>

                            </tbody>


                        </table>
                      <section ng-if="records.length">
                        <div class="col-xs-3 text-no-wrap" style="color:#333;font-size:14px;padding-left:0px;">
                            <div style="margin-top:25px;">
                                <span  >
                          <span class="badge">{{((currentPage*pageSize)+1)}}</span>
                                <span ng-if="((currentPage+1)*(records.length))===((currentPage+1)*(pageSize))">  -  <span class="badge" >{{(currentPage+1)*(records.length)}}</span></span>
                                <span ng-if="((currentPage+1)*(records.length))!==((currentPage+1)*(pageSize))">  -  <span class="badge" >{{recordCount}}</span></span>
                                of
                                <span class="badge">{{recordCount}}</span>
                                <span ng-if="freetext"><br> for <span class="color-cbdgreen">"{{freetext}}"</span></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-xs-7 ">
                            <nav class="pull-right" ng-show="pages.length>1">
                                <ul class="pagination">
                                    <li>
                                        <a ng-click="onPage(currentPage-1)" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li ng-repeat="page in pages" ng-class="{ active : currentPage==page.index }">
                                        <a href="#" ng-click="onPage(page.index)">{{page.text}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="onPage(currentPage+1)" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="col-xs-2 text-nowrap">
                            <div class="form-group form-inline" style="color:#333;font-size:14px;margin-top:20px;">
                                <span style="color:#333;font-size:14px;">Per page:</span>
                                <select style="display:inline;" class="form-control" ng-model="pageSize" ng-change="onPage(0)" convert-to-number>
                                    <option ng-value="5" ng-selected="pageSize===5">5</option>
                                    <option ng-value="10" ng-selected="pageSize===10">10</option>
                                    <option ng-value="15" ng-selected="pageSize===15" ng-selected="true">15</option>
                                    <option ng-value="20" ng-selected="pageSize===20">20</option>
                                    <option ng-value="50" ng-selected="pageSize===50">50</option>
                                    <option ng-value="100" ng-selected="pageSize===100">100</option>
                                </select>
                            </div>
                        </div>
                      </div>
                    </section>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>
</div>