<div style="position:relative;">
	<style>.vcenter {
		display: flex;
    align-items: center;
}
		map_wrapper {
			background-color: #069554;
		}

		#map {
			background-color: #069554;
			margin: 0 auto;
			max-width: 1200px;
			overflow: hidden;
		}
.map-button{
	position:absolute;
	top:15px;
	right:15px;
}
		.sideSelection {
			display: inline-block;
			padding: 15px 0;
		}

		.floatRight {
			float: right;
		}

		.sideSelection h5 {
			color: #fff;
			font-size: 1.4em;
			margin-top: 20px;
			text-align: left;
			text-indent: 25px;
		}

		.sideSelectionRow {
			color: #fff;
			cursor: pointer;
			font-size: 1em;
			height: 74px;
			line-height: 37px;
			margin: 14px 0;
			min-width: 100%;
			padding: 0 10px;
			/*white-space: nowrap;*/
		}

		.sideSelectionRowActive {
			background-color: #004844;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 0;
			moz-border-radius-bottomleft: 5px;
			moz-border-radius-bottomright: 0;
			moz-border-radius-topleft: 5px;
			moz-border-radius-topright: 0;
			position: relative;
			webkit-border-bottom-left-radius: 5px;
			webkit-border-bottom-right-radius: 0;
			webkit-border-top-left-radius: 5px;
			webkit-border-top-right-radius: 0;
			cursor: pointer;
			font-size: 1em;
			height: 74px;
			line-height: 37px;
			margin: 14px 0;
			min-width: 100%;
			padding: 0 10px;
			z-index: 10;
			/*white-space: nowrap;*/
		}

		.sideSelectionRowActiveIMG {
			height: 37px;
			position: absolute;
			right: -34px;
			width: 37px;
			z-index: 10;
		}
		.sideSelectionRowActiveIMG2 {
			height: 100px;
			position: absolute;
			right: -72px;
			bottom:-13px;
			width: 74px;
			z-index: 10;
		}
		body.modal-open div.modal-backdrop {
			z-index: 150;
		}
		.mapPopup{
			cursor:pointer;
		}
	</style>

	<div id="map">
		<div class="col-md-2 col-xs-12" style="margin-right:0px;padding:0 0 0 0;">
			<div class="row sideSelection">
				<h5>UNDB Network</h5>
				<filter-actors title='Actors' active='filters.actors.active' message='message' link="link"></filter-actors>
				<filter-parties title='Parties to the CBD and other Governments' active='filters.parties.active' message='message' link="link"></filter-parties>
				<filter-aichi title='Aichi Biodiversity Targets' active='filters.aichi.active' message='message' link="link"></filter-aichi>
				<!-- <filter-bio-champs title='Biodiversity Champions' active='filters.bioChamps.active' message='message'></filter-bio-champs> -->
<!-- <filter-coalitions title='Coalitions' active='filters.coalitions.active' message='message'></filter-coalitions>  -->
				<filter-actions title='Actions' active='filters.actions.active' message='message' link="link"></filter-actions>
			</div>
		</div>
		<div class="col-md-10 col-xs-12" style="padding:0 0 0 0;margin-left:0px;">
			<ammap3 ng-model='documents' schema='selectedSchema'></ammap3>
			<div class="mapPopup" ng-class="{'mapPopupParties':(selectedSchema==='parties' && selectedSchema==='aichi')}"   ng-show="toggleCaption " ng-click="goTo(link)">

				<p ng-if="message==='actions'">Actions and Commitments: All around the world people are taking action to safeguard biodiversity. See how you can participate!</p>
				<p ng-if="message==='parties'">Parties to the CBD and other Governments: With 196 Parties, the Convention on Biological Diversity has near universal participation among countries.</p>
				<p ng-if="message==='actors'"> Actors: The UNDB Network includes a wide variety of Actors contributing to the implementation of the Strategic Plan for Biodiversity 2011-2020. </p>
				<!-- <p ng-if="message==='aichi'"> Aichi Biodiversity Targets: Each party or government's best Aichi Biodiversity Target assessment. </p> -->
				<button type="button" class="closeButton" ng-click="toggleCaption=!toggleCaption;$event.stopPropagation();"></button>
			</div>
		</div>
	</div>
	<a href="actors/submit" class="btn map-button" style="background-color:#0081c6;color:white;" ng-if="selectedSchema=='actors'"> Become a Partner <i class="fa fa-chevron-right"></i></a>
	<a href="actions/submit"      class="btn bg-cbdgreen map-button" ng-if="selectedSchema=='actions'"> Register your Action <i class="fa fa-chevron-right"></i></a>
</div>
