<div>
	<style>
		map_wrapper {
			background-color: #069554;
		}

		#map {
			background-color: #069554;
			margin: 0 auto;
			max-width: 1200px;
			overflow: hidden;
		}

		 .sideSelection {
			display: inline-block;
			padding: 15px 0;
		}

	 .floatRight {
			float: right;
		}

		 .sideSelection h5 {
			color: #fff;
			font-size: 1.4em;
			margin-top: 20px;
			text-align: left;
			text-indent: 15px;
		}

	 .sideSelectionRow {
			color: #fff;
			cursor: pointer;
			font-size: 1em;
			height: 37px;
			line-height: 37px;
			margin: 14px 0;
			min-width: 100%;
			padding: 0 10px;
white-space: nowrap;
		}

		 .sideSelectionRowActive {
			background-color: #004844;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 0;
			moz-border-radius-bottomleft: 5px;
			moz-border-radius-bottomright: 0;
			moz-border-radius-topleft: 5px;
			moz-border-radius-topright: 0;
			position: relative;
			webkit-border-bottom-left-radius: 5px;
			webkit-border-bottom-right-radius: 0;
			webkit-border-top-left-radius: 5px;
			webkit-border-top-right-radius: 0;
			cursor: pointer;
			font-size: 1em;
			height: 37px;
			line-height: 37px;
			margin: 14px 0;
			min-width: 100%;
			padding: 0 10px;
			z-index: 10;
			white-space: nowrap;
		}

		.sideSelectionRowActiveIMG{



			height: 37px;
			position: absolute;
			right: -34px;
			width: 37px;
			z-index: 10;
		}

		 /*.sideSelectionRow:select {
			background-color: #004844;
			border-color: #004844;
			color: #fff;
			display: inline-block;
			margin-left: 20px;
			width: 85px;
		}*/


		body.modal-open div.modal-backdrop {
			z-index: 150;
		}
	</style>

	<div id="map">
		<div class="col-md-2 col-xs-12" style="margin-right:0px;padding-right:0px;">
			<div class="row sideSelection">
				<h5>UNDB Network</h5>
				<filter-actors title='Actors' active='filters.actors.active' message='message'></filter-actors>
				<filter-parties title='Parties to the CBD' active='filters.parties.active' message='message'></filter-parties>
				<filter-bio-champs title='Biodiversity Champions' active='filters.bioChamps.active' message='message'></filter-bio-champs>
				<filter-actions title='Actions' active='filters.actions.active' message='message'></filter-actions>
			</div>
		</div>
		<div class="col-md-10 col-xs-12" style="padding-left:0px;margin-left:0px;">
			<ammap3 ng-model='documents' schema='selectedSchema' ></ammap3>
			<div class="mapPopup" ng-click="toggleCaption=!toggleCaption;" ng-show="toggleCaption">
				<p>{{message}}</p>
				<button type="button" class="closeButton"></button>
			</div>
		</div>
	</div>
</div>