<div>
  <div class="hidden-xs">
      <div class="container sub-nav">
        <ul class="nav navbar-nav">
            <li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actors/country" >Parties & Govs.</a> <i ng-if="highlightLink=='country' ||  path=='/actors/country'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        </ul>
      </div>
  </div>


    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Aichi Biodiversity Targets Task Force (ABTTF)</h1>

                <p><span>The Aichi Biodiversity Targets Task Force was established to provide a platform for agencies and organizations to coordinate their activities in support of implementation of the <a href="https://www.cbd.int/sp/"><span  >Strategic Plan for Biodiversity 2011-2020</span></a> and its <a href="https://www.cbd.int/sp/targets/"><span  >Aichi Biodiversity Targets</span></a> at global and national levels during the United Nations Decade on Biodiversity.</span></p>

                <p><span>A <a href="https://www.cbd.int/doc/agreements/agmt-aichi2020-aze-2011-09-20-moc-web-en.pdf"><span  >Memorandum of Cooperation (MoC)</span></a> signed on 20 September 2011 between the Secretariat of the Convention on Biological Diversity (CBD) and 27 international agencies, organizations and environmental conventions, aims to achieve and implement the Strategic Plan for Biodiversity and its Aichi Targets. Two more organizations have joined since.</span></p>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Memorandum of Cooperation</h5>
                            <p>Aichi Biodiversity Targets Task Force</p>
                            <p><a href="https://www.cbd.int/doc/agreements/agmt-aichi2020-aze-2011-09-20-moc-web-en.pdf">En</a>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/pdf-file.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Strategic Plan for Biodiversity 2011-2020</h5>

                            <p><a href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-EN.pdf">En</a> <a href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-ES.pdf">Es</a> <a href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-FR.pdf">Fr</a>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/strategic-plan.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-12">

                <h1 style="padding-bottom:30px;">The members of the ABTTF are:</h1>
            </div>
        </div>

<actors-list abttf-only="true" items-per-page="30" hide-search="true" ></actors-list>
    </div>
</div>
