<div>
    <div class="sub-nav hidden-xs">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='champions'" ng-mouseleave="highlightLink=''"><a href="actors/champions" >Biodiversity Champions</a> <i ng-if="highlightLink=='champions' ||  path=='/actors/champions'" style="position:relative;top:-4px;left:70px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Aichi Biodiversity Targets Task Force (ABTTF)</h1>
                <p>The Aichi Biodiversity Targets Task Force was established to provide a platform for agencies to coordinate their activities in support of implementation of the <a href="">Strategic Plan for Biodiversity 2011-2020</a> and its Aichi Biodiversity Targets at global and national levels during the United Nations Decade on Biodiversity.
                </p><p>A <a href="">Memorandum of Cooperation (MoC)</a> signed on 20 September 2011 between the Secretariat of the Convention on Biological Diversity (CBD) and 27 international agencies, organizations and environmental conventions, aims to achieve and implement the Strategic Plan for Biodiversity and its Aichi Targets. Two more organizations have joined since.
                </p>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-8  col-md-4 col-md-offset-1">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Memorandum of Cooperation</h5>
                            <p>Aichi Biodiversity Targets Task Force</p>
                            <p><a href="#">En</a> <a href="#">Es</a> <a href="#">Fr</a>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/pdf-file.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-md-4 col-md-offset-1">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Strategic Plan for Biodiversity 2011-2020</h5>
                            <p><a href="#">En</a> <a href="#">Es</a> <a href="#">Fr</a>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/strategic-plan.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-12">
                
                <h1>The members of the ABTTF are:</h1> 
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-2 ">
                <img src="app/images/FAO.png" class="img-block" width="100%" alt="" >
            </div>
            <div class="col-xs-8">
                <h4>Food and Agriculture Organization</h4>
                <p>An intergovernmental organization, FAO has 194 Member Nations, two associate members and one member organization, the European Union. Its employees come from various cultural backgrounds and are experts in the multiple fields of activity FAO engages in. FAO’s staff capacity allows it to support improved governance inter alia, generate, develop and adapt existing tools and guidelines and provide targeted governance support as a resource to country and regional level FAO offices. Headquartered in Rome, ItaFAO is present in over  130 countries <a href="">&gt;</a>
                </p>
            </div> 
        </div>

        <div class="row article">
            <div class="col-xs-2 ">
                <img src="app/images/IDLO.png" class="img-block" width="100%"  alt="">
            </div>
            <div class="col-xs-8">
                <h4>International Development Law Organization</h4>
                <p>IDLO is the only intergovernmental organization with an exclusive mandate to promote the rule of law. Governments, multilateral organizations, private foundations and sector support our work  <a href="">&gt;</a>
                </p>
            </div> 
        </div>

        <div class="row article">                                 
            <div class="col-xs-2" >
                <img src="app/images/UNDP.png" class="img-block"  alt="">
            </div>
            <div class="col-xs-8">
                <h4>United nations Development Programme</h4>
                    <p>UNDP works in more than 170 countries and territories, helping to achieve the eradication of poverty, and the reduction of inequalities and exclusion. We help countries to develop policies, leadership skills, partnering abilities, institutional capabilitieresilience in order to sustain development       results  <a href="">&gt;</a>
                </p>
            </div>  
        </div>

    </div>
</div>
