<style>
	.action-title h1 {
		color: #069554;
		font-size: 26px;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		line-height: 29px;
		padding-bottom: 20px;
	}

	.action-detail {
		padding: 5px 5px 5px 0px;
	}

	.action-detail .detail {
		padding-left: 10px;
	}

	.action-detail .map {
		font-size: 10px;
	}

	.action-detail .action-labels {
		color: #069554;
	}
	.img-container {
    width: 200px; /* whatever set width */
    height: 200px;
    display: inline-block; /* or you could float them */
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

</style>
<div class="hidden-xs">
	<div class="container sub-nav">
		<ul class="nav navbar-nav">
			<li ng-mouseover="highlightLink='worldwide'" ng-mouseleave="highlightLink=''"><a href="actions/worldwide">Worldwide</a> <i ng-if="highlightLink=='worldwide' || path=='/actions/worldwide'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
			<li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actions/country">By Country</a> <i ng-if="highlightLink=='country' ||  path=='/actions/country'" style="position:relative;top:-4px;left:30px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
			<li ng-mouseover="highlightLink='calendar'" ng-mouseleave="highlightLink=''"><a href="actions/calendar">Calendar</a> <i ng-if="highlightLink=='calendar' ||  path=='/actions/calendar'" style="position:relative;top:-4px;left:22px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
			<li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
		</ul>
	</div>
</div>
<div class="container center profile">


	<div class="profile-border">

		<div class="col-md-3 col-lg-3" style="overflow:hidden;">
			<div class="profile-column">
<div class="img-container" ng-if="partner.logo_s">

			<img ng-src="{{partner.logo_s}}"  class="img-responsive" style="width:100%;" ></img>

</div>
<links-display document="partner"> </links-display>
</div>
		</div>

		<div class="col-xs-12  col-sm-12 col-md-9 col-lg-9 tab-content text-left">
			<div role="tabpanel" class="tab-pane fade in  active" id="UNDB">
				<div class="article">
					<div class="action-title">
						<h1>{{partner.title_s}}</h1>
					</div>

					<div>
						<p>{{partner.description_s}}</p>
					</div>
				</div>
			</div>
		</div>
		<!-- END DIV BORDER ( colum + center ) -->
	</div>
	<!-- END DIV CENTER -->
</div>
