<div>
  <div class="hidden-xs">
      <div class="container sub-nav">
        <ul class="nav navbar-nav">
          <li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actors/country" >Parties & Govs.</a> <i ng-if="highlightLink=='country' ||  path=='/actors/country'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        </ul>
      </div>
  </div>


    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Biodiversity Liaison Group (BLG)</h1>
                <p ><span >The mandate for establishing the Liaison Group of Biodiversity-related Conventions responds to CBD COP</span><span > <a href="https://www.cbd.int/decision/cop/?id=7763"><span >decision VII/26</span></a></span><span > (paragraphs 1 and 2) adopted during the seventh meeting of the Conference of the Parties to the Convention on Biological Diversity.</span></p>

                <p ><span >Through CBD COP <a href="https://www.cbd.int/decision/cop/?id=11670"><span >decision IX/27</span></a> (paragraphs 3 and 4) the Conference of the Parties to the CBD underlined the important role of the Liaison Group of Biodiversity-related Conventions, encouraged more regular meetings and invited the Group to identify options for improved implementation of and cooperation among the biodiversity-related conventions. CBD COP <a href="https://www.cbd.int/decision/cop/?id=12295"><span >decision X/20</span></a> then sought a strengthening of the effectiveness of the Biodiversity Liaison Group, enhanced cooperation and a coherent approach on cross-cutting issues, paragraphs 4, 8 and 9.</span></p>

                <p ><span >Each of the biodiversity-related conventions works to implement actions at the national, regional and international levels in order to reach shared goals of conservation and sustainable use of biodiversity. To meet their objectives, the conventions have developed a number of complementary approaches and operational tools. Signatories include:</span></p>

            </div>
        </div>
      <actors-list blg-only="true" items-per-page="30"  hide-search="true"></actors-list>

    </div>
</div>
