<div>
    <div class="sub-nav">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='champions'" ng-mouseleave="highlightLink=''"><a href="actors/champions" >Biodiversity Champions</a> <i ng-if="highlightLink=='champions' ||  path=='/actors/champions'" style="position:relative;top:-4px;left:70px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Biodiversity Liaison Group (BLG)</h1>
                <p>The mandate for establishing the Liaison Group of Biodiversity-related Conventions responds to decision VII/26 (paragraphs 1 and 2) adopted during the seventh meeting of the Conference of the Parties to the Convention on Biological Diversity.
                </p><p>Through CBD COP decision IX/27 (paragraphs 3 and 4) the Conference of the Parties to the CBD underlined the important role of the Liaison Group of Biodiversity-related Conventions, encouraged more regular meetings and invited the Group to identify options for improved implementation of and cooperation among the biodiversity-related conventions. CBD COP decision X/20 then sought a strengthening of the effectiveness of the Biodiversity Liaison Group, enhanced cooperation and a coherent approach on cross-cutting issues, paragraphs 4, 8 and 9.
                </p><p>Each of the biodiversity-related conventions works to implement actions at the national, regional and international levels in order to reach shared goals of conservation and sustainable use of biodiversity. To meet their objectives, the conventions have developed a number of complementary approaches and operational tools. Signatories include:
                </p>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-2 ">
                <img src="app/images/cbd-logo-spine-green-en.png" class="img-block"  alt="" >
            </div>
            <div class="col-xs-8">
                <h4>Convention on Biological Diversity (CBD)</h4>
                <p class="text-box">The CBD is an international treaty which entered into force on 29 December 1993. It has 3 main objectives:</p>
                <ul class="basic-list">
                    <li>The conservation of biological diversity
                    </li><li>The sustainable use of the components of biological diversity
                    </li><li>The fair and equitable sharing of the benefits arising out of the utilization of genetic resources
                    </li>
                </ul>
            </div> 
        </div>

        <div class="row article">
            <div class="col-xs-2 ">
                <img src="app/images/CITES.png" class="img-block" width="100%"  alt="">
            </div>
            <div class="col-xs-8">
                <h4>Convention on International Trade in Endangered Species of Wild Fauna and Flora (CITES)</h4>
                <p>CITES is an international agreement between governments, which aim is to ensure that international trade in specimens of wild animals and plants does not threaten their survival.</p>
            </div> 
        </div>

        <div class="row article">                                 
            <div class="col-xs-2" >
                <img src="app/images/ramsar.png" class="img-block" width="100%"  alt="">
            </div>
            <div class="col-xs-8">
                <h4>Ramsar Convention on Wetlands (Ramsar)</h4>
                    <p>The Ramsar Convention is the intergovernmental treaty that provides the framework for the conservation and wise use of wetlands and their resources. The Convention was adopted in the Iranian city of Ramsar in 1971 and came into force in 1975. Since then, almost 90% of UN member states, from all the world’s geographic regions, have acceded to become “Contracting Parties”.</p>
                </p>
            </div>  
        </div>
    </div>
</div>
