<div>
    <div class="sub-nav">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='champions'" ng-mouseleave="highlightLink=''"><a href="actors/champions" >Biodiversity Champions</a> <i ng-if="highlightLink=='champions' ||  path=='/actors/champions'" style="position:relative;top:-4px;left:70px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Biodiversity Champions</h1>
                <h4>Become a Biodiversity Champion by pledging support to achieve Aichi Biodiversity Targets!</h4>
                <p>Launched during the eleventh meeting of the Conference of the Parties to the Convention on Biological Diversity (<a href="https://www.cbd.int/cop11/">COP 11</a>), the <a href="https://www.cbd.int/champions/">Hyderabad Call for Biodiversity Champions</a> aims to highlight Parties' commitment to biodiversity and to encourage all stakeholders to commit resources towards biodiversity in the spirit of <a href="https://www.cbd.int/decision/cop/default.shtml?id=13165">decision XI/4</a>
                </p><p>India became the first Biodiversity Champion during the COP 11 High-level Segment, when India’s Prime Minister announced the earmarking of US$50 million towards strengthening institutional mechanisms, enhancing technical and human capabilities for biodiversity conservation in India, and promoting similar capacity building in other developing countries during India's COP Presidency.
                </p><p>The Champions campaign seeks to highlight truly inventive, creative and exceptional examples of support to the Strategic Plan for Biodiversity 2011-2020. Its potential strength comes from the unique and memorable nature of the pledges, and the commitments to implementation that they bring.
                </p><p>Like the Government of India, and soon many others, you can become a Biodiversity Champion. Your pledge should be an exceptional contribution and initiative in support of the Aichi Biodiversity Targets, which can be used to inspire further action.Your pledge can:
                </p>
                <ul class="basic-list">
                    <li>Support one or more Aichi Biodiversity Targets
                    </li><li>Cover a particular region or sub-region
                    </li><li>Include financial, technical, or other forms of support
                    </li><li>Be time-bound
                    </li>
                </ul>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-2 col-xs-offset-9">
                <button type="button" class="btn bg-cbdgreen" aria-haspopup="true" aria-expanded="false">
                      Find out more <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>

        <div class="row article">
            <div class="col-sm-11 col-sm-offset-1"> 
                <h1>The Biodiversity Champions and their pledges are:</h1> 
                list goes here!
            </div>
        </div>
    </div>
</div>
