<div>
  <div class="hidden-xs">
    <div class="container sub-nav">
      <ul class="nav navbar-nav">
        <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='champions'" ng-mouseleave="highlightLink=''"><a href="actors/champions">Biodiversity Champions</a> <i ng-if="highlightLink=='champions' ||  path=='/actors/champions'" style="position:relative;top:-4px;left:70px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg">BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg">JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners">UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row article">
      <div class="col-xs-12">
        <h1>Biodiversity Champions</h1>
        <p><span>Launched during the eleventh meeting of the Conference of the Parties to the Convention on Biological Diversity (<a href="https://www.cbd.int/cop11/"><span>COP 11</span></a>), the <a href="https://www.cbd.int/champions/"><span>Hyderabad Call for Biodiversity Champions</span></a> aims to highlight Parties&#39; commitment to biodiversity and to encourage all stakeholders to commit resources towards biodiversity in the spirit of Decision XI/4.</span></p>

        <p><span>India became the first Biodiversity Champion during the COP 11 High-level Segment, when India&rsquo;s Prime Minister announced the earmarking of US$50 million towards strengthening institutional mechanisms, enhancing technical and human capabilities for biodiversity conservation in India, and promoting similar capacity building in other developing countries during India&#39;s COP Presidency.</span></p>

        <p><span>The Champions campaign seeks to highlight truly inventive, creative and exceptional examples of support to the </span><span> <a href="https://www.cbd.int/sp/"> Strategic Plan for Biodiversity 2011-2020</a></span><span>. Its potential strength comes from the unique and memorable nature of the pledges, and the commitments to implementation that they bring.</span></p>

        <p><span>Like the Government of India, and soon many others, you can become a Biodiversity Champion. Your pledge should be an exceptional contribution and initiative in support of the Aichi Biodiversity Targets, which can be used to inspire further action. Your pledge can:</span></p>

        <ul class="basic-list">
        	<li><span class="s4">Support one or more </span><span><a href="https://www.cbd.int/sp/targets/"> Aichi Biodiversity Targets</a></span></li>
        	<li><span>Cover a particular region or sub-region</span></li>
        	<li><span>Include financial, technical, or other forms of support</span></li>
        	<li><span>Be time-bound</span></li>
        </ul>


      </div>
    </div>
    <div class="row article" style="display:none">
      <div class="col-sm-2 col-sm-offset-10">
        <button type="button" class="btn bg-cbdgreen" aria-haspopup="true" aria-expanded="false">
          Find out more <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <div class="row article">
      <div class="col-xs-12">

        <h1>The Biodiversity Champions and their pledges are:</h1>
      </div>
    </div>

    <div ng-repeat-start="doc in docs" class="row article">
      <div class="col-xs-1 ">
        <img ng-src="{{doc.imgURL}}" width="100%" alt="">
      </div>
      <div class="col-xs-8">
        <h4>{{doc.name}}</h4>
        <h5>Rank: {{doc.rank}}</h5>
        <span ng-bind-html="trustHtml('<p>'+doc.pledge+'</p>')">

        </span>

        <!-- <p class="text-box">{{doc.pledge}} -->
        </p>
      </div>
    </div>
    <div ng-repeat-end class="push20"></div>


  </div>
</div>