<div>
  <div class="hidden-xs">
      <div class="container sub-nav">
        <ul class="nav navbar-nav">
          <li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actors/country" >Parties & Govs.</a> <i ng-if="highlightLink=='country' ||  path=='/actors/country'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        </ul>
      </div>
  </div>


    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Cancun Commitments and Coalitions for Enhanced Implementation</h1>
                <p >Parties and other Governments, along with partner organizations and other stakeholders, are invited to announce actions underway that are related to particular Aichi Biodiversity Targets or groups of targets, or to make commitments for planned actions in support of the Convention and the <a href="https://www.cbd.int/sp/"> Strategic Plan for Biodiversity 2011-2020</a></p>

                <p >It is expected that such actions and commitments should be:
                    <ul class="basic-list">
                      <li> commensurate with the scale and scope of the global Aichi Biodiversity Targets, and</li>
                      <li> include clear timelines and mechanisms to track progress against specific baselines, with clear progress expected within a two-year or four-year period.</li>
                    </ul>
                </p>

<p>Linkages between such actions and the achievement of certain <a href="https://sustainabledevelopment.un.org/sdgs"> Sustainable Development Goals (SDGs)</a> can also be highlighted.</p>

<p>
  Such commitments can either be those of a single Party, or, they might take the form of a “Coalition for Enhanced Implementation” – with a group of Parties, and supporting partners as appropriate.
</p>
<p>

</p>
<p>Such a coalition can include:
  <ul class="basic-list">
    <li>Leading Parties: Countries that have already achieved, or that are already undertaking activities that put them on track to achieve a given Aichi Target or group of targets (or element of the target(s)). Such countries may also pledge further commitments and actions, and/or offer technical or other support to other countries willing to make pledges.
 </li>
<li>Implementing Parties: Countries making commitments to further enhance actions to achieve the Target(s). Such countries may need technical or other support to do so.</li>
<li>Enabling partners: Organizations that commit to support countries in the coalition to support the target(s) through clearly measureable activities and private sector entities making substantive contributions towards the target(s).
 </li>
  </ul>
</p>
<p>  <a href="https://www.cbd.int/cop2016/ccc/">Read more ></a> </p>

            </div>
        </div>
      <actors-list coalitions-only="true" items-per-page="30"  hide-search="true"></actors-list>

    </div>
</div>
