<div>
    <div class="sub-nav">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='champions'" ng-mouseleave="highlightLink=''"><a href="actors/champions" >Biodiversity Champions</a> <i ng-if="highlightLink=='champions' ||  path=='/actors/champions'" style="position:relative;top:-4px;left:70px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <!-- abttf section -->
            <div class="col-xs-12 article" ng-if="path=='/actors/abttf'">
                <h1>ABTTF</h1>
            </div>
            <!--END abttf section -->

            <!-- champions section -->
            <div class="col-xs-12 article" ng-if="path=='/actors/champions'">
                <h1>Biodiversity Champions</h1>

            </div>
            <!--END champions section -->

            <!-- blg section -->
            <div class="col-xs-12 article" ng-if="path=='/actors/blg'">
                <h1>BLG</h1>
            </div>
            <!--END blg section -->

            <!-- jlg section -->
            <div class="col-xs-12 article" ng-if="path=='/actors/jlg'">
                <h1>JLG</h1>
            </div>
            <!--END jlg section -->

            <!-- partners section -->
            <div class="col-xs-12 article" ng-if="path=='/actors/partners'">
                <h1>UNDB Partners</h1>
            </div>
            <!--END partners section -->


        </div>
    </div>
</div>
