<div>
  <div class="hidden-xs">
      <div class="container sub-nav">
        <ul class="nav navbar-nav">
          <li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actors/country" >Parties & Govs.</a> <i ng-if="highlightLink=='country' ||  path=='/actors/country'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        </ul>
      </div>
  </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Actors of the United Nations Decade on Biodiversity</h1>
                <p  ><span  >Safeguarding biodiversity calls for the active involvement of all citizens, businesses, governments and organizations. Collectively, we need to build a vast network to communicate the importance of biodiversity with the rest of world. Very substantial changes from business-as-usual trends are needed in order to address the challenges we face: to slow and stop the loss of biodiversity.&nbsp;</span></p>

                <p  ><span  >Actors of the United Nations Decade on Biodiversity are making a long-term commitment to promote biodiversity in all their activities and communications. They are committing to take action for positive change.</span></p>

                <p  ><span  >The UNDB provides an opportunity to highlight the activities of those who work at the international, national or local levels, who do work related to safeguarding biodiversity, through this website.</span></p>

                <p  ><span  >There are different categories of Actors:</span></p>
            </div>
        </div>
        <div class="row article">
          <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
              <a ng-click="goTo('/actors/country')" style="cursor:pointer;">
                  <div class="box-rounded-sm-green border-bottom-cbd-green box-bg-fish-water-green col-middle">
                    <h5>Parties to the CBD and other Governments</h5>
                    <p>Implementing the Stategic Plan for Biodiversity 2011-2020</p>
                  </div>
              </a>
          </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a ng-click="goTo('/actors/abttf')" style="cursor:pointer;">
                    <div class="box-rounded-sm-green border-bottom-cbd-green box-bg-people-green col-middle">
                    <h5>Aichi Biodiversity Targets Task Force</h5>
                    <p>Supporting the implementation of the Strategic Plan for Biodiversity</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a ng-click="goTo('/actors/jlg')" style="cursor:pointer;">
                    <div class="box-rounded-sm-green border-bottom-cbd-green box-bg-flamingo-green col-middle">
                    <h5>Rio Conventions</h5>
                    <p>Enhancing coordination between the CBD, UNCCD and UNFCCC</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <a ng-click="goTo('/actors/blg')" style="cursor:pointer;">
                    <div class="box-rounded-sm-green border-bottom-cbd-green box-bg-bee-green col-middle">
                    <h5>Biodiversity Liaison Group</h5>
                    <p>Contributing to implementation of the Strategic Plan for Biodiversity</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a ng-click="goTo('/actors/partners')" style="cursor:pointer;">
                    <div class="box-rounded-sm-green border-bottom-cbd-green box-bg-tree-green col-middle">
                    <h5>UNDB Partners</h5>
                    <p>Make a commitment to help promote biodiversity</p>
                    </div>
                </a>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4" ng-click="goTo('/actors/partners/207399')">
              <a ng-click="goTo('/actors/partners/207399')">
                    <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle pointer">
                        <div class="row">
                            <div class="col-xs-8 text-nowrap">
                                <a ng-click="goTo('/actors/partners/207399')">  <h5>Global Environment Facility</h5>
                                  <p>Investing in our planet</p></a>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="https://chm.cbd.int/api/v2013/documents/52413a4a-854e-3b20-a753-1910c9e3ed13/attachments/gef.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                  </a>
            </div>

        </div>

      <actors-list  items-per-page="25" ></actors-list>
      </div>
</div>
