<div>
  <div class="hidden-xs">
      <div class="container sub-nav">
        <ul class="nav navbar-nav">
          <li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actors/country" >Parties & Govs.</a> <i ng-if="highlightLink=='country' ||  path=='/actors/country'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        </ul>
      </div>
  </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Rio Conventions: Joint Liaison Group (JLG)</h1>
                <p>The Joint Liaison Group (JLG) between the secretariats of the Convention on Biological Diversity (CBD), the United Nations Convention to Combat Desertification (UNCCD) and the United Nations Framework Convention on Climate Change (UNFCCC) was established with the aim of enhancing coordination between the three conventions including cooperation concerning the links between climate change, biodiversity and desertification. All three secretariats currently collaborate through information sharing and outreach, including the development of common messages. Further collaboration focuses on ensuring that Parties are kept informed of relevant initiatives in other conventions.
                </p>
            </div>
        </div>
        <div class="article">
        <!-- <h1> The UNDB Partners are:</h1> -->
      </div>
      <actors-list jlg-only="true" items-per-page="30"  hide-search="true"  ></actors-list>

    </div>
</div>
