<div>
    <div class="hidden-xs">
        <div class="container sub-nav">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='champions'" ng-mouseleave="highlightLink=''"><a href="actors/champions" >Biodiversity Champions</a> <i ng-if="highlightLink=='champions' ||  path=='/actors/champions'" style="position:relative;top:-4px;left:70px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Rio Conventions: Joint Liaison Group (JLG)</h1>
                <p>The Joint Liaison Group (JLG) between the secretariats of the Convention on Biological Diversity (CBD), the United Nations Convention to Combat Desertification (UNCCD) and the United Nations Framework Convention on Climate Change (UNFCCC) was established with the aim of enhancing coordination between the three conventions including cooperation concerning the links between climate change, biodiversity and desertification. All three secretariats currently collaborate through information sharing and outreach, including the development of common messages. Further collaboration focuses on ensuring that Parties are kept informed of relevant initiatives in other conventions.
                </p>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-2 ">
                <img src="app/images/cbd-logo-spine-green-en.png" width="70%" alt="" >
            </div>
            <div class="col-xs-8">
                <h4>Convention on Biological Diversity (CBD)</h4>
                <p class="text-box">The CBD is an international treaty which entered into force on 29 December 1993. It has 3 main objectives:</p>
                <ul class="basic-list">
                    <li>The conservation of biological diversity
                    </li><li>The sustainable use of the components of biological diversity
                    </li><li>The fair and equitable sharing of the benefits arising out of the utilization of genetic resources
                    </li>
                </ul>
            </div>
        </div>
        <div class="push20"></div>
        <div class="row article">
            <div class="col-xs-2 ">
                <img src="app/images/UNCCD.png" width="90%"  alt="">
            </div>
            <div class="col-xs-8">
                <h4>United Nations Convention to Combat Desertification (UNCCD)</h4>
                <p>Established in 1994, UNCCD is the sole legally binding international agreement linking environment and development to sustainable land management. The Convention addresses specifically the arid, semi-arid and dry sub-humid areas, known as the drylands, where some of the most vulnerable ecosystems and peoples can be found</p>
            </div>
        </div>
        <div class="push20"></div>
        <div class="row article">
            <div class="col-xs-2" >
                <img src="app/images/UNFCCC.png" width="100%"  alt="">
            </div>
            <div class="col-xs-8">
                <h4>United Nations Framework Convention on Climate Change (UNFCCC)</h4>
                    <p>The UNFCCC entered into force on 21 March 1994. Today, it has near-universal membership, with 195 Parties. Preventing “dangerous” human interference with the climate system is the ultimate aim of the UNFCCC..</p>
                </p>
            </div>
        </div>
    </div>
</div>
