<div>
  <div class="hidden-xs">
      <div class="container sub-nav">
        <ul class="nav navbar-nav">
          <li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actors/country" >Parties & Govs.</a> <i ng-if="highlightLink=='country' ||  path=='/actors/country'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
          <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        </ul>
      </div>
  </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>UNDB Partners</h1>
                <p>Safeguarding biodiversity is a task that calls for the active involvement of all citizens, businesses, governments and organizations. Partners to the United Nations Decade on Biodiversity are making a long-term commitment to promote the United Nations Decade on Biodiversity in all their activities and communications. They are committing to take action for positive change.
                </p>
                <p>We are looking to partner with those who work at the international, national or local levels, who do work related to safeguarding biodiversity, and would like to publicize their information products and activities through this website.
                </p>
                <p>By becoming a partner you agree to do the following:</p>
                <ul class="basic-list">
                    <li>Use the logo and messages in all your biodiversity work from 2011 to 2020
                    </li><li>Name a focal point (resource person) who can brief the world, including us, on your activities
                    </li><li>Provide an outline of your activities and its results for publication on this website
                    </li><li>Contribute to this website by sending success stories
                    </li><li>Make your information products available to the world for distribution and dissemination at no additional cost.
                    </li>
                </ul>
                <p>We also invite you to be in touch with your national committee for the United Nations Decade on Biodiversity and to build a network of partnerships.
                </p>
                <p>If you wish to become a UNDB Partner, please fill the <a href="actors/submit">partnership form</a>.
                </p>
                <p>Thank you!
                </p>
            </div>
        </div>
        <div class="article">
        <h1> The UNDB Partners are:</h1>
      </div>
      <actors-list partners-only="true" items-per-page="30" ></actors-list>

    </div>
</div>
