<div class="hidden-xs">
    <div class="container sub-nav">
      <ul class="nav navbar-nav">
        <li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actors/country" >Parties & Govs.</a> <i ng-if="highlightLink=='country' ||  path=='/actors/country'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='abttf'" ng-mouseleave="highlightLink=''"><a href="actors/abttf">ABTTF</a> <i ng-if="highlightLink=='abttf' || path=='/actors/abttf'" style="position:relative;top:-4px;left:18px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='blg'" ng-mouseleave="highlightLink=''"><a href="actors/blg" >BLG</a> <i ng-if="highlightLink=='blg' ||  path=='/actors/blg'" style="position:relative;top:-4px;left:8px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='jlg'" ng-mouseleave="highlightLink=''"><a href="actors/jlg" >JLG</a> <i ng-if="highlightLink=='jlg' ||  path=='/actors/jlg'" style="position:relative;top:-4px;left:5px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='partners'" ng-mouseleave="highlightLink=''"><a href="actors/partners" >UNDB Partners</a> <i ng-if="highlightLink=='partners' ||  path=='/actors/partners'" style="position:relative;top:-4px;left:35px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      </ul>
    </div>
</div>
<div id="submit" >
    <div class="container">

        <div class="row">
            <h1>My Actors <i ng-show="loading" ng-class="{ 'fa-spin':loading }" class="fa fa-spinner"></i></h1>
        </div>

        <div class="row" >

            <div style="display:inline;">
                <input  type="text" ng-model="freetext" ng-change="onText()" class="btn btn-default bg-white" placeholder="keyword">
            </div>
            <div style="display:inline;">
                <a ng-click="status=''; onPage(0)" class="btn btn-default btn-info"><i ng-show="status==''" class="fa fa-check"></i> ALL</a>
            </div>
            <div style="display:inline;">
                <a ng-click="status='public'; onPage(0)" class="btn btn-default bg-published"><i ng-show="status=='public'" class="fa fa-check"></i> PUBLISHED <span class="badge bg-white">{{facets.public}}</span> </a>
            </div>

            <div style="display:inline;">
                <a ng-click="status='draft'; onPage(0)" class="btn btn-default bg-draft"><i ng-show="status=='draft'" class="fa fa-check"></i> DRAFTS <span class="badge bg-white">{{facets.draft}}</span></a>
            </div>

            <div style="display:inline;">
                <a ng-click="status='workflow'; onPage(0)" class="btn btn-default bg-request"><i ng-show="status=='draft-lock'" class="fa fa-check"></i> REQUESTS <span class="badge bg-white">{{facets.workflow}}</span></a>
            </div>

            <div style="display:inline;" class="pull-right">
                <a class="btn btn-default" ng-click="onReloadList()"> Refresh List</a>
                <a class="btn btn-primary" ng-click="onAdd()"> Add New </a>
            </div>

        </div>
    </div>

    <hr>

    <div class="container">
        <div class="row" >

              <div class="col-xs-3 text-no-wrap" style="color:#333;font-size:14px;padding-left:0px;">
                  <div style="margin-top:25px;">
                      <span>
                            <span class="badge">{{((currentPage*pageSize)+1)}}</span>
                      <span ng-if="((currentPage+1)*(records.length))===((currentPage+1)*(pageSize))">  -  <span class="badge" >{{(currentPage+1)*(records.length)}}</span></span>
                      <span ng-if="((currentPage+1)*(records.length))!==((currentPage+1)*(pageSize))">  -  <span class="badge" >{{recordCount}}</span></span>
                      of
                      <span class="badge">{{recordCount}}</span> records
                      <span ng-if="freetext"><br> for <span class="color-cbdgreen">"{{freetext}}"</span></span>
                      </span>
                  </div>
              </div>

              <div class="col-xs-7 ">
                  <nav class="pull-right" ng-show="pages.length>1">
                      <ul class="pagination">
                          <li>
                              <a ng-click="onPage(currentPage-1)" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                              </a>
                          </li>
                          <li ng-repeat="page in pages" ng-class="{ active : currentPage==page.index }">
                              <a href="#" ng-click="onPage(page.index)">{{page.text}}</a>
                          </li>
                          <li>
                              <a ng-click="onPage(currentPage+1)" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>

              <div class="col-xs-2 text-nowrap">
                  <div class="form-group form-inline" style="color:#333;font-size:14px;margin-top:20px;">
                      <span style="color:#333;font-size:14px;">Records per page:</span>
                      <select style="display:inline;" class="form-control" ng-model="pageSize" ng-change="onPage(0)" convert-to-number>
                          <option ng-value="5" ng-selected="pageSize===5" >5</option>
                          <option ng-value="10" ng-selected="pageSize===10">10</option>
                          <option ng-value="15" ng-selected="pageSize===15" ng-selected="true">15</option>
                          <option ng-value="20" ng-selected="pageSize===20">20</option>
                          <option ng-value="50" ng-selected="pageSize===50">50</option>
                          <option ng-value="100" ng-selected="pageSize===100">100</option>
                      </select>
                  </div>
              </div>

            <table class="table table-striped">
            	<thead>
            		<tr>
            		<th style="white-space:nowrap;" >Summary</th>
            		<th style="white-space:nowrap;" class="hidden-xs">Created By</th>
            		<th style="white-space:nowrap;" >Last Update</th>
            		<th style="white-space:nowrap;width:100px;">Status</th>
            		<th style="white-space:nowrap;width:100px;" class="text-right">&nbsp;</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr ng-repeat="record in records">
            			<td class="descr">
                            <h5 class="title" style="margin:0;padding:0;">
                                <span ng-if="record._state_s=='draft'">{{(record.title ||  record.identifier_s) | lstring }}</span>
                                <a    ng-if="record._state_s=='public'"  ng-href="#" ng-click="goTo('/actors/partners/',record.id);">{{(record.title || record.identifier_s) | lstring}}</a>
                                <i    ng-show="record._state_s=='workflow'" class="fa fa-lock"></i>
                            </h5>
                            <div class="hidden-xs" style="white-space: pre-wrap;" >{{record.summary | lstring | truncate:(record.truncate||350):'...'}} <a ng-hide="record.truncate || (record.summary | lstring).length<=350" href="#" ng-click="record.truncate=100000">more <i class="fa fa-caret-down"></i></a><a ng-show="record.truncate" href="#" ng-click="record.truncate=undefined">less <i class="fa fa-caret-up"></i></a></div>
                            </td>
            			<td class="createdby hidden-xs">
                            <div title="{{record.createdByEmail_s}}">{{record.createdBy_s}}</div>
                            <div title="{{record.createdDate_dt | moment:'format':'YYYY-MM-DD HH:MM'}}" class="date" >{{record.createdDate_dt | fromNow}}</div>
                        </td>
            			<td class="udpatedby">
                            <div title="{{record.updatedByEmail_s}}">{{record.updatedBy_s}}</div>
                            <div title="{{record.updatedDate_dt | moment:'format':'YYYY-MM-DD HH:MM'}}" class="date" >{{record.updatedDate_dt | fromNow}}</div>
                            </td>
            			<td class="status" style="text-align:center">
                            <span ng-show="record._state_s=='public' || record._revision_i>1" class="label label-default bg-published">PUBLISHED</span>
                            <span ng-show="record._state_s=='draft'"    class="label label-default bg-draft">DRAFT</span>
                            <span ng-show="record._state_s=='workflow'" class="label label-default bg-request">REQUEST</span>
                            <div  ng-show="record._state_s=='workflow'" style="margin-top:5px"><a href="#" ng-click="onWorkflow(record)">{{formatWID(record._workflow_s)}}</a></div>
                        </td>
            			<td class="edit text-right">
            				<div class="btn-group btn-group-xs"  >
                                <a title="View" ng-if="record._state_s == 'public'" type="button" class="btn btn-default" ng-href="#" ng-click="goTo('/actors/partners/',record.id);"><i class="fa fa-search"></i></a>
            					<button ng-show    ="record._state_s=='workflow' " title="Locked for edit" type="button" class="btn btn-default" ng-click="onWorkflow(record)"><i class="fa fa-lock"></i></button>
            					<button ng-hide    ="record._state_s=='workflow' || (record._state_s=='public' && schema=='nationalIndicator')" title="Edit"            type="button" class="btn btn-default" ng-click="onEdit(record)"><i class="fa fa-edit"></i></button>
            					<button ng-hide    ="record._state_s=='workflow' || (record._state_s=='public' && schema=='nationalIndicator')" title="Delete"          type="button" class="btn btn-default" ng-click="onDelete(record, $event)"><i class="fa fa-trash-o"></i></button>
            				</div>
            			</td>
            		</tr>

            		<tr ng-show="records.length==0">
                        <td colspan="6">
                            No records found. You have not yet created any records of this type. Click on "add new" to create a new record.
            			</td>
                    </tr>

            	</tbody>


            </table>
            <div class="col-xs-3 text-no-wrap" style="color:#333;font-size:14px;padding-left:0px;">
                <div style="margin-top:25px;">
                    <span>
                          <span class="badge">{{((currentPage*pageSize)+1)}}</span>
                    <span ng-if="((currentPage+1)*(records.length))===((currentPage+1)*(pageSize))">  -  <span class="badge" >{{(currentPage+1)*(records.length)}}</span></span>
                    <span ng-if="((currentPage+1)*(records.length))!==((currentPage+1)*(pageSize))">  -  <span class="badge" >{{recordCount}}</span></span>
                    of
                    <span class="badge">{{recordCount}}</span> records
                    <span ng-if="freetext"><br> for <span class="color-cbdgreen">"{{freetext}}"</span></span>
                    </span>
                </div>
            </div>

            <div class="col-xs-7 ">
                <nav class="pull-right" ng-show="pages.length>1">
                    <ul class="pagination">
                        <li>
                            <a ng-click="onPage(currentPage-1)" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li ng-repeat="page in pages" ng-class="{ active : currentPage==page.index }">
                            <a href="#" ng-click="onPage(page.index)">{{page.text}}</a>
                        </li>
                        <li>
                            <a ng-click="onPage(currentPage+1)" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-xs-2 text-nowrap">
                <div class="form-group form-inline" style="color:#333;font-size:14px;margin-top:20px;">
                    <span style="color:#333;font-size:14px;">Records per page:</span>
                    <select style="display:inline;" class="form-control" ng-model="pageSize" ng-change="onPage(0)" convert-to-number>
                      <option ng-value="5" ng-selected="pageSize===5" >5</option>
                      <option ng-value="10" ng-selected="pageSize===10">10</option>
                      <option ng-value="15" ng-selected="pageSize===15" ng-selected="true">15</option>
                      <option ng-value="20" ng-selected="pageSize===20">20</option>
                      <option ng-value="50" ng-selected="pageSize===50">50</option>
                      <option ng-value="100" ng-selected="pageSize===100">100</option>
                    </select>
                </div>
            </div>

        </div>
    </div>



</div>
