


/*blaise fonseca */
.t-navWide ul, .t-navWide ol, .t-navWide li {
    margin: 0;
    padding: 0;
   font-size: 12px;
}
#t-header, #t-header a, #t-header td, #t-header input, #t-additinalInfo, #t-additionalInfo a, #t-additionalInfo td, #t-bottomInfo div, #t-footer, #t-footer h2, #t-footer a {
   font-size: 14px;
}

    #t-header a:hover, #t-footer a:hover, #t-additionalInfo a:hover {
        color: #000;
        text-decoration: underline;
    }

#t-masterNavi .t-subNavContainer li, #t-masterNavi .t-subNavContainer li a, #t-masterNavi .t-subNavContainer {
    font-size: 11px;
}

#t-masterNavi li a {
    color: #333;
}

#t-masterNavi > li > a {
    font-size: 15px;
    color: #009b48;
}
#t-masterNavi div.t-subNavContainer div.t-navSubSection div.t-navSubHeading, #t-masterNavi div.t-subNavContainer div.t-navSubSection div.t-navSubHeading > a {
    font-weight: bold;
    font-size: 12px;
    color: #009b48;
}

    #t-masterNavi li a.hover, #t-masterNavi .t-subNavContainer li a:hover, #t-masterNavi div.t-subNavContainer div.t-navSubSection div.t-navSubHeading > a:hover {
        background-color: #009b48;
        color: #fff;
    }

#t-masterNavi a:hover {
    text-decoration: none;
}

#t-masterNavi > li > a:hover {
    color: #fff;
    background-color: #009b48;
}

#t-masterNavi div.t-subNavContainer, #t-masterNavi ul.t-subNavContainer {
    background-color: white;
    border: 5px solid #009b48;
    border-radius: 0 0 7px 7px;
}



.RTL #t-masterNavi li.t-navPro .t-subNavContainer div, .RTL #t-masterNavi li.t-navInfo .t-subNavContainer div, .RTL #t-masterNavi li.t-navWide .t-subNavContainer div, .ltr #t-masterNavi li, .ltr #t-masterNavi > li > a, .ltr #t-bottomInfo, .RTL #t-UNlogos, .ltr #t-footer, .ltr #t-footer div, .RTL #t-header .t-headerSearch, .ltr #t-headerLogo, .ltr #t-sidebarMenu, .RTL #t-content {
    float: left;
}

    .ltr #t-masterNavi li.t-navPro .t-subNavContainer div, .ltr #t-masterNavi li.t-navInfo .t-subNavContainer div, .ltr #t-masterNavi li.t-navWide .t-subNavContainer div, .RTL #t-masterNavi li, .RTL #t-masterNavi > li > a, .RTL #t-bottomInfo, .ltr #t-UNlogos, .RTL #t-footer, .RTL #t-footer div, .ltr #t-header .t-headerSearch, .RTL #t-headerLogo, .RTL #t-sidebarMenu, .ltr #t-content {
        float: right;
    }


#t-header {

    padding-bottom: 40px;
    /*border-bottom: #eee 1px solid;*/
    z-index: 100000;
}
.ltr #t-masterNavi, .ltr #t-masterNavi li.t-navAlignRight .t-subNavContainer {
    right: 0;
}

.RTL #t-masterNavi, .RTL #t-masterNavi li.t-navAlignRight .t-subNavContainer {
    right: 0;
}

#t-masterNavi {
    position: absolute;
    bottom: -10px;
}

    #t-masterNavi li {
        display: inline;
        position: relative;
    }

    #t-masterNavi > li > a {
        line-height: 30px;
        position: relative;
        border-bottom: 5px solid #fff;
    }

.ltr #t-masterNavi > li > a {
    padding: 0 12px 0 12px;
}

.RTL #t-masterNavi > li > a {
    padding: 0 18px 0 18px;
    font-weight: bold;
}

#t-masterNavi > li > a.t-navSelected {
    border-bottom: 5px solid #009b48;
}





#t-masterNavi > li > a.hover, #t-masterNavi > li > a:hover {
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    -moz-box-shadow: 2px 0 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 0 2px rgba(0,0,0,0.2);
    box-shadow: 2px 0 2px rgba(0,0,0,0.2);
    z-index: 2;
    border-bottom: 5px solid #009b48;
}

#t-masterNavi li .t-subNavContainer {
    display: none;
    position: absolute;
    top: 30px;
    padding: 5px;
    margin: 0;
    -moz-box-shadow: 2px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 1px 2px rgba(0,0,0,0.2);
    z-index: 5;
    background-color: #ffffe0;
}

.ltr #t-masterNavi li > ul.t-subNavContainer {
    width: 210px;
}

.ltr #t-masterNavi li.t-navWide div.t-subNavContainer div {
    width: 280px;
}

.ltr #t-masterNavi li.t-navWide div.t-subNavContainer {
    width: 580px;
}

.RTL #t-masterNavi li > ul.t-subNavContainer {
    width: 140px;
}

.RTL #t-masterNavi li.t-navWide div.t-subNavContainer div {
    width: 230px;
}

.RTL #t-masterNavi li.t-navWide div.t-subNavContainer {
    width: 460px;
}

#t-masterNavi li:hover .t-subNavContainer {
    display: block;
}

#t-masterNavi .t-subNavContainer li, #t-masterNavi .t-subNavContainer li a {
    clear: both;
    float: none;
    display: block;
    line-height: 13px;
    padding: 1px 2px 1px 2px;
    margin: 0;
}

    #t-masterNavi .t-subNavContainer li a:hover, #t-masterNavi div.t-subNavContainer div.t-navSubSection div.t-navSubHeading > a:hover {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

#t-masterNavi div.t-subNavContainer div.t-navSubSection div.t-navSubHeading {
    padding: 5px 2px 3px 2px;
    margin: 0;
}

.ltr #t-masterNavi div.t-subNavContainer div.t-navSubSection, .ltr #t-masterNavi div.t-subNavContainer div.t-navSubSection div.t-navSubHeading {
    float: left;
}

.RTL #t-masterNavi div.t-subNavContainer div.t-navSubSection, .RTL #t-masterNavi div.t-subNavContainer div.t-navSubSection div.t-navSubHeading {
    float: right;
}

#t-masterNavi li ul {
    padding-bottom: 8px;
    margin-bottom: 8px;
}

    #t-masterNavi li ul:last-child {
        margin-bottom: 0;
    }

.t-subMenu {
    width: 220px;
}

    .t-subMenu ul, .t-subMenu li {
        list-style: none;
    }

    .t-subMenu li {
        line-height: 13px;
        font-size: 13px;
        border-bottom: #ddd 1px solid;
    }

        .t-subMenu li a {
            display: block;
            padding: 9px;
        }

            .t-subMenu li a:hover {
                text-decoration: none;
            }

        .t-subMenu li.t-menuSection a, .t-subMenu li.t-menuSelected > a {
            font-weight: bold;
        }

.ltr .t-subMenu li.t-menuSelected > a {
    padding-left: 5px;
}

.ltr .t-subMenu li.t-menuSelected.t-menuLevel-2 > a {
    padding-left: 10px;
}

.ltr .t-subMenu li.t-menuSelected.t-menuLevel-3 > a, .ltr .t-subMenu li.t-menuLevel-2 a {
    padding-left: 15px;
}

.ltr .t-subMenu li.t-menuSelected.t-menuLevel-4 > a, .ltr .t-subMenu li.t-menuLevel-3 a {
    padding-left: 20px;
}

.ltr .t-subMenu li.t-menuLevel-4 a, .ltr .t-subMenu li.t-menuSelected.t-menuLevel-5 > a {
    padding-left: 25px;
}

.ltr .t-subMenu li.t-menuLevel-5 a {
    padding-left: 30px;
}

.RTL .t-subMenu li.t-menuSelected > a {
    padding-right: 5px;
}

.RTL .t-subMenu li.t-menuSelected.t-menuLevel-2 > a {
    padding-right: 10px;
}

.RTL .t-subMenu li.t-menuSelected.t-menuLevel-3 > a, .RTL .t-subMenu li.t-menuLevel-2 a {
    padding-right: 15px;
}

.RTL .t-subMenu li.t-menuSelected.t-menuLevel-4 > a, .RTL .t-subMenu li.t-menuLevel-3 a {
    padding-right: 20px;
}

.RTL .t-subMenu li.t-menuLevel-4 a, .RTL .t-subMenu li.t-menuSelected.t-menuLevel-5 > a {
    padding-right: 25px;
}

.RTL .t-subMenu li.t-menuLevel-5 a {
    padding-right: 30px;
}

.t-subLeftColumn {
    width: 340px;
}

.t-subRightColumn {
    width: 340px;
}
