.color-cbdgreen{
    color:#069554!important;
}
.bg-cbdgreen{
    background-color: #069554;
    color:#FFF;
}
.color-litegrey{
    color:#eee!important;
}
.color-grey{
    color:#999!important;
}
.color-white{
    color:#fff!important;
}
.bg-white{
    background-color: #FFF!important;
    color:#069554!important;
}
.color-darkgreen{
    color:#004844!important;
}
.bg-darkgreen{
        background-color:#004844!important;
}
.bg-litegrey{
    background-color: #F9F9F9!important;
    color:#069554;
}
.color-black{
    color:#111;
}
