.my_well{
    border-top:1px solid #ddd!important;
    border-left:1px solid #ddd!important;
    border-right:1px solid #ddd!important;
    border-bottom:1px solid #bbb!important;
    /*border-radius: 3px;*/
    margin-top:50px!important;
    margin-bottom:20px!important;
}

.my_well-blue{
    background-color:#EEE;
}
.my_well-white{
    background-color:#FFF;
}


h3{text-transform:uppercase;}
h1, h3{color:#333;}
h4{font-size:12px;}

.btn-schema {
    text-align: left;
    line-height: 14px;
    white-space: normal;
    padding:5px;
    margin-bottom: 5px;
    font-size:12px;
    text-decoration: none;
    background-color: #EEE;
    cursor:pointer;
    /*height:60px;*/
}
.dashboard{
    height:24px;
    font-weight:bold;
}
.filters{

    padding:10px 0;
    border-bottom:1px solid #ddd;
    margin-bottom:20px;
}
/*.national > div > .btn-schema {
background-color: #95B9C7;
}
.reference > div.btn-schema {
background-color: #F3E5AB;
}*/
.btn-schema > table {padding:0;margin:0;vertical-align:top;font-size:12px;}
.btn-schema > table > tbody > tr > td {padding:0;margin:0;vertical-align:top;font-size:12px!important;}
.btn-schema > table > tbody > tr > td.facets {font-size:12px!important;position:relative;top:-2px;}
.btn-schema > table > tbody > tr > td.facets > span.label {padding:2px;}
.btn-schema > table > tbody > tr > td.title {width:100%;}
.btn-schema > table > tbody > tr > td.title > a {color:#333;text-decoration:none;font-size:12px!important;font-weight:bold;}
.btn-schema > table > tbody > tr > td.title > a:hover {color:#FFF!important;text-decoration:none!important;font-size:12px!important;}
.btn-schema > table > tbody > tr > td > a:hover {color:#FFF!important;text-decoration:none!important;font-size:12px!important;}
.btn-schema:hover, .btn-schema-selected-active {
    background-color: #666!important;color:#fff;
}

/*.btn-schema-selected {
    background-color: #FFF!important;
}*/
.btn-schema-selected-active .newlink > a{
    color: #FFF!important;
}
.btn-schema-selected-active .title > a{
    color: #111!important;
}


.page-header{padding-top:14px;margin:0;}

.no-shadow{
    text-shadow:none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}
.thin-border{
    border:2px solid #ddd!important;
    border-bottom:2px solid #ccc!important;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* colors */

.color-published{
    color:#1FA65D!important;
}
.color-draft{
    color:#999!important;
}
.color-request{
    color:#C7532C!important;
    font-weight:bold;
}
.bg-published {
    background-color:#1FA65D!important;
    color:white;
}
.bg-draft{
    background-color:#999!important;
    color:#333;
}
.bg-request{
    background-color:#C7532C!important;
    color:white;
}
.bg-published-lite{
    background-color:#dff0d8!important;
}
.bg-draft-lite{
    background-color:#EEE!important;
}
.bg-request-lite{
    background-color:#f2dede!important;
}



.color-red{
    color:#C7532C!important;
}
.color-orange{
    color:#fa6938!important;
}
.color-blue{
    color:#428bca!important;
}
.color-green{
    color:#1FA65D!important;
    #5cb85c
}
.color-published-green{
    color:#5cb85c!important;
}
.color-grey{
    color:#555;
}

.color-darkgrey{
    color:#333;
}
.color-litegrey{
    color:#999;
}
.color-litergrey{
    color:#ddd;
}
.color-black{
    color:#111;
}
.color-white{
    color:#FFF;
}
.color-yellow{
    color:#FFD801;
}

.bg-white-to-red{
    background-color:#fff;
    -webkit-transition: #C7532C 0.4s ease;
    -moz-transition: #C7532C 0.4s ease;
    -o-transition: #C7532C 0.4s ease;
    transition: #C7532C 0.4s ease;
}

.bg-yellow{
    background-color:#FFD801!important;
    color:#fff;
}

.highlight{
    background-color:#FCEBBD!important;
    color:#000;
    font-weight:bold;

}

.bg-liteblue{background-color:#D9EDF7!important;}
.bg-liteorange{background-color:#FCF8E3!important;}
.bg-none{
    background-color:inherit!important;
}

.bg-orange{
    background-color:#fa6938!important;
    color:white!important;
}
.bg-white{
    /*background-color:#FFF!important;*/
    color:#555;
}
.bg-grey{
    background-color:#EEE!important;
    color:#555;
}
.bg-red{
    background-color:#C7532C!important;
    color:white;
}

.bg-blue{
    background-color:#428bca!important;
    color:white!important;
}

.bg-green{
    background-color:#1FA65D!important;

}



.bg-black{
    background-color:#111!important;
    color:white!important;
}

.bg-litegrey{
    background-color:#EEE!important;

}

.bg-darkgrey{
    background-color:#666!important;

}
.edit-aichi-target, .edit-case-study-hwb, .edit-case-study, .edit-contact, .edit-database,
.edit-implementation-activity, .edit-marine-ebsa, .edit-national-indicator, .edit-national-report,
.edit-national-support-tool, .edit-national-target, .edit-organization, .edit-progress-assessment,
.edit-resource-mobilisation, .edit-resource, .edit-strategic-plan-indicator{
    padding:10px;
}
