html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
nav,
article,
aside,
footer,
hgroup,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 1px;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote:before,
blockquote:after {
  content: "";
}
blockquote {
  quotes: "" "";
}
header,
nav,
article,
aside,
footer,
hgroup,
section {
  display: block;
}
a {
  text-decoration: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
body {
  overflow-y: scroll;
}
a:focus,
a:hover {
  text-decoration: none;
}
.center {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 8px;
  overflow: hidden;
}
.center.narrow {
  max-width: 775px;
}
.blocksHub {
  text-align: center;
}
.linkBlock {
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #f9f9f9;
  width: 322px;
  height: 184px;
  margin: 12px 5px;
  text-decoration: none !important;
  overflow: hidden;
}
.linkBlock.medium {
  width: 300px;
}
.linkBlock.medium > div p {
  width: 186px;
}
.linkBlock.full {
  color: #fff;
  border: 2px solid #ffffff;
}
.linkBlock.full.blue {
  background-color: #0080c5;
  color: #ffffff;
}
.linkBlock.full.blue > div {
  border-bottom: 8px solid #4da7d7;
}
.linkBlock.full.blue h5 {
  color: #ffffff;
}
.linkBlock.full.blue.fillSvg svg * {
  fill: #4da7d7;
}
.linkBlock.blue {
  color: #0081c6;
}
.linkBlock.blue h5 {
  color: #0081c6;
}
.linkBlock.blue > div {
  border-bottom: 8px solid #0081c6;
}
.linkBlock.blue svg * {
  fill: #0081c6;
}
.linkBlock.green {
  color: #004844;
  border: 2px solid #f2f2f2;
  margin: 12px 10px;
}
.linkBlock.green.lightText {
  color: #069554;
}
.linkBlock.green.lightText h5 {
  color: #069554;
}
.linkBlock.green h5 {
  color: #004844;
}
.linkBlock.green > div {
  border-bottom: 8px solid #069554;
}
.linkBlock.green svg {
  height: 245px;
  top: -71px;
  right: 0;
  width: 250px;
}
.linkBlock.green.fillSvg svg * {
  fill: #069554;
}
.linkBlock.green.cornerIcon svg {
  top: -8px;
  right: 11px;
  width: 150px;
  height: 180px;
}
.linkBlock.green:hover {
  border: 2px solid #e5e5e5;
}
.linkBlock.mediumText h5 {
  width: 160px;
}
.linkBlock.mediumText p {
  width: 160px !important;
}
.linkBlock.smallText h5 {
  width: 120px;
}
.linkBlock.smallText p {
  width: 120px !important;
}
.linkBlock > div {
  padding: 5px;
  height: 180px;
  width: 325px;
  vertical-align: middle;
  display: table-cell;
  position: relative;
}
.linkBlock h5 {
  font-size: 1.2em;
  text-align: left;
  display: inline-block;
  margin: 0 14px 6px;
  vertical-align: bottom;
  width: 172px;
  line-height: 1.2em;
  float: left;
}
.linkBlock p {
  text-align: left;
  display: inline-block;
  margin: 0 14px;
  width: 194px;
  font-size: .8em;
  float: left;
}
.linkBlock.downloadLanguage ul.languageList {
  position: absolute;
  bottom: 10px;
  left: 14px;
  z-index: 5;
}
.linkBlock.downloadLanguage ul.languageList li {
  display: inline-block;
  font-size: .7em;
  margin: 0 2px;
  padding: 0 1px;
}
.linkBlock.downloadLanguage ul.languageList li a {
  color: #ffffff;
}
.linkBlock.downloadLanguage.green .languageList li a {
  color: #069554;
}
.linkBlock.downloadLanguage.green .languageList li a.gray {
  color: #e5e5e5;
}
.linkBlock.imgText img,
.linkBlock.imgText svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 180px;
  z-index: 0;
}
.linkBlock.imgText p {
  position: absolute;
  bottom: 10px;
  font-size: .9em;
  left: 30px;
}
.linkBlock svg {
  position: absolute;
  top: -8px;
  right: 11px;
  width: 150px;
  height: 180px;
  z-index: 0;
}
.linkBlock img.file-icon {
  width: 60px;
  right: 26px;
  position: absolute;
}
.linkBlock img.image-icon {
  width: 88px;
  right: 22px;
  position: absolute;
  top: 22px;
}
.linkBlock.centerImg img {
  width: 94%;
  text-align: center;
  margin: 0 9px;
}
.linkBlock.textTop p {
  top: 30px;
  bottom: auto;
  font-size: 1.2em;
  margin: 0 !important;
  text-align: center;
  width: 100% !important;
  left: 0;
}
.linkBlock.textTop img {
  top: 30px;
}
.linkBlock.center-icon img {
  width: auto;
  height: 80px;
  top: 50%;
  right: 32px;
  margin-top: -40px;
}
.linkBlock.center-text h5,
.linkBlock.center-text p {
  margin-left: 42px;
}
.linkBlock.smaller-title h5 {
  width: 140px !important;
}
.listImg {
  max-width: 755px;
  margin: 42px auto;
}
.listImg h3 {
  font-size: 1.5em;
  margin-bottom: 24px;
}
.listImg > ul > li {
  border: 1px solid transparent;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 22px 0;
  padding: 10px 5px;
  position: relative;
  min-height: 140px;
}
.listImg > ul > li div:first-child {
  text-align: center;
  top: 50%;
  margin-top: -60px;
  height: 120px;
  overflow: hidden;
  display: block;
  position: absolute;
  padding: 0;
  line-height: 120px;
}
.listImg > ul > li div:first-child img {
  max-width: 150px;
  max-height: 120px;
}
.listImg > ul > li div:last-child {
  float: right;
  padding-right: 0;
}
.listImg > ul > li div:last-child h4 {
  font-size: 1.1em;
  margin: 0 0 12px 0;
}
.listImg > ul > li div:last-child p {
  color: #666;
  line-height: 1.8em;
  font-size: 0.9em;
}
.listImg > ul > li a {
  color: #069554;
  font-weight: bold;
}
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
#t-optionMenu {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 8px;
  overflow: hidden;
  padding: 3px 8px;
}
#t-optionMenu.narrow {
  max-width: 775px;
}
#t-optionMenu {
  border: none;
}
#ctl03_DSpacer,
#t-signin td:nth-child(2) {
  color: #f7f7f7;
  padding: 0 3px;
}
#t-searchSignin {
  width: 420px;
}
#t-optionMenu a {
  color: #bdbdbd;
}
#ctl03_DCurrentLocale {
  color: #959595;
}
#t-search input,
.t-headerSearch {
  background: url(../img/icon/loupe.svg) no-repeat right 5px;
  background-size: 16px 16px;
  background-origin: content-box;
  height: 30px;
  padding: 0 5px;
  margin: 5px 5px 0;
  border: 1px solid #bdbdbd;
  line-height: 30px;
  color: #959595;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#mobileMenu {
  display: none;
  border-bottom: 1px solid #e5e5e5;
  height: 43px;
  z-index: 505;
  position: relative;
  background-color: #ffffff;
}
#mobileMenu button {
  border: none;
  width: 32px;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: right;
  margin: 6px;
}
#mobileMenu > div {
  float: right;
}
#mobileMenu .t-headerSearch {
  margin-top: 6px;
}
#languageMenu button {
  padding: 0;
  background-color: #0081c6;
}
#languageMenu button img {
  width: 22px;
  position: relative;
  top: -1px;
}
#languageMenu .dropdown-menu {
  color: white;
  width: 99%;
  left: auto;
  right: -28px;
  background-color: #0081c6;
  height: 42px;
  width: 432px;
  text-align: center;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 0;
}
#languageMenu .dropdown-menu::before {
  content: '';
  width: 24px;
  display: block;
  height: 24px;
  background: url('../img/icon/fullarrow_up_lightBlue.svg');
  position: absolute;
  top: -12px;
  right: 36px;
}
#languageMenu .dropdown-menu li {
  display: inline-block;
  height: 30px;
}
#languageMenu .dropdown-menu li a {
  line-height: 30px;
  display: inline-block;
  height: 30px;
  font-size: .9em;
  padding: 2px 4px;
  color: #ffffff;
}
#languageMenu .dropdown-menu li a:hover {
  background: transparent;
}
#languageMenu .dropdown-menu li:after {
  content: "|";
  display: inline-block;
  padding: 0 6px 0 8px;
}
#languageMenu .dropdown-menu li:last-child:after {
  content: '';
  display: none;
}
#siteMenu button {
  background-color: #004844;
}
#siteMenu button img {
  margin-top: -2px;
  width: 16px;
}
#siteMenu .dropdown-menu {
  right: 3px;
  top: 41px;
  width: 365px;
  padding: 10px 0 0 0;
  left: auto;
  background-color: #069554;
  border: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 0;
}
#siteMenu .dropdown-menu::before {
  content: '';
  width: 24px;
  display: block;
  height: 24px;
  background: url('../img/icon/fullarrow_up_lightGreen.svg');
  position: absolute;
  top: -12px;
  right: 5px;
}
#siteMenu .dropdown-menu > li {
  background-color: #069554;
  position: relative;
}
#siteMenu .dropdown-menu > li.active a {
  background-color: #004844;
}
#siteMenu .dropdown-menu > li.open > a {
  border-left: 8px solid #004844;
}
#siteMenu .dropdown-menu > li.open > button {
  background: url('../img/icon/arrow_up.svg') center center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
}
#siteMenu .dropdown-menu > li > a {
  color: #fff;
  height: 42px;
  font-size: 1em;
  line-height: 40px;
  padding: 0 15px;
  -webkit-transition: border-width 0.4s;
  -moz-transition: border-width 0.4s;
  -ms-transition: border-width 0.4s;
  -o-transition: border-width 0.4s;
  transition: border-width 0.4s;
}
#siteMenu .dropdown-menu > li > a:hover {
  background-color: #069f5a;
}
#siteMenu .dropdown-menu > li > a:focus {
  background-color: transparent;
}
#siteMenu .dropdown-menu > li > button {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: url('../img/icon/arrow_down.svg') center center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
#siteMenu .dropdown-menu > li > button:hover {
  border: 1px solid #f1f1f1;
}
#siteMenu .dropdown-menu > li.open .sub-menu {
  display: block;
}
#siteMenu .dropdown-menu > li:nth-child(1) > a:nth-child(1)::after {
  display: none;
}
#siteMenu .dropdown-menu li.li-social {
  background-color: #f1f1f1;
  height: auto;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 0;
}
#siteMenu .dropdown-menu .sub-menu {
  display: none;
}
#siteMenu .dropdown-menu .sub-menu li {
  width: 100%;
  padding-left: 24px;
  display: inline-block;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
#siteMenu .dropdown-menu .sub-menu li > a {
  background-color: #fff;
  color: #fff;
  height: 42px;
  font-size: 1em;
  line-height: 40px;
  padding: 0 15px;
  width: 100%;
  display: inline-block;
  color: #069554;
}
#siteMenu .dropdown-menu .sub-menu li.active > a {
  color: #004844;
}
#siteMenu .social {
  float: none;
  text-align: center;
}
#siteMenu .social li {
  display: inline-block;
  margin: 10px 20px;
}
.darkbox.open {
  display: block;
  opacity: 1;
  height: 100%;
  width: 100%;
}
.darkbox {
  position: fixed;
  top: 43px;
  height: 0;
  width: 0;
  background: rgba(0, 72, 68, 0.5);
  z-index: 500;
  -webkit-transition: opacity .4s;
  -moz-transition: opacity .4s;
  -ms-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  opacity: 0;
}
header {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 8px;
  padding-top: 36px;
  padding-bottom: 36px;
  overflow: hidden;
}
header.narrow {
  max-width: 775px;
}
#logo {
  max-height: 72px;
  float: left;
  width: 420px;
}
#logo img {
  max-height: 72px;
  display: inline-block;
}
#logo a:nth-child(2) {
  margin: 0 0 0 36px;
}
#slogan {
  float: right;
  color: #069554;
  font-size: 18px;
  margin: 18px 150px 0 0;
}
#slogan p {
  width: 150px;
}
.menu {
  width: 100%;
  height: 42px;
  overflow: hidden;
}
.menu .center {
  overflow: hidden;
  height: 100%;
  position: relative;
}
#main {
  background-color: #069554;
}
#secondary {
  background-color: #004844;
}
#secondary li:first-child {
  margin-left: 100px;
}
#secondary li::after {
  background-image: url('../img/icon/fullarrow_up_white.svg');
}
.menu ul li {
  display: inline-block;
  z-index: 5;
  position: relative;
  line-height: 42px;
}
.menu ul li::after {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  content: '';
  background-image: url('../img/icon/fullarrow_up.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  display: block;
  opacity: 0;
  top: -8px;
  position: relative;
  left: 50%;
  margin-left: -12px;
}
.menu ul li:hover::after {
  opacity: 1;
  top: -12px;
}
.menu ul li.active {
  font-weight: bold;
}
.menu ul li.active::after {
  content: '';
  opacity: 1;
  top: -12px;
}
.menu ul.menu_arrow li a {
  color: #fff;
  padding: 0 10px;
  margin: 0 8px;
  display: inline-block;
  text-decoration: none;
}
#main ul:nth-child(1) {
  float: left;
  height: 100%;
  vertical-align: middle;
}
.arrow_slider_wrapper {
  display: none;
  margin: 30px 0 0;
  position: absolute;
  left: 9px;
  z-index: 0;
  top: 0;
  float: left;
}
.arrow_slider {
  background-image: url('../img/icon/fullarrow_up.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
  z-index: 0;
}
.arrow_slider.white {
  background-image: url('../img/icon/fullarrow_up_white.svg');
}
.social {
  float: right;
}
.social li {
  margin: 0 5px;
}
.social li img {
  width: 25px;
  height: 25px;
}
#secondary {
  width: 100%;
  height: 42px;
  background-color: #004844;
}
a {
  color: #069554;
}
a:hover {
  color: #069554;
}
.button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #069554;
  color: #fff;
  height: 37px;
  line-height: 37px;
  padding: 0 36px 0 22px;
  display: block;
  margin-bottom: 1px;
  text-decoration: none;
  position: relative;
  text-align: left;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all 0.4s;
}
.button:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 0 2px 2px #004844;
  -moz-box-shadow: 0 2px 2px #004844;
  box-shadow: 0 2px 2px #004844;
  margin-top: -1px;
  margin-bottom: 2px;
}
.button:active {
  color: #fff;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 1px;
  -webkit-box-shadow: 0 1px 1px #004844;
  -moz-box-shadow: 0 1px 1px #004844;
  box-shadow: 0 1px 1px #004844;
}
.button:focus {
  text-decoration: none;
  color: #ffffff;
}
.button::after {
  content: '';
  background: url("../img/icon/arrow_right.svg") center no-repeat;
  width: 16px;
  height: 37px;
  right: 12px;
  margin-left: 10px;
  position: absolute;
}
.button.left {
  text-align: right;
  padding: 0 22px 0 36px;
}
.button.left::after {
  background: url("../img/icon/arrow_left.svg") center no-repeat;
  left: 0;
}
.button.blue {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #0081c6;
  color: #fff;
  height: 37px;
  line-height: 37px;
  padding: 0 36px 0 22px;
  display: block;
  margin-bottom: 1px;
  text-decoration: none;
  position: relative;
  text-align: left;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all 0.4s;
}
.button.blue:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 0 2px 2px #004844;
  -moz-box-shadow: 0 2px 2px #004844;
  box-shadow: 0 2px 2px #004844;
  margin-top: -1px;
  margin-bottom: 2px;
}
.button.blue:active {
  color: #fff;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 1px;
  -webkit-box-shadow: 0 1px 1px #004844;
  -moz-box-shadow: 0 1px 1px #004844;
  box-shadow: 0 1px 1px #004844;
}
.button.blue:focus {
  text-decoration: none;
  color: #ffffff;
}
.button.blue::after {
  content: '';
  background: url("../img/icon/arrow_right.svg") center no-repeat;
  width: 16px;
  height: 37px;
  right: 12px;
  margin-left: 10px;
  position: absolute;
}
.button.blue.left {
  text-align: right;
  padding: 0 22px 0 36px;
}
.button.blue.left::after {
  background: url("../img/icon/arrow_left.svg") center no-repeat;
  left: 0;
}
.space {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 8px;
  overflow: hidden;
  max-width: 755px;
  min-height: 120px;
  position: relative;
  padding-top: 38px;
}
.space.narrow {
  max-width: 775px;
}
.space.wide {
  max-width: 1024px;
}
.space .button {
  float: right;
}
.space .button.left {
  float: left;
}
.space h4 {
  float: left;
  color: #0081c6;
  font-size: 1.5em;
}
.space h4.green {
  color: #069554;
}
.closeButton {
  width: 26px;
  height: 26px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-image: url('../img/icon/x.svg');
  background-repeat: no-repeat;
  border: none;
}
.article {
  max-width: 875px;
  padding: 10px;
}
.article h1 {
  color: #004844;
  font-size: 1.5em;
  margin: 36px 0;
}
.article h3 {
  color: #069554;
  font-size: 1.4em;
  margin: 26px 0;
}
.article p {
  font-size: .9em;
  line-height: 1.8em;
  color: #666;
  padding: 14px 0;
}
.article p a {
  color: #069554;
}
.darkGreen {
  color: #004844;
}
.lightGreen {
  color: #069554;
}
.textGray {
  color: #666666;
}
.article.accordion {
  max-width: 1024px;
}
.accordion .panel-heading {
  position: relative;
  overflow: hidden;
  padding: 0;
  height: 112px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all 0.4s;
}
.panel.stick {
  height: 60px;
}
.panel.stick > a {
  height: 60px;
  width: 100%;
  max-width: 1004px;
  position: fixed;
  z-index: 10;
}
.panel.stick > a > div {
  height: 60px;
}
.panel.stick > a > div .accordionTitle {
  height: 60px;
  padding: 20px 40px;
}
.panel.stick:nth-child(3) > a {
  bottom: 0;
}
.panel.stick:nth-child(2) > a {
  bottom: 62px;
}
.panel-group a[aria-expanded=true] .panel-heading {
  height: 335px;
}
.accordion .panel-heading img {
  position: absolute;
  width: 1024px;
  bottom: 50%;
  margin-bottom: -162px;
  z-index: 0;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all 0.4s;
}
.accordionTitle {
  background-color: rgba(0, 72, 68, 0.5);
  height: 112px;
  z-index: 10;
  position: absolute;
  width: 100%;
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 45px 40px;
  bottom: 0;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  transition: all 0.4s;
}
.panel-group a[aria-expanded=true] .accordionTitle {
  bottom: 5px;
}
.accordionTitle a {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 45px 40px;
}
.accordionTitle h2 {
  font-size: 1.4em;
  font-weight: normal;
  color: #fff;
  display: inline-block;
}
.accordionTitle .accordionButton {
  float: right;
}
.accordionButton {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}
.panel-group a[aria-expanded=true] .accordionButton {
  background-image: url('../img/icon/arrow_up.svg');
}
.panel-group a[aria-expanded=false] .accordionButton {
  background-image: url('../img/icon/arrow_down.svg');
}
.accordion .panel-body {
  max-width: 775px;
  margin: 0 auto;
  padding: 0 15px 72px;
}
.accordion h4 {
  color: #666;
  margin: 16px 0;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #e6e6e6;
}
.accordion h4 a {
  color: #666;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: relative;
}
.accordion h4 a:after {
  content: '';
  background-image: url("../img/icon/arrow_down_green.svg");
  width: 16px;
  height: 26px;
  right: 12px;
  margin-left: 10px;
  margin-top: 11px;
  background-repeat: no-repeat;
  position: absolute;
}
.accordion h4 a[aria-expanded=true]:after {
  background-image: url("../img/icon/arrow_up_green.svg");
}
.accordion h5 {
  color: #666;
  margin: 16px 0;
  font-size: 1.1em;
}
.bubbles {
  max-width: 700px;
  padding: 15px;
  margin: 0 auto;
  display: block;
}
.bubbles li {
  display: table;
  width: 700px;
  height: 80px;
  margin: 20px auto;
  padding: 13px;
  position: relative;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
}
.bubbles li:hover {
  border-color: #069554;
}
.bubbles li p {
  padding-left: 19px;
  padding-right: 6px;
  display: table-cell;
  vertical-align: middle;
  color: #004844;
  font-size: .9em;
  width: 100%;
}
.bubbles li::before {
  display: block;
  background-color: #069554;
  line-height: 50px;
  float: left;
  text-align: center;
  color: white;
  font-size: 1.2em;
  left: 13px;
  top: 15px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.bubbles li:nth-child(1)::before {
  content: 'A';
}
.bubbles li:nth-child(2)::before {
  content: 'B';
}
.bubbles li:nth-child(3)::before {
  content: 'C';
}
.bubbles li:nth-child(4)::before {
  content: 'D';
}
.bubbles li:nth-child(5)::before {
  content: 'E';
}
.bubbles li:nth-child(6)::before {
  content: 'F';
}
.bubbles li:nth-child(7)::before {
  content: 'G';
}
.bubbles li:nth-child(8)::before {
  content: 'H';
}
.bubbles li:nth-child(9)::before {
  content: 'I';
}
.bubbles li:nth-child(10)::before {
  content: 'J';
}
.notice {
  color: #004844;
  font-size: 1.2em;
  line-height: 1.7em;
  margin: 12px 0;
}
.notice a {
  color: #069554;
}
.basic-list-p {
  padding-bottom: 0 !important;
}
.basic-list {
  font-size: .9em;
  line-height: 1.8em;
  color: #666;
  list-style-type: disc;
}
.basic-list.round-arrow-bullet {
  list-style-type: none;
}
.basic-list.round-arrow-bullet li {
  list-style-type: none;
}
.basic-list.round-arrow-bullet li:before {
  content: '';
  width: 12px;
  height: 12px;
  margin: 0 12px 0 0;
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icon/round-arrow_right_dark.svg') no-repeat center center;
}
.basic-list li {
  margin-left: 18px;
}
.basic-list li a {
  color: #069554;
}
.basic-list.spaced {
  margin-bottom: 44px;
}
.basic-list.spaced li {
  margin: 24px 0 24px 42px;
  line-height: 2.1em;
}
.basic-list.spaced li:before {
  margin: 0 18px 0 -32px;
}
ol.basic-list {
  list-style-type: decimal;
}
.data-list {
  margin: 12px 0;
}
.data-list li {
  color: #666;
  margin: 8px 0;
  font-size: 0.9em;
}
.wideBackground {
  background-color: #fafafa;
  width: 100%;
  padding: 20px 5px;
}
.search-result {
  padding: 42px 10px;
}
.search-result .found {
  display: inline-block;
  color: #666;
  height: 42px;
  line-height: 42px;
  padding: 0;
  font-size: 0.9em;
}
.search-result .found .bootstrap-select {
  width: 70px !important;
}
.search-result .found .bootstrap-select button {
  height: 34px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.search-result .wrapper_pagination {
  overflow: hidden;
}
.search-result nav {
  display: inline-block;
  float: right;
  height: 42px;
  padding: 0;
  font-size: 0.9em;
}
.search-result nav ul {
  margin: 0;
  float: right;
}
.search-result nav ul li a {
  color: #069554;
}
.search-result nav ul li a:hover {
  color: #004844;
  border: 1px solid #069554;
}
.search-result h4 {
  font-size: 1.4em;
  margin-top: 64px;
}
.search-result .listImg li {
  border-top: 1px solid #e6e6e6;
  margin-top: 24px;
  padding-top: 32px;
}
.search-result .listImg li h5 {
  color: #004844;
  font-size: 1em;
}
.search-result .listImg li a {
  font-weight: 400;
  margin-bottom: 12px;
  display: inline-block;
  font-size: 0.9em;
}
.search-result .listImg li:first-child {
  border: none;
}
/*.calendar-result {
  width: 100%;
  margin: 12px 0;
}
.calendar-result tr {
  border-bottom: 1px solid #e6e6e6;
}*/
/*.calendar-result tr:first-child {
  border-bottom: 1px solid #004844;
  height: 36px;
  font-size: 1.1em;
}*/
/*.calendar-result tr.section {
  border-bottom: 1px solid #069554;
  height: 42px;
  color: #069554;
  font-size: 1.1em;
  text-indent: 24px;
}
.calendar-result tr.section td {
  padding: 0;
}
.calendar-result tr td {
  padding: 16px 0;
}
.calendar-result tr td span {
  display: inline-block;
  width: 100%;
  font-size: 1em;
  margin: 3px 0;
}
.calendar-result tr td p {
  font-size: .8em;
  color: #666666;
}
.calendar-result tr td a {
  color: #069554;
  display: inline-block;
  margin: 4px 0;
  font-size: 0.9em;
}
.calendar-result th {
  color: #004844;
}*/
.profile .flag {
  margin: 32px 0;
  height: 64px;
}
.profile .flag img {
  max-width: 90px;
  max-height: 64px;
  display: inline-block;
  vertical-align: middle;
  line-height: 64px;
}
.profile .flag h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: 64px;
  color: #666;
  font-size: 2.3em;
  margin-left: 24px;
}
.profile .profile-border {
  border: 1px solid #f2f2f2;
  overflow: hidden;
}
.profile .article {
  padding: 0;
}
.profile .article p:first-child {
  padding-top: 0;
}
.profile .article h3 {
  margin-bottom: 0;
}
.profile .article h3:first-child {
  margin-top: 0;
}
.profile .article.narrow p,
.profile .article.narrow h3 {
  width: 575px;
  float: left;
}
.profile .profile-column {
  max-width: 260px;
  padding: 30px;
  display: inline-block;
}
.profile .profile-column > img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.profile .profile-column .profile-image {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.profile .profile-column .party {
  text-align: left;
  margin: 24px 0;
}
.profile .profile-column .party li {
  margin: 14px 0;
}
.profile .profile-column .party li span {
  font-size: .75em;
  text-align: left;
  display: block;
}
.profile .profile-column .party li span:first-child {
  color: #069554;
  margin-bottom: 4px;
}
.profile .profile-column .party li span:last-child {
  color: #666666;
}
.profile .profile-column .links {
  text-align: left;
}
.profile .profile-column .links li {
  margin: 8px 0;
  height: 25px;
  width: 100%;
}
.profile .profile-column .links li a {
  display: inline-block;
  color: #069554;
}
.profile .profile-column .links li a .www-icon {
  font-size: .9em;
  font-weight: bold;
}
.profile .profile-column .links li a .at-icon {
  font-weight: bold;
  font-size: 1.1em;
}
.profile .profile-column .links li a span {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.profile .profile-column .links li a span:first-child {
  width: 33px;
  margin-right: 6px;
}
.profile .profile-column .links li a span:last-child {
  font-size: 0.9em;
}
.profile .profile-column .links li a span svg {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}
.profile .profile-column .links li a span svg * {
  fill: #069554;
}
.profile .profile-column .links li a:hover {
  color: #0081c6;
}
.profile .profile-column .links li a:hover svg * {
  fill: #0081c6;
}
.profile h4 {
  font-size: 1.4em;
  margin-top: 24px;
}
.profile .nav {
  border: none;
}
.profile .nav li {
  width: 216px;
  height: 38px;
  margin: 0 3px;
}
.profile .nav li a {
  width: 216px;
  height: 38px;
  line-height: 38px;
  background-color: #e5e5e5;
  color: #666;
  padding: 0;
  text-align: center;
  display: inline-block;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.profile .nav li.active a {
  background-color: #004844;
  color: #ffffff;
}
.profile .tab-content {
  float: right;
  margin: 30px 22px;
  padding: 0;
  max-width: 700px;
}
.profile .listImg {
  border-top: 1px solid #069554;
  border-bottom: 1px solid #069554;
  margin: 12px 0;
}
.profile .listImg li {
  border-top: 1px solid #e6e6e6;
  margin: 0 auto;
  padding: 16px 5px;
}
.profile .listImg li h5 {
  color: #004844;
  font-size: 1em;
}
.profile .listImg li a {
  font-weight: 400;
  margin-bottom: 12px;
  display: inline-block;
  font-size: 0.9em;
}
.profile .listImg li:first-child {
  border: none;
}
.profile.organization .profile-column > img {
  margin-bottom: 24px;
}
.profile.organization .organization-content {
  float: right;
  max-width: 700px;
  margin: 30px 22px;
}
.listCountries li {
  margin: 12px 0;
  padding: 0 4px;
  display: inline-block;
}
.listCountries li a {
  display: inline-block;
  width: 100%;
  height: 72px;
  vertical-align: middle;
  position: relative;
  line-height: 72px;
}
.listCountries li a img {
  display: inline-block;
  max-width: 54px;
  max-height: 34px;
  vertical-align: middle;
}
.listCountries li a div {
  display: table;
  height: 100%;
  width: 110px;
  position: absolute;
  top: 0;
  left: 70px;
}
.listCountries li a div span {
  display: table-cell;
  height: 34px;
  vertical-align: middle;
  color: #069554;
  font-size: .9em;
  line-height: 1.2em;
}
.listCountries li a:hover {
  border-bottom: 4px solid #069554;
}
.checkbox {
  font-size: .9em;
  vertical-align: middle;
  line-height: 1.9em;
  padding: 5px;
}
.checkbox.agreement {
  font-weight: bold;
}
.checkbox .box {
  border: 2px solid #004844;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 22px;
  width: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox .box.checked {
  background: url('../img/icon/check.svg') no-repeat;
  background-position: center center;
  background-size: 80%;
}
.checkbox .box.selected {
  background: url('../img/icon/circle.svg') no-repeat;
  background-position: center center;
  background-size: 80%;
}
#homeFooter {
  background-color: #f9f9f9;
  width: 100%;
  padding: 32px 8px;
  overflow: hidden;
}
#homeFooter ul {
  display: inline-block;
  vertical-align: top;
  margin: 12px 0;
  padding: 0 5px;
  min-height: 160px;
}
#homeFooter ul li a {
  color: #069554;
  font-size: .8em;
  padding: 2px 0;
  display: inline-block;
}
#homeFooter ul li:nth-child(1) a {
  color: #004844;
}
#homeFooter .copyright {
  display: block;
  margin: 108px auto 24px;
  color: #069554;
  font-size: .9em;
  max-width: 200px;
  text-align: center;
}
#footer {
  width: 100%;
  text-align: right;
  padding: 36px;
}
#footer ul {
  display: inline-block;
}
#footer ul li {
  display: inline-block;
  margin: 0 12px;
}
#footer ul li a {
  color: #069554;
  font-size: 0.9em;
}
#footer .copyright {
  color: #004844;
  display: inline-block;
  margin: 0 12px;
}
#welcome_wrapper {
  width: 100%;
  background-color: #004844;
}
#welcome {
  background-color: #0081c6;
  border: 10px solid #004844;
  min-height: 450px;
  width: 100%;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
#welcome::before {
  content: '';
  background-image: url('../img/logo/un_light.svg');
  background-repeat: no-repeat;
  background-position: -204px;
  width: 450px;
  height: 450px;
  position: absolute;
  opacity: 0.2;
}
#slider {
  width: 850px;
  float: right;
  height: 450px;
  border-left: 10px solid #004844;
}
#slider > div {
  overflow: hidden;
}
#slider > div img {
  max-height: 480px;
  width: 100%;
}
.slick-slider {
  margin-bottom: 0;
}
.slick-prev,
.slick-next {
  z-index: 10;
}
.slick-prev {
  left: 20px;
}
.slick-next {
  left: 294px;
}
.slick-prev:before,
.slick-next:before {
  content: '';
}
.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  background-image: url('../img/icon/slider_left.svg');
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  bottom: 16px;
  top: auto;
}
.slick-next,
.slick-next:hover,
.slick-next:focus {
  background-image: url('../img/icon/slider_right.svg');
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  bottom: 16px;
  top: auto;
}
.sliderPopup {
  position: absolute;
  height: 100%;
  bottom: 0;
  width: auto;
  max-width: 344px;
  background-color: rgba(0, 72, 68, 0.8);
  padding: 10px;
  margin: 0 0;
  vertical-align: middle;
  text-align: center;
}
.sliderPopup > a {
  display: table-cell;
}
.sliderPopup h4 {
  color: #fff;
  font-size: 1.9em;
  display: inline-block;
  margin: 24px 0 8px;
  text-align: left;
  width: 67%;
}
.sliderPopup p {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: justify;
  font-size: .9em;
  line-height: 2.3em;
  width: 67%;
}
#welcome #message {
  color: #fff;
  width: auto;
  text-align: center;
  overflow: hidden;
  margin-top: 124px;
}
#welcome #message .center {
  max-width: 310px;
  overflow: hidden;
  padding: 15px;
  text-align: left;
}
#welcome #message .center h1 {
  color: #fff;
  font-size: 3.2em;
  margin-bottom: 42px;
}
#welcome #message .center p {
  line-height: 2.3em;
  font-size: 0.9em;
}
#map_wrapper {
  background-color: #069554;
}
#map {
  overflow: hidden;
  background-color: #069554;
  max-width: 1200px;
  margin: 0 auto;
}
#map .sideSelection {
  display: inline-block;
  padding: 15px 0;
}
#map .floatRight {
  float: right;
}
#map .sideSelection h5 {
  color: #fff;
  text-align: left;
  text-indent: 15px;
  margin-top: 20px;
  font-size: 1.4em;
}
#map .sideSelection ul li {
  color: #fff;
  height: 37px;
  padding: 0 15px;
  font-size: 1em;
  margin: 24px 0;
  min-width: 200px;
  line-height: 37px;
  cursor: pointer;
}
#map .sideSelection ul li.active {
  background-color: #004844;
  position: relative;
  z-index: 10;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#map .sideSelection ul li.active:after {
  content: '';
  position: absolute;
  right: -37px;
  width: 37px;
  height: 37px;
  z-index: 10;
  background-image: url('../img/icon/tip_right.svg');
  background-repeat: no-repeat;
}
#map .sideSelection ul li select {
  background-color: #004844;
  width: 85px;
  margin-left: 20px;
  display: inline-block;
  border-color: #004844;
  color: #ffffff;
}
#googlemap {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  z-index: 5;
  height: 480px;
}
#googlemap .mapPopup {
  position: absolute;
  min-height: 80px;
  bottom: 2%;
  width: 98%;
  background-color: rgba(0, 72, 68, 0.9);
  padding: 10px;
  margin: 0 1%;
  vertical-align: middle;
  display: table;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#googlemap .mapPopup p {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  max-width: 90%;
}
#googlemap .mapPopup p a {
  color: #069554;
}
#googlemap .mapPopup button {
  float: right;
  margin-right: 10px;
  margin-top: 16px;
  display: block;
}
#googlemap img {
  display: inline-block;
  max-height: 480px;
  width: 100%;
  height: 480px;
}
.logosInline {
  margin-top: 64px;
  margin-bottom: 32px;
}
.logosInline ul {
  text-align: center;
}
.logosInline ul li {
  display: inline-block;
  margin: 6px 14px;
  padding: 10px 0;
}
.logosInline ul li img {
  height: 72px;
}
.logoSelect {
  margin-top: 0;
  margin-bottom: 32px;
}
.logoSelect ul {
  text-align: center;
}
.logoSelect ul li {
  display: inline-block;
  margin: 32px 0;
  width: 182px;
}
.logoSelect ul li img,
.logoSelect ul li svg {
  max-width: 120px;
  max-height: 130px;
}
.logoSelect ul li img.fullWidth,
.logoSelect ul li svg.fullWidth {
  max-width: 90%;
}
.searchTitle {
  margin: 16px 0;
}
.searchTitle svg {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.searchTitle svg * {
  fill: #069554;
}
.searchTitle h3 {
  display: inline-block;
  font-size: 1.6em;
  vertical-align: middle;
}
.bootstrap-select:focus {
  outline: 0 !important;
  border: 1px solid #069554;
}
.bootstrap-select .caret {
  border: none;
  background: url('../img/icon/round-arrow_down.svg') no-repeat;
  width: 10px;
  height: 10px;
  margin-top: -4px !important;
  right: 14px !important;
}
.bootstrap-select button {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 42px;
  background-color: #ffffff;
}
form {
  margin: 10px 0;
}
form label {
  text-align: left;
  height: 42px;
  line-height: 42px;
  font-size: 0.9em;
}
form.double-column label {
  width: 110px;
  text-align: left;
  height: 42px;
  float: left;
  line-height: 42px;
  margin: 8px 0;
  font-size: 0.9em;
}
form.double-column .bootstrap-select {
  width: 290px !important;
  float: right !important;
}
form input,
form select,
form .bootstrap-select button {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 42px;
  width: 290px;
  background-color: #fff;
  display: inline-block;
  margin: 8px 0;
  padding: 6px 12px;
}
form input:focus,
form select:focus,
form .bootstrap-select button:focus {
  outline: 0 !important;
  border: 1px solid #069554;
}
form input[type=submit],
form select[type=submit],
form .bootstrap-select button[type=submit] {
  background-color: #069554;
  color: #ffffff;
}
form input[type=submit]:focus,
form select[type=submit]:focus,
form .bootstrap-select button[type=submit]:focus {
  outline: 0;
  border: 1px solid #004844;
}
form textarea {
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-width: 500px;
  background-color: #fff;
  display: inline-block;
  margin: 8px 0;
  height: 108px;
  padding: 15px;
}
form textarea:focus {
  outline: 0 !important;
  border: 1px solid #069554;
}
form textarea.long {
  height: 230px;
}
form .form-column {
  max-width: 400px;
  padding: 0;
  overflow: hidden;
}
form .form-column input,
form .form-column select,
form .form-column .bootstrap-select button {
  float: right;
}
form.double-column label {
  width: 98px !important;
}
form.double-column .bootstrap-select {
  width: 250px !important;
}
form.double-column input,
form.double-column select,
form.double-column .bootstrap-select button {
  width: 250px;
}
form.double-column .form-column {
  max-width: 350px;
  width: 350px;
}
form.double-column .form-column input,
form.double-column .form-column select,
form.double-column .form-column .bootstrap-select button {
  float: right;
}
.bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
  border: 1px solid #069554;
}
form.single {
  color: #666;
  max-width: 755px;
}
form.single label {
  width: 228px;
  text-align: right;
  float: left;
  margin: 6px 0;
}
form.single label.big {
  text-align: left;
  line-height: 1.5em;
  overflow: hidden;
  height: auto;
  display: block;
  margin: 12px 0 0;
}
form.single label.big.small-margin {
  margin: 4px 0 0;
}
form.single input[type="text"],
form.single input[type="email"],
form.single select,
form.single .bootstrap-select {
  margin: 6px 0 6px 24px !important;
  height: 42px;
}
form.single input[type="text"].invalid,
form.single input[type="email"].invalid,
form.single select.invalid,
form.single .bootstrap-select.invalid {
  border: 1px solid #e98026;
}
form.single input[type="text"].wide,
form.single input[type="email"].wide,
form.single select.wide,
form.single .bootstrap-select.wide {
  width: 465px;
}
form.single button.browseFile {
  width: 104px;
  background-color: #666;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 42px;
  display: inline-block;
  line-height: 42px;
  text-align: center;
  border: none;
  margin-left: 6px;
}
form.single input[type="submit"] {
  margin: 24px 0 24px 24px;
}
form.single input[type="submit"].invalid {
  background-color: #e98026;
}
form.single textarea {
  margin: 6px 0 6px 24px !important;
  width: 465px;
}
form.single .bootstrap-select button {
  margin: 0;
}
form.single .checkbox {
  margin-left: 24px;
  display: inline-block;
}
form.single .checkbox .box {
  border-color: #e6e6e6;
}
form.single .checkbox.gender {
  margin-left: 214px;
  display: block;
}
form.single .checkbox.gender .box {
  margin: 0 24px 0 10px;
}
form.single .checkbox.single {
  width: 465px;
  margin-right: 0;
}
form.single .inlineInputs {
  display: inline-block;
  width: 465px;
  height: 42px;
  margin: 6px 24px;
}
form.single .inlineInputs label {
  width: 50px;
  display: inline-block;
  margin: 0;
  float: none;
}
form.single .inlineInputs label:nth-of-type(1) {
  text-align: left;
}
form.single .inlineInputs label:nth-of-type(2) {
  text-align: center;
}
form.single .inlineInputs input {
  width: 170px;
  display: inline-block;
  margin: 0 !important;
}
form.single .required:before {
  content: '* ';
}
form.single .formContainer {
  overflow: hidden;
}
form.single .errorMessage {
  color: #e98026;
  width: 100%;
  max-width: 500px;
  float: right;
  font-size: .9em;
  display: block;
  padding: 5px;
  margin: 12px 0;
}
form.single .successMessage {
  max-width: 500px;
  width: 100%;
  float: right;
  font-size: 1em;
  display: block;
  padding: 5px;
  margin: 12px 0;
}
form.single .successMessage h6 {
  display: block;
  text-align: left;
  color: #069554;
  font-size: 1.3em;
  margin: 0;
}
form.single .successMessage p {
  margin: 0 0 24px 0;
  padding: 2px 0;
}
@media only screen and (max-width: 1130px) {
  #welcome {
    border-left: none;
    border-right: none;
  }
  #message {
    max-width: 310px;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    margin-top: 110px !important;
  }
  #slider {
    border: none;
    border-top: 10px solid #004844;
    width: 100%;
    bottom: 0;
    margin-top: 400px;
    height: auto;
  }
  #slider .sliderPopup {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 256px;
  }
  #slider .slick-next,
  #slider .slick-next:hover,
  #slider .slick-next:focus {
    height: 256px;
    width: 25px;
    background-color: rgba(6, 149, 84, 0.2);
    right: 0;
    padding-left: 12px;
    bacckground-size: 10%;
    background-position: center center;
    bottom: 0;
  }
  #slider .slick-prev,
  #slider .slick-prev:hover,
  #slider .slick-prev:focus {
    height: 256px;
    width: 25px;
    background-color: rgba(6, 149, 84, 0.2);
    left: 0;
    padding-left: 12px;
    bacckground-size: 10%;
    background-position: center center;
    bottom: 0;
  }
  #slider .slick-next {
    right: 0;
    left: auto;
  }
  .space.wide {
    margin: auto 48px;
  }
  .linkBlock {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
@media only screen and (max-width: 1050px) {
  .profile-column {
    max-width: 100% !important;
    width: 100%;
    text-align: center;
    padding: 5px !important;
  }
  .profile-column > * {
    display: inline-block !important;
    vertical-align: top;
    margin: 15px 12px !important;
  }
  .profile-column .party li:first-child {
    margin-top: 3px;
  }
  .profile-column .links li:first-child {
    margin-top: 0;
  }
  .tab-content,
  .organization-content {
    margin: 24px auto !important;
    float: none !important;
    padding: 10px !important;
  }
}
@media only screen and (max-width: 1044px) {
  .panel.stick > a {
    left: 0;
    max-width: 1100px !important;
  }
}
@media only screen and (max-width: 800px) {
  #logo {
    width: 100%;
    text-align: center;
  }
  #slogan {
    margin: 0 auto;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    display: none;
  }
  #slogan p {
    display: inline-block;
  }
  #t-optionMenu {
    display: none;
  }
  #mobileMenu {
    display: block;
  }
  #main,
  #secondary {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .two-buttons {
    text-align: center;
  }
  .two-buttons h4 {
    display: block;
    float: none;
    text-align: left;
  }
  .two-buttons .button {
    float: none;
    margin: 12px auto;
    display: block !important;
    max-width: 220px;
  }
  .two-buttons .button:first-child {
    margin-top: 40px;
  }
  .listImg > ul > li {
    border: 1px solid transparent;
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 22px 0;
    padding: 10px 5px;
    position: relative;
    min-height: 140px;
  }
  .listImg > ul > li div:first-child {
    top: 50%;
    margin-top: 0;
    margin-bottom: 24px;
    height: 120px;
    overflow: hidden;
    display: block;
    position: relative;
    padding: 0;
    line-height: 120px;
  }
  .listImg > ul > li div:first-child img {
    max-width: 150px;
    max-height: 120px;
  }
  .listImg > ul > li div:last-child {
    float: left;
    padding-right: 0;
  }
  .search-result .found {
    float: none;
    text-align: center;
  }
  .search-result nav {
    float: none;
    text-align: center;
  }
  .search-result nav ul {
    float: none;
    text-align: center;
  }
  .form-column {
    margin: 0 auto;
    display: block;
    float: none;
  }
  form.single {
    margin: 24px auto;
    max-width: 500px;
  }
  form.single label {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    padding-left: 12px;
  }
  form.single label.blank {
    display: none !important;
  }
  form.single label.big {
    max-width: 400px;
    width: auto;
  }
  form.single input[type="text"],
  form.single input[type="email"],
  form.single select,
  form.single .bootstrap-select {
    margin: 0 0 12px 6px !important;
  }
  form.single .browseFile {
    margin-top: 6px;
  }
  form.single input[type="submit"] {
    margin: 24px auto !important;
    display: block;
  }
  form.single textarea {
    margin: 6px 0 !important;
  }
  form.single .checkbox {
    margin: 0 0 12px 12px !important;
  }
  form.single .inlineInputs {
    width: auto;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .form-column {
    display: inline-block;
  }
  .form-column:nth-child(2) {
    float: right;
  }
}
@media only screen and (max-width: 700px) {
  .profile .flag {
    text-align: center;
  }
  .profile .nav li {
    width: 125px !important;
  }
  .profile .nav li a {
    width: 125px !important;
  }
  .profile-column img {
    display: block !important;
    margin: 12px auto !important;
  }
  .profile-column ul {
    margin: 32px !important;
  }
  .bubbles li {
    width: 100%;
  }
  .bubbles li::before {
    position: absolute;
    top: 50%;
    margin-top: -25px;
  }
  .bubbles li p {
    padding-left: 64px;
  }
  .article.narrow p,
  .article.narrow h3 {
    width: auto !important;
  }
}
@media only screen and (max-width: 540px) {
  .profile-column ul {
    margin: 12px !important;
  }
}
@media only screen and (max-width: 500px) {
  form.single .inlineInputs {
    width: 250px;
    height: auto;
    margin: 12px auto !important;
    overflow: hidden;
    display: block;
  }
}
@media only screen and (max-height: 600px) {
  .panel.stick > a {
    position: relative;
  }
}
