/* goals */
.circle-container {
    position: relative;
    width: 100%;
    padding: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50px;

    border: 2px solid lightgray;
    margin-bottom: 20px;
}

.circle-container:hover {
    border: 2px solid #069554;
}

.circle-text {
    width: 40%;
}

@media (min-width: 992px) {
    .circle-text {
        width:40%;
    }
}

.circle-text div {
    font-size: 1.5em;
}

.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #069554;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
    margin-bottom: 20px;
}
div .display {display: table;}


.basic-list-p
{
	padding-bottom: 0 !important;
}
.basic-list
{
	color: #666;
	font-size: .9em;
	line-height: 1.8em;
	list-style-type: disc;
}
.basic-list.round-arrow-bullet
{
	list-style-type: none;
}
.basic-list.round-arrow-bullet li
{
	list-style-type: none;
}
.basic-list.round-arrow-bullet li:before
{
	background: url('../img/icon/round-arrow_right_dark.svg') no-repeat center center;
	content: '';
	display: inline-block;
	height: 12px;
	margin: 0 12px 0 0;
	vertical-align: middle;
	width: 12px;
}
.basic-list li
{
	margin-left: 18px;
	list-style-type: disc;
}
.basic-list li a
{
	color: #069554;
}
.basic-list.spaced
{
	margin-bottom: 44px;
}
.basic-list.spaced li
{
	line-height: 2.1em;
	margin: 24px 0 24px 42px;
}
.basic-list.spaced li:before
{
	margin: 0 18px 0 -32px;
}
ol.basic-list
{
	list-style-type: decimal;
}

.bg-undb-green {
    background-color: rgb(0, 72, 58);
    color: rgb(255, 255, 255);
}

/* table layout and alignment */
.row-table {
    display: table;
}

.row-table [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top!important;
}
.col-middle {
    vertical-align:middle!important;
}
.col-bottom {
    vertical-align:bottom!important;
}

/* Accordion - Customization*/
#accordion .bg-title1 {
    background-image: url("http://lorempixel.com/1200/360/nature/one/");
}
#accordion .bg-title2 {
    background-image: url("http://lorempixel.com/1200/360/nature/two/");
}
#accordion .bg-title3 {
    background-image: url("http://lorempixel.com/1200/360/nature/three/");
}
#accordion .bg-title4 {
    background-image: url("http://lorempixel.com/1200/360/nature/four/");
}

#accordion .bg-tall {
    height: 360px!important;
}

#accordion .bg-short {
    height: 100px!important;
}

#accordion .accordion-title {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: -15px;
    height: 100px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 1.8em;
    color: white;

}
#accordion .panel-heading {
    position: relative;
}

#accordion .accordion-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    padding: 40px;
    font-size: 1.8em;
    color: white;
}

#accordion .accordion-arrow a {
    color: white;
}


/* UNDB Specifics **/
.box-rounded-sm {
    border-style: solid;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 160px;
    padding-right: 50px;
}

.box-rounded-sm-green {
    border-style: solid;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 160px;
    padding-left:5px;
    padding-right: 40px;
    margin:15px;
}

.border-bottom-cbd-green{
    border-bottom: 10px solid #009b48;
}
.border-bottom-cbd-green h5 {
    line-height: 1.2em;
    margin-top: 14px; 
    margin-left:14px;
    font-weight: bold;
    color: #004844;
}
.border-bottom-cbd-green p{
    line-height: 1.2em;
    margin-left:14px;
    padding: 2px;
    font-size: 13px;
}
.border-bottom-cbd-green p>a {
    color: #069554;
}
.border-bottom-cbd-green img.image-icon{
    margin-top: 25%;
    margin-bottom: 25%;
    max-width: 80px;
    float:right;
    position:relative;
}
.border-bottom-cbd-green img.image-center{
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
    max-width: 400px;
}
.border-bottom-cbd-green img.image-center-leftmargin-10{
    margin-left: 10%;
    margin-bottom: 5%;
}
.border-bottom-cbd-green p.indent-right{
    margin-left: 20%; 
}
.border-bottom-cbd-green p.text-center{
    text-align: center;
}

.border-bottom-blue{
    border-bottom: 10px solid #0081c6;
}

.border-bottom-lightblue{
    border-bottom: 10px solid #55a2d5;
      /*#9acae7; */
}

.box-dark-blue {
    border-style: solid;
    border: 1px solid #ddd;
    border-bottom: 10px solid #0081c6;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    min-height: 300px;
}

.box-bg-fish-water-blue {
    background: url("../images/backgrounds/fish-wave-blue-t.png") no-repeat bottom -3px right 15px;
    background-size: 25%;
}
.box-bg-flamingo-blue {
    background: url("../images/backgrounds/flamingo-blue-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}
.box-bg-people-blue {
    background: url("../images/backgrounds/people-blue-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}
.box-bg-tree-blue {
    background: url("../images/backgrounds/tree-blue-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}
.box-bg-flower-blue {
    background: url("../images/backgrounds/flower-blue-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}
.box-bg-bee-blue {
    background: url("../images/backgrounds/bee-blue-t.png") no-repeat bottom 10px right 15px;
    background-size: 15%;
}
.box-bg-bear-blue {
    background: url("../images/backgrounds/bear-blue-t.png") no-repeat bottom -3px right 15px;
    background-size: 25%;
}
.box-bg-bird-blue {
    background: url("../images/backgrounds/bird-blue-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}

.box-bg-fish-water-green {
    background: url("../images/backgrounds/fish-wave-green-t.png") no-repeat bottom -3px right 15px;
    background-size: 25%;
}
.box-bg-flamingo-green {
    background: url("../images/backgrounds/flamingo-green-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}
.box-bg-people-green {
    background: url("../images/backgrounds/people-green-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}
.box-bg-tree-green {
    background: url("../images/backgrounds/tree-green-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}
.box-bg-flower-green {
    background: url("../images/backgrounds/flower-green-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}
.box-bg-bee-green {
    background: url("../images/backgrounds/bee-green-t.png") no-repeat bottom 10px right 15px;
    background-size: 15%;
}
.box-bg-bear-green {
    background: url("../images/backgrounds/bear-green-t.png") no-repeat bottom -3px right 15px;
    background-size: 25%;
}
.box-bg-bird-green {
    background: url("../images/backgrounds/bird-green-t.png") no-repeat bottom -3px right 15px;
    background-size: 15%;
}

/*left carousel-control*/
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    top: 90%;
}

.carousel-control.right {
    left: 18%;
}
.carousel-text {
    position:absolute;
    bottom: 0;
    left:0;
    right:400;
    width:33%;
    height:100%;
    background-color:rgba(0,0,0,0.55);
    color:#fff;
    padding:10px 15px;
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#welcome::before {
    content: '';
    background-image: url('../img/un_light.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0.2;
    line-height: 400px;
    width: 115%;
    height: 115%;
}

#welcome div  {
    /*vertical-align: middle;
    display: inline-block;*/
    position: absolute;
    top: 10%;
    left:25%;
    transform: translate(-15%,15%);
}
/*xs*/
@media(max-width:767px){
    #welcome {
        height:200px;
    }
    #welcome::before {
        background-position: -140px;
    }

    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        top: 50%;
    }

    .carousel-control.right {
        left: 85%;
    }

    .carousel-text {
        position:absolute;
        bottom: :0;
        top:auto;
        left:0;
        width:100%;
        height:33%;
        background-color:rgba(0,0,0,0.55);
        color:#fff;
        padding:10px 15px;
        font-size:12px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

/*sm*/
@media(min-width:768px){
    #welcome {
        height:270px;
    }
    #welcome::before {
        background-position: -210px;
    }
    .carousel-text {
        top: 0;
    }

}
/*md*/
@media(min-width:992px){
    #welcome {
        height:350px;
    }
    #welcome::before {
        width: 105%;
        /*height: 110%;*/
    }



}
/*lg*/
@media(min-width:1200px){
    #welcome {
        height:474px;
    }
    #welcome::before {
        width: 140%;
        /*height: 110%;*/
    }
}
.img-block {
  max-width: 140px;
  max-height: 140px;
  padding: 5px;
  display:block;
  margin: auto;
}
.button-green-link {
  color: white;
}
