<div class="row article" >

	<div class="alert alert-danger" ng-show="hasError()">
		<strong>An error has occurred...</strong>
		<div>{{error}}</div>
	</div>

	<div id="view-header" class="panel-heading " style="background-color:#004844;margin-top:20px;">
			<div class="row">
					<div class="col-xs-12 col-sm-3">
							<h2 style="color:white;">Country Profile </h2>
					</div>
					<div class="col-xs-12 col-sm-9 text-right hidden-xs" >
							<span km-form-languages  ng-model="document.header.languages"></span>
							<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
									on-pre-publish="onPrePublish()"></span>
					</div>
					<div class="col-xs-12 col-sm-9 small visible-xs" >
							<span km-form-languages xs ng-model="document.header.languages"></span>
							<span km-form-std-buttons xs  document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
									on-pre-publish="onPrePublish()"></span>
					</div>
			</div>
	</div>
	<div class="text-center" ng-if="isLoading()" >
			<h1><i class="fa fa-spin fa-spinner " /> Loading...</h1>
	</div>
	<div class="row" ng-show="!isLoading() && status!='hidden'">

		<div class="col-md-12" style="position: relative">

			<div class="row">
					<div class="col-xs-12">
						<ul class="pagination hidden-xs">
							<li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="prevTab()">&laquo;</a></li>
							<li ng-class="{ active  : tab=='detail' }"><a href="" ng-click="tab='detail'">Profile</a></li>
							<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review';validate();">Review</a></li>
							<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="nextTab()">&raquo;</a></li>
						</ul>
						<ul class="pagination small visible-xs">
							<li ng-class="{ disabled: tab=='general' }"><a href="" ng-click="prevTab()">&laquo;</a></li>
							<li ng-class="{ active  : tab=='detail' }"><a href="" ng-click="tab='detail'">Profile</a></li>
							<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review';validate();">Review</a></li>
							<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="nextTab()">&raquo;</a></li>
						</ul>
					</div>
			</div>

			<div>

				<div km-document-validation ng-model="validationReport"></div>
				<form name="editForm" style="margin-top:10px" novalidate>

					<div km-tab="detail">
						<div class="col-md-8 col-xs-12">
								<div class="km-control-group" name="government" required caption="Select Governemnt ">
								<div km-select  required name="government" ng-model="document.government" items="options.countries()"></div>
							</div>
						</div>



						<div class="col-xs-12">
								<div class="km-control-group" name="description" caption="Description">
										<div class="help-info small">Briefly describe your government's  work related to the United Nations Decade on Biodiversity (max. 1000 characters) in one or more of the 6 United Nations languages<span class="pull-right small red" style="color:red;" ng-if="document.collaborationAreas.en.length">Word Count: {{wordCount(document.collaborationAreas.en)}}</span></div>
										<div km-textbox-ml rows="1000" name="description" ng-model="document.description" placeholder="text entry" locales="document.header.languages"></div>
								</div>
						</div>
						<br>
						<div class="col-xs-12">
								<div class="km-control-group" name="descriptionNative">
										<label class="control-label">Description official language(s)</label>
										<div class="help-info small">Briefly describe your government's  work related to the United Nations Decade on Biodiversity (max. 1000 characters) in your official language(s)<span class="pull-right small red" style="color:red;" ng-if="document.collaborationAreas.en.length">Word Count: {{wordCount(document.collaborationAreas.en)}}</span></div>
										<textarea class="form-control" rows="4" name="descriptionNative" ng-model="document.descriptionNative"  ></textarea>
								</div>
						</div>

						<div class="col-md-6 col-xs-12">
								<div class="km-control-group" name="documents" caption="Documents">
										<div km-link name="documents" ng-model="document.documents" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
								</div>
						</div>

						<div class="col-md-6 col-xs-12">
								<div class="km-control-group" name="websites" caption="Links">
										<div km-link name="websites" ng-model="document.websites" allow-link="true" allow-file="false" identifier="document.header.identifier"></div>
								</div>
						</div>

						<div class="col-md-6 col-xs-12">
								<div class="km-control-group" name="images" caption="Images">
										<div km-link name="images" ng-model="document.images" allow-link="true" allow-file="true" identifier="document.header.identifier"></div>
								</div>
						</div>

						<div class="col-md-6  col-xs-12">
								<div class="km-control-group" name="videos" caption="Videos">
										<div km-link name="videos" ng-model="document.videos" allow-link="true" allow-file="false" identifier="document.header.identifier"></div>
								</div>
						</div>

						</div>
			</div>
				</form>

				<div km-tab="review">
					<div class="btn-group" ng-show="document.header.languages.length>1">
						<input type="button" class="btn" ng-class="{'active' : review.locale==locale, 'btn-info' : review.locale==locale}" ng-repeat="locale in document.header.languages" ng-click="$parent.review.locale = locale" value="{{locale | uppercase}}" />
					</div>
					<view-undb-party header="false" user="user" ng-model="document" locale="review.locale" link-target="_blank"></view-undb-party>
				</div>

				<div class="row">

					<div class="col-xs-12">
						<ul class="pagination hidden-xs">
							<li ng-class="{ disabled: tab=='detail' }"><a href="" ng-click="prevTab()">&laquo;</a></li>
							<li ng-class="{ active  : tab=='detail' }"><a href="" ng-click="tab='detail'">Profile</a></li>
							<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review';validate();">Review</a></li>
							<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="nextTab()">&raquo;</a></li>
						</ul>
						<ul class="pagination small visible-xs">
							<li ng-class="{ disabled: tab=='detail' }"><a href="" ng-click="prevTab()">&laquo;</a></li>
							<li ng-class="{ active  : tab=='detail' }"><a href="" ng-click="tab='detail'">Profile</a></li>
							<li ng-class="{ active  : tab=='review'  }"><a href="" ng-click="tab='review';validate();">Review</a></li>
							<li ng-class="{ disabled: tab=='review'  }"><a href="" ng-click="nextTab()">&raquo;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div id="view-header" class="panel-heading" style="background-color:#004844;color:white;">
				<div class="row">
						<div class="col-xs-12 col-sm-3">
								<h2 style="color:white;">Country Profile</h2>
						</div>
						<div class="col-xs-12 col-sm-9 text-right hidden-xs" >
								<span km-form-languages  ng-model="document.header.languages"></span>
								<span km-form-std-buttons document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
										on-pre-publish="onPrePublish()"></span>
						</div>
						<div class="col-xs-12 col-sm-9 small visible-xs" >
								<span km-form-languages xs ng-model="document.header.languages"></span>
								<span km-form-std-buttons xs  document="document" on-post-close="onPostClose()" on-error="onError(error, errorCode)" on-post-workflow="onPostWorkflow(data)" on-post-publish="onPostPublish(data)" on-post-save-draft="onPostSaveDraft(data)" on-pre-save-draft="onPreSaveDraft()"
										on-pre-publish="onPrePublish()"></span>
						</div>
				</div>
		</div>

	</div>
