<div>
    <div class="text-center">
        <img class="logo" width="45%" src="/app/images/cbd-logo-green-en.svg"></img>
        <h3>Understanding Bio-Bridge Records</h3>
    </div>
    <style>
        .mhr {
            height: 12px;
            border: 0;
            box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
        }
    </style>
    <hr class="mhr" style="color:#111;">

        <p class="small">  UNDB records can be created by any user with a CBD account but must be approved by the CBD Secretariat before they are published.  Any user can suggest edits to any published record. </p>
        <p class="small">  UNDB records can reference other UNDB records. If a record you are creating needs to reference a record not already available you have to save your current record and create the reference record. Once the reference record is created you can edit the saved draft and select your new reference record.</p>
        <p class="small">  UNDB records are presented on your dashboard as drafts, requests pending approval or as published records.<p>
      <ol class="bbilist-o small">

        <li class="small"><img src="/app/images/record-draft.png" style="height:15px;"></img> <br>Only you can see the record.</li>
        <li class="small"><img src="/app/images/record-request.png" style="height:15px;"></img> <br><span >You have submitted your record and it is pending approval. </span></li>
        <li class="small"><img src="/app/images/record-published.png" style="height:15px;"></img> <br>Everyone can see the record. </li>
     </ol>
    </p>


        <div class="col-xs-12 checkbox text-nowrap" style="margin: 0 0 0 0;line-height:1em;">
            <label style="font-size: .8em;">
            <span class="text-danger">Do not show this notice again.</span>
 							<input  ng-false-value="false" ng-true-value="true" type="checkbox" ng-model="bbiRecordsNotice" bind-indeterminate="item.indeterminate" ng-change="settingsChange('undb.recordsNotice',bbiRecordsNotice)" >
 							<span class="cr"><i class="cr-icon fa fa-check"></i></span>
 					</label>
            <br>
        </div>
    </p>
    <div class="text-xs-center text-right">
        <button class="btn btn-warning" ng-click="closeThisDialog(true);">
                  Close
        </button>

    </div>
</div>