<div class="container">
	<div class="row-fluid">
		<ol class="breadcrumb">
		  <li><a href="./">Home</a></li>
		  <li class="active">Partners</li>
		</ol>
	</div>

	<div class="row-fluid">
	    <div class="col-xs-2 col-md-2">
		    <h3>Training Materials:</h3>
	    </div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/training/download-pdf.jpg">
	        <a href="https://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-09-en.pdf">
	         	<h3>Training Manual for the Description of Ecologically and Biologically Significant Areas (EBSAs) in Open-ocean Waters and Deep-sea Habitats</h3>
	        </a>
	        <a href="https://www.cbd.int/doc/meetings/sbstta/sbstta-16/information/sbstta-16-inf-09-en.pdf" title="Training Manual for the Description of Ecologically and Biologically Significant Areas (EBSAs)">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/training/download-pdf.jpg">
	        <h3>Training manual on Integrating Traditional Knowledge in the Application of the EBSA criteria</h3>
	        <p class="emphase">(forthcoming)</p>
		</div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/training/e-learning-modules.jpg">
	        <a href="https://www.cbd.int/protected/e-learning/">
	        	<h3>CBD Protected Areas E-Learning Modules</h3>
	        </a>
	        <a href="https://www.cbd.int/protected/e-learning/" title="CBD Protected Areas E-Learning Modules">www.cbd.int/protected/e-learning <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/training/170-fao-fisheries.jpg">
	         <a href="http://www.fao.org/fishery/eaf-net/topic/166272/en">
	         	<h3>FAO Ecosystem Approach to Fisheries (EAF) Toolbox</h3>
	         </a>
	        <a href="http://www.fao.org/fishery/eaf-net/topic/166272/en" title="FAO Ecosystem Approach to Fisheries (EAF) Toolbox">www.fao.org/fishery/eaf-net/topic/166272/en <i class="fa fa-long-arrow-right"></i></a>
		</div>

	<div class="clear"></div>
	</div>
</div>
