<style>
	.action-title h1 {
		color: #069554;
		font-size: 26px;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		line-height: 29px;
		padding-bottom: 20px;
	}

	.action-detail {
		padding: 5px 5px 5px 0px;
	}

	.action-detail .detail {
		padding-left: 10px;
	}

	.action-detail .map {
		font-size: 10px;
	}

	.action-detail .action-labels {
		color: #069554;
	}
	.img-container {
    width: 200px; /* whatever set width */
		height: 200px; /* whatever set width */
    display: inline-block; /* or you could float them */
    overflow: hidden;
	}

	.img-container img {
	    max-width: 100%;
			max-height: 100%;
			margin-left: auto; margin-right: auto ;
	}
</style>
<div class="hidden-xs">
	<div class="container sub-nav">
		<ul class="nav navbar-nav">
			<li ng-mouseover="highlightLink='worldwide'" ng-mouseleave="highlightLink=''"><a href="actions/worldwide">Worldwide</a> <i ng-if="highlightLink=='worldwide' || path=='/actions/worldwide'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
			<li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actions/country">By Country</a> <i ng-if="highlightLink=='country' ||  path=='/actions/country'" style="position:relative;top:-4px;left:30px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
			<li ng-mouseover="highlightLink='calendar'" ng-mouseleave="highlightLink=''"><a href="actions/calendar">Calendar</a> <i ng-if="highlightLink=='calendar' ||  path=='/actions/calendar'" style="position:relative;top:-4px;left:22px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='coalitions'" ng-mouseleave="highlightLink=''"><a href="actions/ccc" >Commitments</a> <i ng-if="highlightLink=='coalitions' ||  path=='/actions/ccc'" style="position:relative;top:-4px;left:40px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
									<li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
		</ul>
	</div>
</div>
<div class="container center profile">


	<div class="profile-border">
		<a class="pull-right" style="padding-right:10px;cursor:pointer;" tool-tip ng-href="dashboard/submit/event/{{action.identifier_s}}" data-toggle="tooltip" title="Suggest an Edit"><i class="fa fa-edit"></i></a>

		<div class="col-md-3 col-lg-3 profile-column">

			<!-- <iframe ng-if="isGooleMap()" width="200" height="200" frameborder="0" style="border:0" ng-src="{{trustSrc()}}" allowfullscreen>
			</iframe> -->

			<div class="img-container" ng-if="action.logo_s">
						<img ng-src="{{action.logo_s}}"  class="img-responsive" style="width:100%;" ></img>
			</div>
			<zoom-map zoom-to="action.country_s" ng-if="!action.logo_s" ></zoom-map>
<br><br>
		<links-display document="action" ></links-display>
		</div>

		<div class="col-xs-12  col-sm-12 col-md-9 col-lg-9 tab-content text-left">
			<div role="tabpanel" class="tab-pane fade in  active" id="UNDB">
				<div class="article">
					<div class="action-title">
						<h1>{{action.title_s}} <span class="pull-right" ng-if="action.onlineEvent">(Online Event)</span></h1>
					</div>
					<div class="action-detail" ng-if="action.startDate_s">
						<span class="action-labels">Date </span>
						<span class="detail" style="margin-left:35px;">{{action.startDate_s | date:'yyyy.MM.dd':'UTC'}} <span ng-if="action.endDate_s && action.startDate_s !== action.endDate_s"> - {{action.endDate_s | date:'yyyy.MM.dd':'UTC'}}</span></span>
					</div>

					<div class="action-detail" ng-if="action.startTime">
						<span class="action-labels">Time </span>
						<span class="detail" style="margin-left:35px;">{{action.startTime}}<span ng-if="action.endTime"> - {{action.endTime}}</span></span>
					</div>
					<div class="action-detail" ng-if="action.address && !action.onlineEvent">
						<span class="action-labels">Address</span>
						<span class="detail" style="margin-left:14px;">{{action.address.address.en}},{{action.address.city.en}},{{action.address.postalCode.en}} <a ng-href="{{action.googleMapsUrl_s}}">(map)</a></span>
					</div>
					<div class="action-detail" ng-if="action.country_s && !action.onlineEvent">
						<span class="action-labels">Country</span>
						<span class="detail">
							<a href="" ng-click="goTo('/actions/countries/',action.country_s.toUpperCase());" style="margin-left:15px;" >
								<img ng-src="{{getCountryFlag(action.country_s)}}"></a>
						</span>
					</div>

					<div ng-if="action.description_s">
						<p  ng-bind-html="trusted((action.description_s | nl2br | hack | lstring))"></p>
					</div>
					<div ng-if="action.descriptionNative_s"><hr></div>
					<div ng-if="action.descriptionNative_s">
						<p ng-bind-html="trusted((action.descriptionNative_s | uriToLink | nl2br | hack ))"></p>
					</div>
				</div>
			</div>
		</div>
		<!-- END DIV BORDER ( colum + center ) -->
	</div>
	<!-- END DIV CENTER -->
</div>
