<div>

  <div class="hidden-xs">
		<div class="container sub-nav">
      <ul class="nav navbar-nav">
        <li ng-mouseover="highlightLink='worldwide'" ng-mouseleave="highlightLink=''"><a href="actions/worldwide">Worldwide</a> <i ng-if="highlightLink=='worldwide' || path=='/actions/worldwide'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
  			<li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actions/country">By Country</a> <i ng-if="highlightLink=='country' ||  path=='/actions/country'" style="position:relative;top:-4px;left:30px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
  			<li ng-mouseover="highlightLink='calendar'" ng-mouseleave="highlightLink=''"><a href="actions/calendar">Calendar</a> <i ng-if="highlightLink=='calendar' ||  path=='/actions/calendar'" style="position:relative;top:-4px;left:22px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='coalitions'" ng-mouseleave="highlightLink=''"><a href="actions/ccc" >Commitments</a> <i ng-if="highlightLink=='coalitions' ||  path=='/actions/ccc'" style="position:relative;top:-4px;left:40px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
              			<li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
  		</ul>
		</div>
	</div>

  <div class="container">
    <div class="row article">
      <div class="col-xs-12">
        <h1>Actions by Countries</h1>
        <p>Governments have committed to establishing national targets in support of the <a href="https://www.cbd.int/sp/targets/">Aichi Biodiversity Targets</a>. The development of national targets and their incorporation into updated <a href="https://www.cbd.int/nbsap/">National Biodiversity Strategies and Action Plans (NBSAPs)</a> is a key process in fulfilling the commitments set out in the <a href="https://www.cbd.int/sp/">Strategic Plan for Biodiversity 2011-2020</a>. National Biodiversity Strategies Action Plans reflect how a country intends to fulfill the objectives of the CBD and the concrete actions it intends to take.
          The <a href="http://localhost:2020/actions/ccc">Cancun Commitments and Coalitions for Enhanced Implementation</a> through which Parties and other Governments are invited to announce commitments or actions in support of biodiversity.

        </p>

        <p>The Convention on Biological Diversity (CBD) has 3 main objectives:
        <ul class="basic-list"><li>The conservation of biological diversity</li>
        <li>The sustainable use of the components of biological diversity</li>
        <li>The fair and equitable sharing of the benefits arising out of the utilization of genetic resources</li></ul></p>



<p>See what&rsquo;s happening in your country. Start typing a country&rsquo;s name in the box or select a flag below.</p>


      </div>
    </div>

    <div class="row article">
      <div class="col-sm-2 col-sm-offset-10">
        <a href="dashboard/submit/event/new" class="btn bg-cbdgreen" aria-haspopup="true" aria-expanded="false" style="color:white;">
          Register your Action <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>

  <div class="push20"></div>
  <div class="row article">
    <div class="text-left">
      <span class="darkGreen small">See what’s happening in your country. Start typing a country’s name in the box or select a flag below.</span>
      <div class="form-group">
        <form>
          <input type="text" class="form-control" placeholder="Country Name" ng-model="search">
        </form>
      </div>
    </div>
  </div>

  <div class="row article">
    <div class="text-center" ng-if="isLoading" >
        <h1><i class="fa fa-spin fa-spinner " /> Loading...</h1>
    </div>
    <ul class="listCountries">
      <li class="col-md-3 col-sm-6 col-xs-6" ng-repeat="country in countries | filter:{name:search} |orderBy:'name':desc track by $index">
        <div class="text-center">
          <a ng-href="actions/countries/{{country.code}}" >
            <!-- <div class="flag-icon-background listCountriesFlag" ng-class="country.cssClass" ng-attr-title="{{country.name}}" ng-if="country.code!='eu'"></div> -->
            <!-- <img src="app/img/Flag_of_Europe.svg" class="listCountriesFlag" ng-attr-title="{{country.name}}" ng-if="country.code==='eu'"> -->
            <img style="max-height:70px;" ng-src="{{getCountryFlag(country.code)}}"  ng-attr-title="{{country.name}}"  ng-if="country.code!=='eu'">
            <img ng-src="{{getCountryFlag('eur')}}" ng-attr-title="{{country.name}}" ng-if="country.code==='eu'">


          </a>

        </div>
        <div class="text-center text-nowrap cName" style="height:30px;">
          <a ng-href="actions/countries/{{country.code}}" style="height: 25px;line-height:20px !important;">
          <span ng-if="country.code!=='gb'">{{country.name}}</span>
          <span ng-if="country.code==='gb'" >United Kingdom of Great Britain <br> and <br>Northern Ireland</span>
          </a>
        </div>

      </li>
    </ul>
  </div>
  </div>
</div>
