<div>
	<div class="hidden-xs">
		<div class="container sub-nav">
			<ul class="nav navbar-nav">
				<li ng-mouseover="highlightLink='worldwide'" ng-mouseleave="highlightLink=''"><a href="actions/worldwide">Worldwide</a> <i ng-if="highlightLink=='worldwide' || path=='/actions/worldwide'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
				<li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actions/country">By Country</a> <i ng-if="highlightLink=='country' ||  path=='/actions/country'" style="position:relative;top:-4px;left:30px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
				<li ng-mouseover="highlightLink='calendar'" ng-mouseleave="highlightLink=''"><a href="actions/calendar">Calendar</a> <i ng-if="highlightLink=='calendar' ||  path=='/actions/calendar'" style="position:relative;top:-4px;left:22px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='coalitions'" ng-mouseleave="highlightLink=''"><a href="actions/ccc" >Commitments</a> <i ng-if="highlightLink=='coalitions' ||  path=='/actions/ccc'" style="position:relative;top:-4px;left:40px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
										<li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
			</ul>
		</div>
	</div>
	<div class="container center profile">

		<div class="flag text-left text-nowarp" ng-if="country.code">
			<!-- <div class="flag-icon-background profileFlag" ng-class="country.cssClass" ng-attr-title="{{country.name}}" ng-if="country.code!='eu'"></div> -->
			<img class="pull-left" ng-src="{{getCountryFlag(country.code)}}" ng-attr-title="{{country.name}}" style="max-height:40px;display:inline;" ng-if="country.code && country.code!=='eu'">
			<img class="pull-left" ng-src="{{getCountryFlag('eur')}}" ng-attr-title="{{country.name}}" style="max-height:40px;display:inline;" ng-if="country.code && country.code==='eu'">
			<!-- <img src="/undb/img/flag/World-Flags-cc-53.svg" alt=""> -->
			<h1 class="pull-left" style="display:inline;margin: 0 0 0 0;padding-left:5px;line-height:50px;">{{country.name}} </h1>
			<a class="pull-right" style="padding-right:10px;cursor:pointer;" ng-click="goTo('/actions/countries/edit/',country.code);" ng-if="isAdmin()">Edit Profile <i class="fa fa-edit"></i></a>
		</div>

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active" style="margin-top:5px;"><a href="#UNDB" aria-controls="UNDB" role="tab" data-toggle="tab"><span>UNDB</span></a></li>
			<li role="presentation" style="margin-top:5px;"><a href="#CBD" aria-controls="CBD" role="tab" data-toggle="tab"><span>CBD</span></a></li>
			<li role="presentation" style="margin-top:5px;"><a href="#More" aria-controls="More" role="tab" data-toggle="tab"><span>More</span></a></li>
			<li role="presentation" style="margin-top:5px;" ng-if="(country.publications.length>0)"><a href="#publications" aria-controls="publications" role="tab" data-toggle="tab"><span>Publications</span></a></li>
			<li role="presentation" style="margin-top:5px;" ng-if="country.images.length>0"><a href="#images" aria-controls="images" role="tab" data-toggle="tab"><span>Images</span></a></li>
			<li role="presentation" style="margin-top:5px;" ng-if="country.videos.length>0"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab"><span>Videos</span></a></li>
		</ul>

		<div class="profile-border">
			<!-- DIV BORDER ( colum + center )  -->

			<div class="col-md-3 col-lg-3 profile-column">
				<zoom-map zoom-to="country.code"></zoom-map>

				<ul class="party" style="padding-left:1px;list-style:none;">
					<li ng-if="country.treaties.XXVII8.party">
						<span>Convention on Biological Diversity</span>
						<span>Party</span>
					</li>
					<li ng-if="country.treaties.XXVII8a.party">
						<span>Cartagena Protocol</span>
						<span>Party</span>
					</li>
					<li ng-if="country.treaties.XXVII8b.party">
						<span>Nagoya Protocol</span>
						<span>Party</span>
					</li>
					<li ng-if="country.treaties.XXVII8c.party">
						<span>Nagoya–Kuala Lumpur Protocol</span>
						<span>Party</span>
					</li>
				</ul>


      <links-display document="country"></links-display>
			</div>

			<div class="col-xs-12  col-sm-12 col-md-9 col-lg-9 tab-content text-left">
				<div role="tabpanel" class="tab-pane fade in  active" id="UNDB">
					<div class="article">
						<div ng-bind-html="trustHtml(country.description)">
						</div>
					</div>

					<div ng-show="activitiesCount">
						<!-- <h4 class="color-darkgreen" style="padding-top:25px;">Actions</h4> -->
						<activities-list hide-country-reference="true" country="country.code" items-per-page="10" hide-pagenation="true" count="activitiesCount"></activities-list>
						<button type="button" class="btn pull-right" style="background-color:#069554;color:white;margin-top:0px;" ng-click="goTo('/actions/calendar?code='+country.code);">More ></button>

					</div>
					<!-- <div class="space">
							<a href="" class="button green">More Activities</a>
						</div> -->

					<div style="margin-top:60px;" ng-if="partners.length">
						<h4 class="darkGreen">UNDB Network</h4>

						<actors-list  items-per-page="10"  hide-search="true" country="country.code"></actors-list>

					</div>
					<!-- <div class="space">
							<a href="" class="button green">More</a>
						</div> -->

					<!-- END FIRST TAB DIV -->
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="CBD">

					<div class="article">
						<h3>Convention on Biological Diversity - Country Profile</h3>
						<p>
							Please note that this country profile has been prepared by the Secretariat on the basis of information provided in the NBSAP and national reports, but has not been reviewed by the Party concerned. <a href="https://www.cbd.int/countries/?country={{countryCode(code)}}">CBD Country Profile  ></a>
						</p>
						<h3>Access and Benefit-Sharing Clearing-House</h3>
						<p>
							The Access and Benefit-sharing Clearing-house (ABSCH) is a platform for exchanging information on ABS and a key tool for facilitating the implementation of the Nagoya Protocol. <a href="https://absch.cbd.int/countries/{{code}}">ABSCH Country Profile   ></a>
						</p>
						<h3>Biosafety Clearing-House</h3>
						<p>
							The Biosafety Clearing-House (BCH) is a mechanism set up by the Cartagena Protocol on Biosafety to facilitate the exchange of information on Living Modified Organisms (LMOs) and assist the Parties to better comply with their obligations under the Protocol.
							Global access to a variety of scientific, technical, environmental, legal and capacity building information is provided in the six official languages of the UN. <a href="https://bch.cbd.int/about/countryprofile.shtml?country={{countryCode(code)}}">BCH Country Profile  ></a>
						</p>
						<h3>National Clearing-House Mechanism</h3>
						<p>
							The Clearing-House Mechanism (CHM) of the Convention on Biological Diversity has been established further to Article 18.3 of the Convention. Further to decision X/15, its mission is to contribute significantly to the implementation of the Convention on
							Biological Diversity and its Strategic Plan for Biodiversity 2011-2020, through effective information services and other appropriate means in order to promote and facilitate scientific and technical cooperation, knowledge sharing and information
							exchange, and to establish a fully operational network of Parties and partners. <a href="https://chm.cbd.int/">CHM homepage ></a>
						</p>
					</div>

					<!-- END SECOND TAB DIV -->
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="More">

					<div class="article narrow">

						<section ng-repeat="link in country.links">
							<h3>{{link.title}}</h3>
							<p>{{link.description}} <a href="{{link.uri}}">{{link.uri}}</a></p>

						</section>

						<h3>InforMEA</h3>
						<p>
							InforMEA is the first project established by this Initiative. InforMEA harvests COP decisions and resolutions, news, events, MEA membership, national focal points, national reports and implementation plans from MEA secretariats and organizes this information
							around a set of agreed terms. <a href="https://www.informea.org/en/countries/{{code}}">InforMEA Country Profile > </a>
						</p>
						<h3>UNdata</h3>
						<p>
							UNdata is an internet-based data service which brings UN statistical databases within easy reach of users through a single entry point. Users can now search and download a variety of statistical resources of the UN system. <a href="http://data.un.org/CountryProfile.aspx"
									ng-if="country.code==='eu'">UNdata country profiles ></a> <a href="http://data.un.org/CountryProfile.aspx?crName={{country.name}}" ng-if="country.code!=='eu'">UNdata Country Profile ></a>
						</p>
						<h3>ProtectedPlanet.net</h3>
						<p>
							ProtectedPlanet.net is the online interface for the World Database on Protected Areas (WDPA), a join project of IUCN and UNEP, and the most comprehensive global database on terrestrial and marine protected areas. ProtectedPlanet.net lets you discover
							the protected areas of the world through exploring the maps and intuitive searching, feeding you information from the WDPA, photos from Panoramio and text descriptions from Wikipedia. <a href="http://www.protectedplanet.net/search?q={{country.name}}">Protected Planet County Areas ></a>
						</p>
						<h3>UNESCO World Heritage List</h3>
						<p>
							The United Nations Educational, Scientific and Cultural Organization (UNESCO) seeks to encourage the identification, protection and preservation of cultural and natural heritage around the world considered to be of outstanding value to humanity. This
							is embodied in an international treaty called the Convention concerning the Protection of the World Cultural and Natural Heritage , adopted by UNESCO in 1972. <a href="http://whc.unesco.org/en/statesparties/{{code}}">World Heritage Country Profile ></a>
						</p>
					</div>

					<!-- END THIRD TAB DIV -->
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="publications">
					<link-list fa-class="fa-book" document="country" links="country.publications"></link-list>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="images">
					<link-list fa-class="fa-image" document="country" links="country.images"></link-list>
				</div>
				<div role="tabpanel" class="tab-pane fade in" id="videos">
					<link-list fa-class="fa-video-camera" document="country" links="country.videos"></link-list>
				</div>

			</div>
			<!-- END DIV BORDER ( colum + center ) -->

		</div>
		<!-- END DIV CENTER -->
	</div>
</div>