<div>
    <div class="sub-nav">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='worldwide'" ng-mouseleave="highlightLink=''"><a href="actions/worldwide">Worldwide</a> <i ng-if="highlightLink=='worldwide' || path=='/actions/worldwide'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actions/country" >By Country</a> <i ng-if="highlightLink=='country' ||  path=='/actions/country'" style="position:relative;top:-4px;left:30px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='un'" ng-mouseleave="highlightLink=''"><a href="actions/un" >By UN Organization</a> <i ng-if="highlightLink=='un' ||  path=='/actions/un'" style="position:relative;top:-4px;left:55px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='calendar'" ng-mouseleave="highlightLink=''"><a href="actions/calendar" >Calendar</a> <i ng-if="highlightLink=='calendar' ||  path=='/actions/calendar'" style="position:relative;top:-4px;left:22px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate" >Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12" ng-if="path=='/actions/participate'">
                <h1>Participate</h1>
                <p>In this section, you will see that governments, organizations, communities and individual people are accomplishing great things. Be inspired and get involved! It is the actions of individuals that will ultimately make a difference for safeguarding biodiversity.
                </p>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-4 blocksHub center">
                <a href="#" class="linkBlock green imgText centerImg textTop">
                    <div>
                        <p>Request the logo</p>
                        <img src="app/img/logo/undb.svg" />
                    </div>
                </a>
            </div>
            <div class="col-xs-4 blocksHub center">
                <a href="#" class="linkBlock green titleText center-icon center-text">
                    <div>
                        <h5>Become a Biodiversity Champion</h5>
                        <p>make a pledge</p>
                        <img class="image-icon" src="app/images/biodiversity-champion.png" >
                    </div>
                </a>
            </div>
            <div class="col-xs-4 blocksHub center">
                <a href="#" class="linkBlock green imgText center-text">
                    <div>
                        <img src="app/img/international-day-for-biological-diversity2015.svg" />
                    </div>
                </a>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-4 blocksHub center">
                <a href="#" class="linkBlock green titleText center-icon center-text">
                    <div>
                        <h5>Join us</h5>
                        <p>on facebook</p>
                        <img class="image-icon" src="app/images/icons/facebook.png" alt="">
                    </div>
                </a>
            </div>
            <div class="col-xs-4 blocksHub center">
                <a href="/actions/submit" class="linkBlock green titleText center-icon center-text">
                    <div>
                        <h5>Register your action</h5>
                        <p></p>
                        <img  class="image-icon" src="app/images/icons/web.svg"  alt="">
                    </div>
                </a>
            </div>
            <div class="col-xs-4 blocksHub center">
                <a href="#" class="linkBlock green titleText center-icon center-text">
                    <div>
                        <h5>Become a UNDB Partner</h5>
                        <p></p>
                        <img class="image-icon" src="app/images/icons/partner.png" alt="">
                    </div>
                </a>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-4 blocksHub center">
                <a href="#" class="linkBlock green titleText center-icon center-text">
                    <div>
                        <h5>Join us</h5>
                        <p>on twitter</p>
                        <img class="image-icon" src="app/images/icons/twitter.png" alt="">
                    </div>
                </a>
            </div>
            <div class="col-xs-4 blocksHub center">
                <a href="#" class="linkBlock green titleText center-icon center-text">
                    <div>
                        <h5>Join us</h5>
                        <p>on youtube</p>
                        <img class="image-icon"  src="app/images/icons/youtube.png"  alt="">
                    </div>
                </a>
            </div>
            <div class="col-xs-4 blocksHub center">
                <a href="#" class="linkBlock green titleText center-icon center-text">
                    <div>
                        <h5>Join us</h5>
                        <p>on flickr</p>
                        <img class="image-icon" src="app/images/icons/flickr.png" alt="">
                    </div>
                </a>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-12">
                <h1>Learn
                </h1>
                <ul class="basic-list">
                    <li>About biodiversity in your city, region and country
                    </li><li>How your consumption patterns and everyday actions may impact on biodiversity, sometimes in distant ecosystems
                    </li>
                </ul>

                <h1>Speak
                </h1>
                <ul class="basic-list">
                    <li>Make your views known to the government and the private sector
                    </li><li>Share your knowledge with people around you
                    </li><li>Send us your Success stories
                    </li>
                </ul>

                <h1>Act
                </h1>
                <ul class="basic-list">
                    <li>Make responsible consumption choices
                    </li><li>Support activities and organizations that conserve biodiversity
                    </li><li>Join a local environmental NGO or organize your own activities that will help biodiversity
                    </li><li>Be creative and find solutions to biodiversity loss
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
