<div>
  <style>
  .img-container {
    width: 100%; /* whatever set width */
		height: 100%; /* whatever set width */
    display: inline-block; /* or you could float them */
    overflow: hidden;
	}

	.img-container img {
	    max-width: 100%;
			max-height: 100%;
			margin-left: auto; margin-right: auto ;
	}
  </style>
    <div class="hidden-xs">
        <div class="container sub-nav">
          <ul class="nav navbar-nav">
            <li ng-mouseover="highlightLink='worldwide'" ng-mouseleave="highlightLink=''"><a href="actions/worldwide">Worldwide</a> <i ng-if="highlightLink=='worldwide' || path=='/actions/worldwide'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actions/country">By Country</a> <i ng-if="highlightLink=='country' ||  path=='/actions/country'" style="position:relative;top:-4px;left:30px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='calendar'" ng-mouseleave="highlightLink=''"><a href="actions/calendar">Calendar</a> <i ng-if="highlightLink=='calendar' ||  path=='/actions/calendar'" style="position:relative;top:-4px;left:22px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='coalitions'" ng-mouseleave="highlightLink=''"><a href="actions/ccc" >Commitments</a> <i ng-if="highlightLink=='coalitions' ||  path=='/actions/ccc'" style="position:relative;top:-4px;left:40px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                  			<li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      		</ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Participate</h1>
                <p>In this section, you will see that governments, organizations, communities and individual people are accomplishing great things. Be inspired and get involved! It is the actions of individuals that will ultimately make a difference for safeguarding biodiversity.
                </p>
            </div>
        </div>
        <div class="row article">

            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="resources/logo" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green col-middle">
                    <h5 class="text-center">Request the logo</h5>
                    <img src="app/images/undb-logo-en.png" width="90%" alt="" class="image-center-leftmargin-10" style="padding-top:15px;">
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="actions/register/" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br /><br />
                                <h5>Register your action</h5>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/web.svg" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <a href="actors/register" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br /><br />
                                <h5>Become a UNDB Partner</h5>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/partner.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-5 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                  <a href="https://www.cbd.int/idb/" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green col-middle">
                      <div class="row" >
                          <div class="col-xs-8"><br>
                              <h5>May 22</h5>
                              <p>International Day for Biological Diversity (IDB)</p>
                          </div>
                          <div class="col-xs-4" style="height:100%;">
                            <div class="img-container">
                          <img src="app/img/UNDB-icon-RGB-tree.png" alt="" style="margin-top:20px;" class="pull-right" >
                        </div>
                          </div>
                      </div>

                    </div>
                  </a>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <a href="https://www.facebook.com/UNBiodiversity" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br />
                                <h5>Join us</h5>
                                <p>on facebook
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/facebook.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-5 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="https://twitter.com/UNBiodiversity" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br />
                                <h5>Join us</h5>
                                <p>on twitter</p>
                                <p><a href="https://twitter.com/cbdnews">@CBDNews</a></p>
                                <p><a href="https://twitter.com/unbiodiversity">@UNBIODIVERISTY</a></p>

                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/twitter.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="https://www.instagram.com/unbiodiversity" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br />
                                <h5>Join us</h5>
                                <p>on instragram</p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/img/instagram.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">  <a href="https://www.linkedin.com/company/secretariat-of-the-convention-on-biological-diversity" >

                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">

                            <div class="col-xs-8">
<br>
                                <h5>Join Us</h5>
                                <p>on linkedin</p>

                            </div>

                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/li-green.png" width="100%" alt="">
                            </div>

                        </div>
                    </div></a>
            </div>


            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <a href="http://nbsapforum.net" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br />
                                <h5>NBSAP Forum</h5>
                                <p>Providing support for action and implimentation on <a href="http://nbsapforum.net">NBSAPs</a></p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/nbsap-forum.png" width="200%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
        <div class="row article">
            <div class="col-xs-12">
                <h1>Learn
                </h1>
                <p>Be inspired by what others are doing for biodiversity and get involved! It is the actions of every individual, collectively, that will ultimately make a difference for safeguarding biodiversity. </p>
                <ul class="basic-list">
                    <li>About biodiversity in your city, region and country
                    </li><li>How your consumption patterns and everyday actions may impact on biodiversity, sometimes in distant ecosystems
                    </li>
                </ul>

                <h1>Speak
                </h1>
                <ul class="basic-list">
                    <li>Make your views known to the government and the private sector
                    </li><li>Share your knowledge with people around you
                    </li><li>Send us your Success stories
                    </li>
                </ul>

                <h1>Act
                </h1>
                <ul class="basic-list">
                    <li>Make responsible consumption choices
                    </li><li>Support activities and organizations that conserve biodiversity
                    </li><li>Join a local environmental NGO or organize your own activities that will help biodiversity
                    </li><li>Be creative and find solutions to biodiversity loss
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
