<div class="hidden-xs">
  <div class="container sub-nav">
    <ul class="nav navbar-nav">
      <li >&nbsp;</li>

    </ul>
  </div>
</div>
<div class="home-bottom" style="position:relative">
    <div class="container main" id="main" style="padding-top:6px">
      <div class="row top">
          <h1 style="font-size:60px;font-weight:bold">:-)</h1>
          <h1>Thank you for submitting your information</h1>
          <p>
              Once we have reviewed it we will send you a confirmation message. In the meantime we invite you to start using the logo of the United Nations Decade on Biodiversity on your website, information materials, etc., and join us on <a href="https://www.facebook.com/UNBiodiversity">facebook</a> and <a href="https://twitter.com/UNBiodiversity">twitter</a>.
          </p>
          <p>
              <a href="actions/submit">Please follow this link to see your list of registered actions and their status...</a>
          </p>
      </div>
  </div>
</div>
