<div>
    <div class="hidden-xs">
        <div class="container sub-nav">
          <ul class="nav navbar-nav">
      			<li ng-mouseover="highlightLink='worldwide'" ng-mouseleave="highlightLink=''"><a href="actions/worldwide">Worldwide</a> <i ng-if="highlightLink=='worldwide' || path=='/actions/worldwide'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='country'" ng-mouseleave="highlightLink=''"><a href="actions/country">By Country</a> <i ng-if="highlightLink=='country' ||  path=='/actions/country'" style="position:relative;top:-4px;left:30px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='calendar'" ng-mouseleave="highlightLink=''"><a href="actions/calendar">Calendar</a> <i ng-if="highlightLink=='calendar' ||  path=='/actions/calendar'" style="position:relative;top:-4px;left:22px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='coalitions'" ng-mouseleave="highlightLink=''"><a href="actions/ccc" >Coalitions</a> <i ng-if="highlightLink=='coalitions' ||  path=='/actions/ccc'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      			<li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
      		</ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 article">
                <h1>Actions around the world</h1>

                <p   ><span class="s1">Safeguarding biodiversity calls for the active involvement of all citizens, businesses, governments and organizations. Collectively, we need to build a vast network to communicate the importance of biodiversity with the rest of world. Very substantial changes from business-as-usual trends are needed in order to address the challenges we face: to slow and stop the loss of biodiversity.&nbsp;</span></p>

                <p   ><span class="s1">The map below and the <a href="https://www.cbd.int/undb-new/actions/calendar"><span     >calendar</span></a> give an overview of the work being done around the world in the context of the United Nations Decade on Biodiversity. Actions include specific programmes and projects, policy changes, activities, events and more. If you would like your action included, please register it by filling the <a href="https://www.cbd.int/undb-new/actions/register/"><span     >form</span></a> or contact us.</span></p>

            </div>
        </div>
        <div class="container bg-cbdgreen">
            <div class="row">
                <undb-map schema="actions"></undb-map>
            </div>
        </div>
        <div >
          <h2 class="color-darkgreen" style="padding-top:25px;">Global Actions</h2>
          <p>The following Actions are relevant for all countries. For Actions at the national level click on the map or go to the country profiles <a href="https://www.cbd.int/undb-new/actions/country">[https://www.cbd.int/undb-new/actions/country]</a></p>
          <activities-list count="count" country="countryCode" items-per-page="10" hide-country-reference="true" hide-pagenation="false" ></activities-list>
          <button type="button" class="btn pull-right" style="background-color:#069554;color:white;margin-top:0px;" ng-click="goTo('/actions/calendar?code='+country.code);">More ></button>

        </div>
    </div>

</div>
