<!DOCTYPE html>
<html lang="en">

<head>
    <base href="<%=baseUrl%>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>United Nations Decade on Biodiversity</title>

    <meta name="description" content="Ecologically or Biologically Significant Marine Areas">
    <meta name="author" content="Secretariat of the Convention on Biological Diversity">

    <script src="app/libs/requirejs/require.js" data-main="app/boot.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <link href="app/css/reset.css" rel="stylesheet">
    <link href="app/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/libs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="app/css/default.css" rel="stylesheet">
    <link href="app/css/docs.css" rel="stylesheet">
    <link href="app/css/colors.css" rel="stylesheet">
    <link href="app/css/style.css" rel="stylesheet">
    <link href="app/libs/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="app/libs/outdated-browser/outdatedbrowser/outdatedbrowser.min.css" rel="stylesheet">

    <style>
        [ng\:cloak],
        [ng-cloak],
        .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-controller="TemplateController">

    <!--== TO MOVE ==-->
    <style>
        .navbar {
            min-height: 30px;
        }

        .navbar .container {
            /*background: rgba(25, 25, 25, .05);*/
        }

        .navbar-nav li {
            margin: 0px 10px;
        }

        .navbar-default {
            background-image: none;
            background-color: #009b48;
        }

        .navbar-default .navbar-nav > li > a {
            color: #bdbdbd;
        }

        .navbar-static-top li a {
            color: #000
        }

    </style>

    <div id="outdated"></div>

    <nav class="navbar navbar-default navbar-static-top bg-white">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a href="./">العربية</a></li>
                    <li><a class="color-litegrey">|</a></li>
                    <li><a href="./" class="important color-grey">English</a></li>
                    <li><a class="color-litegrey">|</a></li>
                    <li><a href="./">Español</a></li>
                    <li><a class="color-litegrey">|</a></li>
                    <li><a href="./">Français</a></li>
                    <li><a class="color-litegrey">|</a></li>
                    <li><a href="./">Русский</a></li>
                    <li><a class="color-litegrey">|</a></li>
                    <li><a href="./"> 中文 </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-cloak ng-show="user">
                    <li><a ng-hide="user.isAuthenticated" href="#" ng-click="actionSignIn()">Sign up for an account	</a></li>
                    <li><a ng-hide="user.isAuthenticated" class="color-litegrey">|</a></li>
                    <li style="margin-right:0;">
                        <a ng-hide="user.isAuthenticated" href="#" ng-click="actionSignIn()"> Sign In </a>
                        <a ng-show="user.isAuthenticated" href="#" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i> <span> {{user.name}}</span>
                        </a>
                        <ul class="dropdown-menu bg-darkgrey" role="menu" >
                            <li>
                                <a href="#" ng-click="actionProfile()"><i class="fa fa-user" style="font-size:15px"></i>&nbsp; Profile</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#"><i class="fa fa-lock" style="font-size:15px"></i>&nbsp; My Roles</a>
                                <ul class="dropdown-menu bg-darkgrey" role="menu" style="min-width:200px">
                                    <li ng-repeat="role in user.roles|orderBy:'toString()'"><a tabindex="-1" href="#">{{role}}</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" ng-click="actionPassword()"><i class="fa fa-user" style="font-size:15px"></i>&nbsp; Password</a>
                            </li>
                            <li>
                                <a href="#" ng-click="actionSignOut()"><i class="fa fa-sign-out" style="font-size:15px"></i>&nbsp; Sign-out</a>
                            </li>
                        </ul>
                    </li>

                    <!--notifications-->
                    <!-- <li class="navbar-right">
                        <div user-notifications></div>
                    </li> -->

                    <!--signin-->
                    <!-- <li ng-cloak ng-show="user" class="navbar-right">

                        <a ng-hide="user.isAuthenticated" title="Sign In" class="fa fa-power-off" href="/signin" style="color: black"> sign in </a>

                        <a ng-show="user.isAuthenticated" href="#" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                            <span> {{user.name}}</span>
                        </a>

                        <ul class="dropdown-menu bg-darkgrey" role="menu">
                            <li><a href="#" ng-click="actionProfile()"><i class="fa fa-user" style="font-size:15px"></i>&nbsp; Profile</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#"><i class="fa fa-lock" style="font-size:15px"></i>&nbsp; My Roles</a>
                                <ul class="dropdown-menu bg-darkgrey" role="menu" style="min-width:200px">
                                    <li ng-repeat="role in user.roles|orderBy:'toString()'"><a tabindex="-1" href="#">{{role}}</a></li>
                                </ul>
                            </li>
                            <li><a href="#" ng-click="actionPassword()"><i class="fa fa-user" style="font-size:15px"></i>&nbsp; Password</a></li>
                            <li><a href="#" ng-click="signOut()"><i class="fa fa-sign-out" style="font-size:15px"></i>&nbsp; Sign-out</a></li>
                        </ul>
                    </li> -->
                    <!--  end sign in-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="bg-litegrey">
    <div class="container" >
        <div class="push20"></div>
        <div class="row">
            <div class="col-xs-8">
                <a href="./">
                    <img src="app/images/un+undb.svg" alt="undb logo" style="height:100px;margin-left:5px;margin-top:-10px;margin-bottom:12px;padding:15px 0;">
                </a>
            </div>
            <div class="col-xs-4" style="text-align:right">
                <h1 class="color-cbdgreen">Living in harmony with nature
                    <h1>
                        <!-- <img src="app/images/cbd-logo-en-200.png" style="margin-right:5px;margin-top:-10px;height:70px;padding:15px 0;"> -->
            </div>
        </div>
    </div>
    </div>
    <div class="wrapper bg-cbdgreen">
        <div class="container">
            <div class="menu-bg">
                <div class="main-navbar" role="navigation">

                    <ul class="nav navbar-nav">
                        <li ng-mouseover="highlightLink='home'" ng-mouseleave="highlightLink=''"><a href="home" >Home</a> <i ng-if="highlightLink=='home' || path.indexOf('home') >= 0" style="position:absolute;top:16px;left:15px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                        <li ng-mouseover="highlightLink='about'" ng-mouseleave="highlightLink=''"><a href="about">About</a><i ng-if="highlightLink=='about' || path.indexOf('about') >= 0" style="position:absolute;top:16px;left:13px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                        <li ng-mouseover="highlightLink='actions'" ng-mouseleave="highlightLink=''"><a href="actions">Actions</a><i ng-if="highlightLink=='actions' || path.indexOf('actions') >= 0" style="position:absolute;top:16px;left:18px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                        <li ng-mouseover="highlightLink='actors'" ng-mouseleave="highlightLink=''"><a href="actors">Actors</a><i ng-if="highlightLink=='actors' || path.indexOf('actors') >= 0" style="position:absolute;top:16px;left:15px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                        <li ng-mouseover="highlightLink='resources'" ng-mouseleave="highlightLink=''"><a href="resources">Resources</a><i ng-if="highlightLink=='resources' || path.indexOf('resources') >= 0" style="position:absolute;top:16px;left:27px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class="form-group"><form class="navbar-form navbar-right searchBox" role="search"><input type="text" class="form-control" placeholder="Search"></form></li> -->
                        <li ng-mouseover="highlightLink='facebook'" ng-mouseleave="highlightLink=''"><a href="./"><i class="color-darkgreen fa fa-facebook"></i></a><i ng-if="highlightLink=='facebook'" style="position:absolute;top:16px;left:0px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                        <li ng-mouseover="highlightLink='twitter'" ng-mouseleave="highlightLink=''"><a href="./"><i class="color-darkgreen fa fa-twitter"></i></a><i ng-if="highlightLink=='twitter'" style="position:absolute;top:16px;left:0px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                        <li ng-mouseover="highlightLink='instagram'" ng-mouseleave="highlightLink=''"><a href="./"><i class="color-darkgreen fa fa-instagram"></i></a><i ng-if="highlightLink=='instagram'" style="position:absolute;top:16px;left:0px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                        <li ng-mouseover="highlightLink='youtube'" ng-mouseleave="highlightLink=''"><a href="./"><i class="color-darkgreen fa fa-youtube-play"></i></a><i ng-if="highlightLink=='youtube'" style="position:absolute;top:16px;left:0px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                        <li ng-mouseover="highlightLink='flickr'" ng-mouseleave="highlightLink=''"><a href="./"><i class="color-darkgreen fa fa-flickr"></i></a><i ng-if="highlightLink=='flickr'" style="position:absolute;top:16px;left:0px;" class="color-darkgreen fa-lg fa fa-caret-up"></i></li>
                    </ul>

                </div>
                <!-- /.navbar -->
            </div>
        </div>
    </div>

    <iframe id="authenticationFrame" src="https://accounts.cbd.int/app/authorize.html" style="display:none" onload="(event.target || event.srcElement).ready = true"></iframe>
    <!-- path={{path}} -->
    <ng-view></ng-view>

    <!--  FOOTER  -->
    <footer ng-cloak ng-show="routeLoaded">
        <div class="container">
            <div class="push30"></div>
            <div>
                <ul class="col-xs-6 col-sm-4 col-md-2">
                    <li><a href="/" class="color-black">Home</a></li>
                    <li><a href="http://www.cbd.int">CBD</a></li>
                    <li><a href="http://www.un.org">UN</a></li>
                    <li><a href="mailto:UNBiodiversity@cbd.int">Contact us</a></li>
                </ul>

                <ul class="col-xs-6 col-sm-4 col-md-2">
                    <li><a href="/about" class="color-black">About</a></li>
                    <li><a href="/about/undb">UNDB</a></li>
                    <li><a href="/about/goals">Goals</a></li>
                    <li><a href="/about/biodiversity">Biodiversity</a></li>
                    <li><a href="/about/iyb2010">IYB2010</a></li>
                    <li><a href="/about/sdgs">SDGs</a></li>
                </ul>

                <ul class="col-xs-6 col-sm-4 col-md-2">
                    <li><a href="/actions/" class="color-black">Actions</a></li>
                    <li><a href="/actions/worldwide">Worldwide</a></li>
                    <li><a href="/actions/country">By countries</a></li>
                    <li><a href="/actions/un">By UN organizations</a></li>
                    <li><a href="/actions/calendar">Calendar</a></li>
                    <li><a href="/actions/participate">Participate</a></li>
                </ul>

                <ul class="col-xs-6 col-sm-4 col-md-2">
                    <li><a href="/actors" class="color-black">Actors</a></li>
                    <li><a href="/actors/abttf">ABTTF</a></li>
                    <li><a href="/actors/champions">Biodiversity Champions</a></li>
                    <li><a href="/actors/blg">BLG</a></li>
                    <li><a href="/actors/partners">UNDB Partners</a></li>
                </ul>

                <ul class="col-xs-6 col-sm-4 col-md-2">
                    <li><a href="" class="color-black">Resources</a></li>
                    <li><a href="">Logo</a></li>
                    <li><a href="">Printed Materials</a></li>
                    <li><a href="">Multimedia</a></li>
                </ul>

                <ul class="col-xs-6 col-sm-4 col-md-2">
                    <li><a href="/resources" class="color-black">Participate</a></li>
                    <li><a href="/resources">Learn</a></li>
                    <li><a href="/resources">Act</a></li>
                    <li><a href="/resources">Social media</a></li>
                    <li><a href="/resources">Register your action</a></li>
                    <li><a href="/resources">Become a UNDB Partner</a></li>
                </ul>
            </div>
            <div class="push50"></div>
            <div class="push50"></div>
        </div>
        <div class="container">
            <div class="push50"></div>
            <div class="push50"></div>
            <div class="clear"></div>
            <div class="col-xs-6 col-lg-offset-3 col-xs-offset-3 ">
                <a href="https://www.cbd.int/terms" class="copyright">Terms of Use</a>
                <a href="https://www.cbd.int/privacy" class="copyright">Privacy Policy</a>
                <a href="https://www.cbd.int/credits" class="copyright">Credits</a>
                <a href="https://www.cbd.int/copyright" class="copyright">&copy; CBD Secretariat</a>
            </div>
            <div class="push50"></div>
        </div>
    </footer>

    <script src="app/libs/outdated-browser/outdatedbrowser/outdatedbrowser.min.js"></script>

    <script>
        function addLoadEvent(func) {
            var oldonload = window.onload;
            if (typeof window.onload != 'function') {
                window.onload = func;
            } else {
                window.onload = function() {
                    if (oldonload) {
                        oldonload();
                    }
                    func();
                }
            }
        }
        addLoadEvent(function() {
            outdatedBrowser({
                bgColor: '#f25648',
                color: '#ffffff',
                lowerThan: 'boxShadow',
                languagePath: 'app/libs/outdated-browser/outdatedbrowser/lang/en.html'
            })
        });
    </script>
</body>

</html>
