<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%=baseUrl%>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sustainable Ocean Initiative</title>

    <meta name="description" content="Ecologically or Biologically Significant Marine Areas">
    <meta name="author" content="Secretariat of the Convention on Biological Diversity">

    <script src="app/libs/requirejs/require.js" data-main="app/boot.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <link href="app/css/reset.css" rel="stylesheet">
    <link href="app/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/libs/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="app/css/default.css" rel="stylesheet">
    <link href="app/css/docs.css" rel="stylesheet">
    <link href="app/libs/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="app/libs/outdated-browser/outdatedbrowser/outdatedbrowser.min.css" rel="stylesheet">

    <style>[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }</style>
</head>

<body ng-controller="TemplateController">

    <!--== TO MOVE ==-->
    <style>
        .navbar {
            min-height: 30px;
        }
        .navbar .container {
            background: rgba(25, 25, 25, .05);
        }
        .navbar-nav li {
            margin: 0px 10px;
        }
        .navbar-default {
            background-image: none;
            background-color: #009b48;
        }
        .navbar-default .navbar-nav > li > a {
            color: #fff;
        }
    </style>

    <div id="outdated"></div>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                &nbsp; <a href="http://www.cbd.int"><img src="app/images/cbd-logo-spine-white.png" style="height:24px;margin-top:5px"></a> &nbsp;
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1" >
                <ul class="nav navbar-nav">

                    <li><a href="https://www.cbd.int/convention/">The Convention</a></li>
                    <li><a href="http://bch.cbd.int/protocol">Cartagena Protocol</a></li>
                    <li><a href="https://www.cbd.int/abs/">Nagoya Protocol</a></li>
                    <!--<li><a href="https://www.cbd.int/programmes/">Programmes</a></li>-->
                    <li><a href="https://www.cbd.int/information/">Information</a></li>
                    <li><a href="https://www.cbd.int/secretariat/">Secretariat</a></li>

                    <!--notifications-->
                    <li class="navbar-right">
                        <div user-notifications></div>
                    </li>

                    <!--signin-->
                    <li ng-cloak ng-show="user" class="navbar-right">

                        <a ng-hide="user.isAuthenticated" title="Sign In" class="fa fa-power-off" href="/signin" style="color: black"> sign in </a>

                        <a ng-show="user.isAuthenticated"  href="#" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i> <span> {{user.name}}</span>
                        </a>

                        <ul class="dropdown-menu bg-darkgrey" role="menu" >
                            <li><a href="#" ng-click="actionProfile()"><i class="fa fa-user" style="font-size:15px"></i>&nbsp; Profile</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#"><i class="fa fa-lock" style="font-size:15px"></i>&nbsp; My Roles</a>
                                <ul class="dropdown-menu bg-darkgrey" role="menu" style="min-width:200px">
                                    <li ng-repeat="role in user.roles|orderBy:'toString()'"><a tabindex="-1" href="#">{{role}}</a></li>
                                </ul>
                            </li>
                            <li><a href="#" ng-click="actionPassword()"><i class="fa fa-user" style="font-size:15px"></i>&nbsp; Password</a></li>
                            <li><a href="#" ng-click="signOut()"><i class="fa fa-sign-out" style="font-size:15px"></i>&nbsp; Sign-out</a></li>
                        </ul>
                    </li> <!--  end sign in-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <a href="./"><img src="app/images/soi-logo.png" alt="Sustainable Ocean Initiative logo" style="margin-left:5px;margin-top:-10px;margin-bottom:12px"></a>
            </div>
            <div class="col-xs-3" style="text-align:right">
                <img src="app/images/cbd-logo-en-200.png" style="margin-right:5px;margin-top:-10px;height:70px;">
            </div>
        </div>
    </div>

    <div class="wrapper" style="background-color:#2EB9C7">
        <div class="container">
    		<div class="menu-bg">
                <div class="main-navbar" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="about">About</a></li>
                        <li><a href="events">Events</a></li>
                        <li><a href="training">Training</a></li>
                        <li><a href="resources">Resources</a></li>
                        <li><a href="experiences">Experiences</a></li>
                        <li><a href="partners">Partners</a></li>
                        <li><a href="aligned-initiatives">Aligned Initiatives</a></li>
                    </ul>
                    <!-- <form class="navbar-form navbar-right searchBox" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form> -->
    	        </div><!-- /.navbar -->
    		</div>
        </div>
    </div>

    <iframe id="authenticationFrame" src="https://accounts.cbd.int/app/authorize.html" style="display:none" onload="(event.target || event.srcElement).ready = true"></iframe>

    <!--  BREADCRUMB  -->
    <nav class="navbar navbar-static-top" style="background-color:#eee" ng-cloak ng-if="$root.breadcrumb.length>1">
        <div class="container" style="padding:0px">
            <ol class="breadcrumb">
                <li ng-repeat="item in $root.breadcrumb">
                    <a ng-if="!$last" href=".{{item.url}}">{{item.name}}</a>
                    <a ng-if="$last" class="active">{{item.name}}</a>
                </li>
    		</ol>
        </div>
    </nav>

    <div class="push15 clear">&nbsp;</div>

    <ng-view></ng-view>

    <!--  FOOTER  -->
    <footer ng-cloak ng-show="routeLoaded">

        <div class="container">
        	<div class="col-xs-3 col-lg-3">
        		<div class="push50"></div><div class="push50"></div>

        		<a href="https://www.cbd.int/jbf/" title="Japan Biodiversity Fund">
        			<img src="app/images/jbf-logo.png" alt="Japan Biodiversity Fund" />
        		</a>
        		<a href="http://www.aires-marines.com/" title="French marine protected areas agency">
        			<img src="app/images/frenchmpaa-logo.png" alt="French marine protected areas agency" />
        		</a>
        	</div>
        	<div class="col-xs-3 col-lg-3">
	        	<div class="push15">&nbsp;</div>
	        	<img src="app/images/icon-sitemap.png" alt="icon site map" />
	        	<h2>Site Map</h2>
	        	<div class="clear"></div>
	        	<ul>
	        		<li><a href="about">About</a></li>
	        		<li><a href="events">Events</a></li>
	        		<li><a href="training">Training</a></li>
	        		<li><a href="resources">Resources</a></li>
	        		<li><a href="experiences">Experiences</a></li>
	        		<li><a href="partners">Partners</a></li>
	        		<li><a href="aligned-initiatives">Aligned Initiatives</a></li>
	        	</ul>
        	</div>
        	<div class="col-xs-3 col-lg-3">
	        	<div class="push15">&nbsp;</div>
	        	<img src="app/images/icon-contact.png" alt="icon contact" />
	        	<h2>Contact</h2>
	        	<div class="clear"></div>
	        	<h4 class="white">CBD Secretariat</h4>
	        	<p>
                    413 Saint-Jacques Street, Suite 800<br />
				    Montreal, QC &nbsp;H2Y 1N9<br />
				    Canada
	        	</p>
	        	<h4><a class="white" href="mailto:secretariat@cbd.int">secretariat@cbd.int »</a></h4>
	        	<h4><a class="white" href="https://www.cbd.int/contact/default.shtml">www.cbd.int »</a></h4>
        	</div>
        	<div class="col-xs-3 col-lg-3">
        		<div class="push50"></div><div class="push50"></div>
        		<a href="http://www.un.org/" title="United Nations">
        			<img src="app/images/un-logo.png" alt="United Nations" />
        		</a>
        		<a href="http://unep.org/" title="UNEP">
        			<img src="app/images/unep-logo.png" alt="UNEP" />
        		</a>
        	</div>
        	<div class="clear"></div>
	        <div class="col-xs-6 col-lg-offset-3 col-xs-offset-3">
	        	<a href="https://www.cbd.int/terms" class="copyright">Terms of Use</a>
				<a href="https://www.cbd.int/privacy" class="copyright">Privacy Policy</a>
				<a href="https://www.cbd.int/credits" class="copyright">Credits</a>
				<a href="https://www.cbd.int/copyright" class="copyright">&copy; CBD Secretariat</a>
	        </div>
        </div>

    </footer>

    <script src="app/libs/outdated-browser/outdatedbrowser/outdatedbrowser.min.js"></script>

    <script>
        function addLoadEvent(func) {
        var oldonload = window.onload; if (typeof window.onload != 'function') { window.onload = func; } else { window.onload = function() { if (oldonload) { oldonload(); } func(); } } }
        addLoadEvent(function() { outdatedBrowser( { bgColor: '#f25648', color: '#ffffff', lowerThan: 'boxShadow', languagePath: 'app/libs/outdated-browser/outdatedbrowser/lang/en.html' }) });
    </script>
  </body>
</html>
