<div class="col-xs-6" style="color:#333;font-size:14px;padding:25px 0 15px 0;" ng-show="!hidePagenation">

  <span>Showing
    <span class="badge">{{filteredActions.length}}</span> of
    <span class="badge">{{count}}</span> results
    <span>

</div>

<div class="col-xs-6" ng-if="getNumberPages()>1">
  <nav class="pull-right">
    <ul class="pagination">
      <li ng-click="changePage(0)" ng-class="{'disabled':isActive(0)}">
        <a aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li ng-repeat="i in filtered = (getNumberPages()) track by $index" ng-class="{'active':isActive($index)}"><a href="#" ng-click="changePage($index)">{{$index+1}}</a></li>

      <li ng-click="changePage(filtered.length-1)" ng-class="{'disabled':isActive(filtered.length-1)}">
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<table class="calendar-result">
  <!-- Header -->
  <tr>
    <th width="20%">Date</th>
    <th width="85%">Action</th>
  </tr>

  <tr  ng-if="loading">
    <td colspan="2" class="text-center">Loading ... <i class="fa fa-spinner fa-2x" ng-class="{ 'fa-spin':loading }"></i></td>
  </tr>

  <!-- Section -->
  <!-- <tr  class="section" ng-repeat-start="action in filteredActions =(actions) track by $index" ng-show="showSection(action.startDate_s,$index) && !loading">
    <td colspan="2">{{sectionTitle(action.startDate_s)}}</td>
  </tr> -->

  <!-- Lines -->
  <tr ng-repeat="action in filteredActions =(actions) track by $index"  ng-show="!loading">
    <td width="20%">
      <span class="color-darkgreen">

        {{action.startDate_s |date:'dd MMM yyyy':'UTC'}}</span>

      <span class="color-grey" ng-if="!hideCountryReference" >
        <a href=""  ng-href="actions/countries/{{action.country_s}}" >{{action.country_EN_t}}</a> <i ng-if="action.country_s">
          <img ng-src="{{getCountryFlag(action.country_s)}}" style="max-height:15px;" ng-if="action.country_s!=='eu'"/>
          <img ng-src="{{getCountryFlag('eur')}}" style="max-height:15px;" ng-if="action.country_s==='eu'"/>
        </i>
      <span ng-if="!action.country_s"> <i  class="fa fa-globe" aria-hidden="true"></i>Global </span> </span>
    </td>
    <td>
      <p><a ng-href="actions/{{extractId(action.id)}}" ng-click="goTo('actions/',extractId(action.id))">{{action.title_s}}</a></p>
      <p>{{action.description_s | lstring | truncate:(action.truncate||350):'...'}} <a ng-hide="action.truncate || (action.description_s | lstring).length<=350" href="#" ng-click="action.truncate=100000">more <i class="fa fa-caret-down"></i></a><a ng-show="action.truncate" href="#" ng-click="action.truncate=undefined">less <i class="fa fa-caret-up"></i></a></p>
    </td>
  </tr>
</table>
<div style="color:#333;font-size:14px;margin:15px 0 15px 0;" ng-show="!hidePagenation">

  <span>Showing
    <span class="badge">{{filteredActions.length}}</span> of
    <span class="badge">{{count}}</span> results
    <span>
      <nav class="pull-right" ng-show="!hidePagenation">
        <ul class="pagination">
          <li ng-click="changePage(0)" ng-class="{'disabled':isActive(0)}">
            <a aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li ng-repeat="i in filtered = (getNumberPages()) track by $index" ng-class="{'active':isActive($index)}"><a href="#" ng-click="changePage($index)">{{$index+1}}</a></li>

          <li ng-click="changePage(filtered.length-1)" ng-class="{'disabled':isActive(filtered.length-1)}">
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
</div>