<div class="row" ng-show="(!hideSearch  )">
  <div class="col-xs-12 search" >
    <h1><i class="fa fa-search"></i>Search </h1>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 search">
    <div class="form-group">
      <span class="label col-xs-12 col-sm-12 col-md-3 col-lg-2">Country:{{country}}</span>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 text-center">
        <span ng-if="loading">Loading ... <i class="fa fa-spinner fa-2x" ng-class="{ 'fa-spin':loading }"></i></span>
        <select ng-show="!loading" class="form-control" id="country" name="country" ng-model="country" placeholder="Country" ng-options="c.code as c.name for c in countries|orderBy:'name.toLowerCase()' ">
          <option value="">Select your country</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 search">
    <div class="form-group">
      <span class="label col-xs-12 col-sm-12 col-md-3 col-lg-2">Search:</span>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <input type="text" class="form-control" name="googleMaps" id="googleMaps" ng-model="search" placeholder="Key Word Search">
      </div>
    </div>
  </div>

  <div class="col-xs-12   search">
    <div class="col-xs-4 col-xs-offset-8">
      <div class="form-group">
        <label>&nbsp;</label>
        <button type="button" class="btn" style="margin-top:15px;background-color:#069554;color:white;width:100%;" ng-click="clearSearch();">Clear Search</button>
      </div>
  </div>
  </div>
</div>
<div class="col-xs-6" style="color:#333;font-size:14px;padding:5px 0 15px 17px;" ng-if="!count">
    <span>No records found
    </span>
</div>
<div class="article" ng-if="getNumberPages().length>1 || (count && (search || country))">
  <div class="row">

    <div class="col-xs-6" style="color:#333;font-size:14px;padding:5px 0 15px 17px;">
        <span>Showing
        <span class="badge">{{partners.length}}</span> of
        <span class="badge">{{count}}</span> results
        </span>
    </div>

      <div class="col-xs-6" >
        <nav class="pull-right" ng-if="getNumberPages().length>1">
          <ul class="pagination">
            <li ng-click="changePage(0)" ng-class="{'disabled':isActive(0)}">
              <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
              </li>
              <li ng-repeat="i in partners = (getNumberPages()) track by $index" ng-class="{'active':isActive($index)}"><a href="#" ng-click="changePage($index)">{{$index+1}}</a></li>

              <li ng-click="changePage(partners.length-1)" ng-class="{'disabled':isActive(partners.length-1)}">
                  <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
              </ul>
              </nav>
      </div>
    </div>
</div>

<div class="article">
    <span ng-if="loading">Loading ... <i class="fa fa-spinner fa-2x" ng-class="{ 'fa-spin':loading }"></i></span>
    <div ng-if="!loading" class="row" ng-repeat="p in partners track by p.identifier_s">
        <hr></hr>
        <actor document="p"></actor>
    </div>
</div>

<div class="article" ng-if="getNumberPages().length>1  || (count && search)">
    <div class="row">
        <div class="col-xs-6" style="color:#333;font-size:14px;padding:25px 0 15px 17px;">
            <span>Showing
            <span class="badge">{{partners.length}}</span> of
            <span class="badge">{{count}}</span> results
            </span>
        </div>

        <div class="col-xs-6">
            <nav class="pull-right" ng-if="getNumberPages().length>1">
                <ul class="pagination">
                    <li ng-click="changePage(0)" ng-class="{'disabled':isActive(0)}">
                        <a aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="i in partners = (getNumberPages()) track by $index" ng-class="{'active':isActive($index)}"><a href="#" ng-click="changePage($index)">{{$index+1}}</a></li>

                    <li ng-click="changePage(partners.length-1)" ng-class="{'disabled':isActive(partners.length-1)}">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>