  <form  novalidate name="form" class="form-horizontal single" ng-submit="saveLink()" ng-hide="loading">
  <div class="form-group" ng-class="{ 'has-warning': form.title.$invalid }" style="margin-top:20px;">
    <label for="title" class="col-sm-3 control-label required">Title</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="title" name="title" ng-model="document.title" placeholder="Title of your {{name}}" required>
      <p class="help-block error" ng-show="form.title.$invalid">This field is mandatory</p>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-warning': form.description.$invalid }">
    <label for="description" class="col-sm-3 control-label required">Description</label>
    <div class="col-sm-8">
      <textarea class="form-control" name="description" id="description" ng-model="document.description" cols="30" rows="10" required placeholder="Briefly describe your {{name}}."></textarea>
      <p class="help-block error" ng-show="form.description.$invalid" style="margin-top:2px">This field is mandatory</p>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-warning': form.tag.$invalid }">
    <label for="title" class="col-sm-3 control-label required">Tags</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="tag" name="tag" ng-model="document.tags" placeholder="key words for searching.">
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-warning': form.uri.$invalid }">
    <label for="logo" class="col-sm-3 control-label small-margin">Enter in the URI to your {{name}} or upload the file.
    </label>
    <div class="col-sm-6">
      <input type="url" class="form-control" id="uri" name="uri" placeholder="Enter in full path to publication or upload it below." ng-model="document.uri" required>
      <p class="help-block error" ng-show="form.uri.$invalid">This field is mandatory</p>
      or
      <input type="file" class="form-control" id="file" ng-model="document.file" on-file="upload(files)">
{{document.file}}
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-sm-3 control-label"></label>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary btn-lg" value="Submit"> Save </button>
    </div>
  </div>
</form>