<div class="container" style="width:100%;">
    <div class="row" ng-show="count">

        <div class="col-lg-3 col-md-3 col-xs-12 text-no-wrap" style="color:#333;font-size:14px;padding-left:10px;">
            <div class="text-no-wrap" style="margin-top:25px;">
                <span>
                  <span class="badge" >{{((currentPage*itemsPerPage)+1)}}</span>
                  <span ng-if="((currentPage+1)*(filtered.length))===((currentPage+1)*(itemsPerPage)) && (filtered.length===itemsPerPage)">  -  <span class="badge" >{{(currentPage+1)*(filtered.length)}} </span></span>
                  <!-- <span ng-if=" !((currentPage+1)*(filtered.length))">  -  <span class="badge" ><i class="fa fa-spinner fa-spin"></i></span></span> -->
                  <span ng-if="((currentPage+1)*(filtered.length))!==((currentPage+1)*(itemsPerPage)) && (filtered.length===itemsPerPage)">  -  <span class="badge" >{{filtered.length}} </span></span>
                  <span ng-if="filtered.length!==itemsPerPage">  -  <span class="badge" >{{count}} </span></span>
                  of
                  <span class="badge">{{count}} </span> records
                  <span ng-if="search"> for <span style="color:#009B48;">"{{search}}"</span></span>
                </span>
                <div ng-show="loading" style="display:inline;">
                    <i class="fa fa-spinner fa-spin"></i> Loading...
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-7 col-xs-10">
            <nav class="pull-right" ng-show="pages.length>1">
                <ul class="pagination">
                    <li>
                        <a ng-click="onPage({pageIndex:currentPage-1})" href="#" aria-label="Previous" ng-if="(currentPage!==0)">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li ng-repeat="page in pages track by $index" ng-class="{ active : currentPage==page.index }" ng-if="page.text>0">
                        <a href="#" ng-click="onPage({pageIndex:page.index})">{{page.text}}</a>
                    </li>
                    <li >
                        <a ng-click="onPage({pageIndex:currentPage+1})" href="#" aria-label="Next" ng-if="(currentPage+1<getPageCount())">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="col-lg-2 col-md-2 col-xs-3 text-nowrap">
            <div class="form-group form-inline" style="color:#333;font-size:14px;margin-top:20px;">
                <span style="color:#333;font-size:14px;">Records per page:</span>
                <select style="display:inline;" class="form-control" ng-model="itemsPerPage" ng-change="reload()" convert-to-number>
                    <option ng-value="5" ng-selected="itemsPerPage===5">5</option>
                    <option ng-value="10" ng-selected="itemsPerPage===10">10</option>
                    <option ng-value="15" ng-selected="itemsPerPage===15">15</option>
                    <option ng-value="20" ng-selected="itemsPerPage===20">20</option>
                    <option ng-value="50" ng-selected="itemsPerPage===50">50</option>
                    <option ng-value="100" ng-selected="itemsPerPage===100">100</option>
                    <option ng-value="500" ng-selected="itemsPerPage===500">500</option>
                </select>
            </div>
        </div>

    </div>
</div>