<div class="container">

	<div class="row-fluid events">
		<div class="col-xs-6 col-md-6 nopaddingleft">

			<div class="col-xs-6 col-md-6 square blue-box">
				<h2 class="medium">Upcoming Events</h1>
			</div>

			<div ng-repeat="meeting in nextMeetings">

				<div ng-if="$first">
					<div class="col-xs-6 col-md-6 square textbox marginleft">
						<a href="{{meeting.url||'#'}}"><h3 class="blue">{{meeting.name}}</h3></a>
						<div class="push30"></div>
						<img src="app/images/icon-calendar.png" alt="calendar">
						<p>{{meeting.days}} {{meeting.month}} {{meeting.year}}</p>
						<div class="clear">&nbsp;</div>
						<img src="app/images/icon-where.png" alt="marker">
						<p><span class="important">{{meeting.city}}</span>, {{meeting.country}}</p>
						<a ng-if="meeting.url" href="{{meeting.url}}" class="arrow-more_blue">&nbsp;</a>
					</div>
				</div>

				<div ng-if="!$first">
					<div class="col-xs-3 col-md-3 nopadding date-placeholder blue-box">
						<h4>{{meeting.days}}</h4>
						<p>// {{meeting.month}}<br />{{meeting.year}}</p>
					</div>
					<div class="col-xs-9 col-md-9 textbox nopadding">
						<a href="{{meeting.url||'#'}}"><h3 class="blue">{{meeting.name}}</h3></a>
						<div class="push20"></div>
						<div class="clear">&nbsp;</div>
						<img src="app/images/icon-where.png" alt="marker">
						<p><span class="important">{{meeting.city}}</span>, {{meeting.country}}</p>
						<a ng-if="meeting.url" href="{{meeting.url}}" class="arrow-more_blue">&nbsp;</a>
					</div>
				</div>

				<div class="clear push15"></div>
			</div>

			<div>
				<div>
					<div class="col-xs-6 col-md-6 nopadding">
						<img src="app/images/fishing-boat.jpg" alt="">
					</div>
					<div class="col-xs-6 col-md-6 hexa-pattern half-square"></div>
				</div>
				<div class="clear push15"></div>
			</div>
		</div>

		<div class="col-xs-6 col-lg-6 nopaddingright">

			<div ng-repeat="meeting in previousMeetings">

				<div ng-if="$first">
					<div class="col-xs-6 col-md-6 square dark-green-box">
						<h2 class="medium">Previous Events</h1>
					</div>
					<div class="col-xs-6 col-md-6 square textbox marginleft">
						<a href="{{meeting.url||'#'}}"><h3 class="dark-green">{{meeting.name}}</h3></a>
						<div class="push30"></div>
						<img src="app/images/icon-calendar.png" alt="calendar">
						<p>{{meeting.days}} {{meeting.month}} {{meeting.year}}</p>
						<div class="clear">&nbsp;</div>
						<img src="app/images/icon-where.png" alt="marker">
						<p><span class="important">{{meeting.city}}</span>, {{meeting.country}}</p>
						<a ng-if="meeting.url" href="{{meeting.url}}" class="arrow-more_dark-green">&nbsp;</a>
					</div>
				</div>

				<div ng-if="!$first">
					<div class="col-xs-3 col-md-3 nopadding date-placeholder dark-green-box">
						<h4>{{meeting.days}}</h4>
						<p>// {{meeting.month}}<br />{{meeting.year}}</p>
					</div>
					<div class="col-xs-9 col-md-9 textbox nopadding">
						<a href="{{meeting.url||'#'}}"><h3 class="dark-green">{{meeting.name}}</h3></a>
						<div class="push20"></div>
						<img src="app/images/icon-where.png" alt="marker">
						<p><span class="important">{{meeting.city}}</span>, {{meeting.country}}</p>
						<a ng-if="meeting.url" href="{{meeting.url}}" class="arrow-more_dark-green">&nbsp;</a>
					</div>
				</div>

				<div class="clear push15"></div>
			</div>


		</div>
	</div>

	<div class="push50 clear">&nbsp;</div>
	<div class="clear push50"></div>

</div>
