<div>

	<form ng-submit="signIn()">

		<div ng-hide="isAuthenticated()">

			<div class="alert alert-warning" ng-show="isForbidden">
				<strong>Login Failed!</strong>
				You entered an invalid email address or password.
			</div>

			<div class="alert alert-danger" ng-show="isNoService">
				<strong>Login Failed!</strong>
				The service is not available.
			</div>

			<div class="alert alert-danger" ng-show="isError">
				<strong>Login Failed!</strong>
				An error has occured: {{error}}
			</div>

			<div class="form-group">
				<label for="inputEmail">Email</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
					<input type="text" class="form-control" id="inputEmail" required ng-model="email" placeholder="registered email address">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					<input type="password" class="form-control" id="inputPassword" ng-model="password" placeholder="password">
				</div>
			</div>
			<div class="form-group">
    			<button type="submit" class="btn btn-primary">Sign in</button>
    			 <a class="forgot" style="float:right" href="https://accounts.cbd.int/password/reset">Forgot password?</a>
  			</div>
		</div>

	</form>

	<div ng-show="isAuthenticated()">
		<button type="button" class="btn btn-info" ng-click="signOut()">Sign out</button>
	</div>

</div>
