<div class="container">    
	<div class="row-fluid">
		<ol class="breadcrumb">
		  <li><a href="./">Home</a></li>
		  <li class="active">Aligned Initiatives</li>
		</ol>
	</div>
	
	<div class="row-fluid large-grey-bloc">
		<div class="col-xs-8 col-md-8 col-md-offset-2 center">
			<div class="push50"></div>
			<img style="margin:0 auto;" src="app/images/soi-mission-logo.png" alt="Soi Logo" />
			<div class="push20"></div>
			<h2 class="black">Coming Soon</h2>
		    <div class="push50"></div>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="push15 clear">&nbsp;</div>

<!--
	<div class="row-fluid">
	    <div class="col-xs-6 col-md-6 nopaddingleft">
	      <a class="hover-line" href="single-text.html">
			<div class="col-xs-6 col-md-6 square blue-box">    
				<h2>1<sup>st</sup><br />Case Study</h2>
			</div>
		    
		    <div class="col-xs-6 col-md-6 square textbox marginleft">    
				<h3 class="blue">Morbi semper pulvinar quam</h3>
				<div class="push30"></div>
			    <p>Mauris volutpat pharetra dolor, nec dapibus felis auctor in. Ut non cursus nisl. Maecenas consequat, eros ut ullamcorper imperdiet, sapien mi fringilla est, eu facilisis dolor ligula in erat. Mauris varius congue enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus a aliquam nibh. Morbi in ultrices justo. Donec in tortor sit amet ante aliquet hendrerit.</p>
			    <img src="images/arrow.png" alt=">" />
			</div>
		   </a>
	    
		    <div class="clear push15"></div>
		    
		    <a class="hover-line" href="single-text.html">
			    <div class="col-xs-6 col-md-6 square green-light-box">    
					<h2>3<sup>rd</sup><br />Case Study</h2>
				</div>
			    <div class="col-xs-6 col-md-6 textbox square marginleft">    
					<h3 class="green-light">Nam rhoncus neque diam</h3>
					<div class="push30"></div>
				    <p>Mauris volutpat pharetra dolor, nec dapibus felis auctor in. Ut non cursus nisl. Maecenas consequat, eros ut ullamcorper imperdiet, sapien mi fringilla est, eu facilisis dolor ligula in erat. Mauris varius congue enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus a aliquam nibh. Morbi in ultrices justo. Donec in tortor sit amet ante aliquet hendrerit.</p>
				    <img src="images/arrow.png" alt=">" />	
				</div>
			</a>	
		   
	    </div>
	    
	    <div class="col-xs-6 col-lg-6 nopaddingright">
		     <a class="hover-line" href="single-text.html">
			    <div class="col-xs-6 col-md-6 square blue-light-box">    
					<h2>2<sup>nd</sup><br />Case Study</h2>
				</div>
			    <div class="col-xs-6 col-md-6 textbox square marginleft">    
					<h3 class="blue-light">Aenean ornare, eros sit amet </h3>
					<div class="push30"></div>
				    <p>Mauris volutpat pharetra dolor, nec dapibus felis auctor in. Ut non cursus nisl. Maecenas consequat, eros ut ullamcorper imperdiet, sapien mi fringilla est, eu facilisis dolor ligula in erat. Mauris varius congue enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus a aliquam nibh. Morbi in ultrices justo. Donec in tortor sit amet ante aliquet hendrerit.</p>
				    <img src="images/arrow.png" alt=">" />
				</div>
			</a>
	    
		    <div class="clear push15"></div>
		    
		    <a class="hover-line" href="single-text.html">
			   <div class="col-xs-6 col-md-6 square dark-green-box">    
					<h2>4<sup>th</sup><br />Case Study</h2>
				</div>
			    <div class="col-xs-6 col-md-6 textbox square marginleft">    
					<h3 class="dark-green">Nunc congue magna</h3>
					<div class="push30"></div>
				    <p>Mauris volutpat pharetra dolor, nec dapibus felis auctor in. Ut non cursus nisl. Maecenas consequat, eros ut ullamcorper imperdiet, sapien mi fringilla est, eu facilisis dolor ligula in erat. Mauris varius congue enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus a aliquam nibh. Morbi in ultrices justo. Donec in tortor sit amet ante aliquet hendrerit.</p>
				    <img src="images/arrow.png" alt=">" />
				</div>
			</a>
	    </div>		
	</div>
	
-->			
</div>	
