<div class="container">

	<div class="row">

		<div class="col-sm-9">

			<h2 class="blue-light">&nbsp; Aligned Initiatives</h2>
			<div class="push30"></div>

			<div id="section1" class="textbox">
				<p>
					<h3>Blue Solutions</h3>
				</p>
				<p>
					Blue Solutions provides a global knowledge network and capacity development platform to collate, share and generate solutions for effective management and equitable governance of our planet’s marine and coastal living spaces. Blue Solutions is implemented by the German Development Cooperation (GIZ) in direct partnership with GRID-Arendal, IUCN and UNEP. Funding for the initiative, which lasts from 2013 to 2018, is provided by the German Federal Ministry for the Environment, Nature Conservation, Building and Nuclear Safety (BMUB) through its International Climate Initiative (ICI).
				</p>
				<p>
					Since 2013 Blue Solutions is a partner of the Sustainable Ocean Initiative as part of the German contribution to the Convention on Biological Diversity (CBD) and its Strategic Plan for Biodiversity. Similar to the SOI, Blue Solutions seeks to build on existing best practices to facilitate capacity development for on-the-ground implementation and, at the same time, foster the upscaling of promising solutions via policy processes.
				</p>
				<p>
					SOI and Blue Solutions are therefore collaborating on strategic processes and joining forces to support sustainable development in the marine and coastal realm. The cooperation is focused on the following areas of action:
					<ul class="text">
						<li>Enabling the sharing and adaptation of solutions by convening solution providers and innovators in face-to-face meetings and via an online solutions exchange.</li>
						<li>Enhancing capacities for implementing solutions by developing and offering a series of training modules, e.g. on Marine Spatial Planning (MSP).</li>
					</ul>
				</p>
				<p>
					For more information, please visit <a href="http://bluesolutions.info">http://bluesolutions.info/</a>.
				</p>
			</div>

			<div class="push30"></div>

		    <div id="section2" class="textbox">
				<p>
					<h3>French Marine Protected Areas Agency</h3>
				</p>
				<p>
					<strong>Background</strong><br>
				</p>
				<p>
					The Agence des aires marines protégées (French Marine Protected Areas Agency) is a governmental
					organization dedicated to the protection of marine environments.
				</p>
				<p>
					It was created by law on April 14, 2006, under the governance of the Ministry of Ecology,
					Sustainable Development and Energy. Its headquarters are in Brest, Brittany, at the westernmost
					tip of the country. It is represented on all three coastlines of the French mainland, and in the
					French overseas. It was pivotal in the creation of the six French marine nature parks: Iroise,
					Mayotte, Golfe du Lion, Glorieuses, Estuaires Picards et Mer d’Opale, and recently the creation
					of the Coral Sea marine park in New Caledonia which is the biggest marine protected area in the
					world (1.3 million km2).
				</p>
				<p>
					The Agency’s responsibilities and objectives include:
					<ul class="text">
						<li>Supporting public policies for the creation and management of marine protected areas in waters under French jurisdiction around the globe;</li>
						<li>Coordinating France’s network of marine protected areas;</li>
						<li>Providing technical and financial support for marine nature parks; and</li>
						<li>Reinforcing French involvement in international negotiations on the sea, notably through regional seas conventions in the Caribbean, the Northeast Atlantic, the Mediterranean, the Indian Ocean, the South Pacific and the Antarctic.</li>
					</ul>
				</p>
				<p>
					<strong>Activities Related to SOI</strong><br>
				</p>
				<p>
					The conclusions of the Third International Congress on Marine Protected Areas (IMPAC3,
					Marseille, 2013), based on the Ajaccio Ministerial Statement have shown interest in continuing
					to support the Sustainable Ocean Initiative and its efforts to facilitate the achievement of
					Aichi Biodiversity Target 11. The French MPA Agency’s contribution to this initiative also meets
					the objectives of strengthening the France’s international presence and participation in
					international efforts that affect marine protected areas at the global and regional scale.
				</p>
				<p>
					The French MPA Agency is focusing its partnership with SOI in two strategic areas for marine
					biodiversity, the South Pacific and the Western Indian Ocean. This partnership shall focus on
					conducting technical workshops to improve the capacity of regional cooperation to achieve Aichi
					Target 11 and other Aichi Targets (including Aichi Targets 6 and 10) consistently in these two
					priority areas. These workshops will be part of the international agenda of the Nairobi
					Convention and the Commission of the Indian Ocean or the Regional Environment Programme Pacific
					(SPREP) and PACIOCEA initiative.
				</p>
				<p>
					For more information, please visit <a href="http://www.aires-marines.com">http://www.aires-marines.com/</a>.
				</p>
			</div>
		</div>
		<div class="col-sm-3">
			<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
		        <ul class="nav bs-docs-sidenav">
					<li><a href="#section1">Blue Solutions</a></li>
					<li><a href="#section2">French Marine Protected Areas Agency</a></li>
		  		</ul>
			</nav>
		</div>
	</div>
</div>
