<div class="container">
	<div class="row-fluid">
		<ol class="breadcrumb">
		  <li><a href="./">Home</a></li>
		  <li class="active">Aligned Initiatives</li>
		</ol>
	</div>

	<div class="row-fluid">
		<div class="col-xs-6 col-lg-6">
		    <h2 class="blue-light">Aligned Initiatives</h2>
		    <div class="push15"></div>
		    <div class="textbox">
				<p>
					Blue Solutions provides a global knowledge network and capacity development platform to collate, share and generate solutions for effective management and equitable governance of our planet’s marine and coastal living spaces. Blue Solutions is implemented by the German Development Cooperation (GIZ) in direct partnership with GRID-Arendal, IUCN and UNEP. Funding for the initiative, which lasts from 2013 to 2018, is provided by the German Federal Ministry for the Environment, Nature Conservation, Building and Nuclear Safety (BMUB) through its International Climate Initiative (ICI).
				</p>
				<p>
					Since 2013 Blue Solutions is a partner of the Sustainable Ocean Initiative as part of the German contribution to the Convention on Biological Diversity (CBD) and its Strategic Plan for Biodiversity. Similar to the SOI, Blue Solutions seeks to build on existing best practices to facilitate capacity development for on-the-ground implementation and, at the same time, foster the upscaling of promising solutions via policy processes.
				</p>
				<p>
					SOI and Blue Solutions are therefore collaborating on strategic processes and joining forces to support sustainable development in the marine and coastal realm. The cooperation is focused on the following areas of action:
					<ul class="text">
						<li>Enabling the sharing and adaptation of solutions by convening solution providers and innovators in face-to-face meetings and via an online solutions exchange.</li>
						<li>Enhancing capacities for implementing solutions by developing and offering a series of training modules, e.g. on Marine Spatial Planning (MSP).</li>
					</ul>
				</p>
				<p>
					For more information, please visit <a href="http://bluesolutions.info">http://bluesolutions.info</a>.
				</p>
			</div>
		</div>
		<div class="col-xs-6 col-lg-6">
			<img src="app/images/approach.jpg" alt="bottom of the ocean" />
			<div class="push15"></div>
			<div class="col-xs-8 col-lg-8 nopaddingleft">
				<img src="app/images/plant-355.jpg" alt="purple sea plant">
			</div>
			<div class="col-xs-4 col-lg-4 nopaddingright imgsize hexa-pattern"></div>
		</div>
	</div>

	<div class="push15 clear">&nbsp;</div>
</div>
