
    <div class="row">
        <div class="col-md-3">
            <register-facets></register-facets>
        </div>

        <div class="col-xs-9 my_well my_well-white">

            <h1 class="page-header">Dashboard</h1>

            <user-info></user-info>

            <h2 class="sub-header" style="border:0;" >All Records</h2>

            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#published" aria-controls="published" role="tab" data-toggle="tab"><span class="sub-header">Published Records</span></a></li>
                    <li role="presentation"><a href="#draft" aria-controls="draft" role="tab" data-toggle="tab"><span class="sub-header">Draft Records</span></a></li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="published">
                        <my-documents></my-documents>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="draft">
                        <my-drafts></my-drafts>
                    </div>

                </div>

            </div>

        </div>
    </div>
