<div class="container">

	<div class="row-fluid">
	    <div class="col-xs-2 col-md-2">
		    <h3>Brochures:</h3>
	    </div>
	    <div ng-repeat="document in documents">
			<div class="col-xs-2 col-md-2 organization">
		        <img src="{{document.thumbnail}}" alt="{{document.name}}">
		        <a href="{{document.url}}">
		        	<h3>{{document.description}}</h3>
		        </a>
				<a ng-if="document.type=='document'" href="{{document.url}}" title="{{document.name}}">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
				<a ng-if="document.type=='document-list'" href="{{document.url}}" title="{{document.name}}">See the list <i class="fa fa-long-arrow-right"></i></a>
			</div>			
			<div ng-if="$index%5==4">
				<div class="clearfix"></div>
				<div class="col-xs-2 col-md-2"></div>
			</div>
		</div>

	</div>
</div>
