<div class="container">    
	<div class="row-fluid">
		<ol class="breadcrumb">
		  <li><a href="./">Home</a></li>
		  <li><a href="./resources">Resources</a></li>
		  <li class="active">Brochures</li>
		</ol>
	</div>
	
	<div class="row-fluid">
	    <div class="col-xs-2 col-md-2">
		    <h3>Brochures:</h3>
	    </div>
	
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-soi-brochure.jpg" alt="SOI brochure">
	        <a href="http://www.cbd.int/marine/doc/soi-brochure-2012-en.pdf">
	        	<h3>Sustainable Ocean Initiative</h3>
	        </a>	
	        <a href="http://www.cbd.int/marine/doc/soi-brochure-2012-en.pdf" title="Sustainable Ocean Initiative">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-ebsa-brochure.jpg" alt="EBSA brochure">
	        <a href="http://www.cbd.int/marine/doc/ebsa-brochure-2012-en.pdf">
	        	<h3>Ecologically or Biologically Significant Areas (EBSAs)</h3>
	        </a>	
	        <a href="http://www.cbd.int/marine/doc/ebsa-brochure-2012-en.pdf" title="Ecologically or Biologically Significant Areas (EBSAs)">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-azores-scientific.jpg" alt="Brochure for the Scientific Criteria and Guidance">
	        <a href="https://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/other/ebsaws-2014-01-azores-brochure-en.pdf">
	        	<h3>Brochure for the Scientific Criteria and Guidance for Identifying EBSAs and Designing Representative Networks of Marine Protected Areas in Open Ocean Waters and Deep Sea Habitats</h3>
	        </a>	
	        <a href="https://www.cbd.int/doc/meetings/mar/ebsaws-2014-01/other/ebsaws-2014-01-azores-brochure-en.pdf" title="Brochure for the Scientific Criteria">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-gobi.jpg" alt="GOBI brochure">
	        <a href="http://www.cbd.int/marine/doc/gobi-glossy-brochure-2010-en.pdf">
	        	<h3>Global Ocean Biodiversity Initiative</h3>
	        </a>	
	        <a href="http://www.cbd.int/marine/doc/gobi-glossy-brochure-2010-en.pdf" title="Global Ocean Biodiversity Initiative">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization"></div>
	</div>	
</div>	
