<div class="container">

	<div class="row-fluid">
	    <div class="col-xs-2 col-md-2">
		    <h3>SOI/CBD Materials:</h3>
	    </div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-technical-series_brochure.jpg" alt="SOI Action Plan 2015-2020">
	        <a href="https://www.cbd.int/ts/">
	        	<h3>SOI Action Plan 2015-2020</h3>
	        </a>
	        <a href="https://www.cbd.int/doc/meetings/mar/soiom-2014-02/official/soiom-2014-02-actionplan-en.pdf" title="SOI Action Plan 2015-2020">www.cbd.int/doc/meetings/ mar/soiom-2014-02/official/soiom-2014-02-actionplan-en.pdf <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-technical-series_brochure.jpg" alt="CBD Technical Series Reports">
	        <a href="https://www.cbd.int/ts/">
	        	<h3>CBD Technical Series Reports</h3>
	        </a>
	        <a href="https://www.cbd.int/ts/" title="CBD Technical Series Reports">www.cbd.int/ts <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-workshop-reports_brochure.jpg" alt="Reports of the CBD Regional EBSA Workshops">
	        <a href="https://www.cbd.int/ebsa/resources?tab=workshop-reports">
	        	<h3>Reports of the CBD Regional EBSA Workshops</h3>
	        </a>
	        <a href="https://www.cbd.int/ebsa/resources?tab=workshop-reports" title="Reports of the CBD Regional EBSA Workshops">www.cbd.int/ebsa/resources?tab=workshop-reports <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-pdf.jpg" alt="Report of the Expert Workshop">
	        <a href="https://www.cbd.int/doc/?meeting=EWBCSIMA-01">
	        	<h3>Report of the Expert Workshop on Scientific and Technical Guidance on the use of Biogeographic Classification Systems and Identification of Marine Areas beyond national jurisdiction in need of protection</h3>
	        </a>
	        <a href="https://www.cbd.int/doc/?meeting=EWBCSIMA-01" title="Report of the Expert Workshop">www.cbd.int/doc/?meeting=EWBCSIMA-01 <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-pdf.jpg" alt="Report of the Expert Workshop">
	        <a href="https://www.cbd.int/doc/?meeting=EWSEBM-01">
	        	<h3>Report of the Expert Workshop on Ecological Criteria and Biogeographic Classification Systems for Marine Areas in Need of Protection</h3>
	        </a>
	        <a href="https://www.cbd.int/doc/?meeting=EWSEBM-01" title="Report of the Expert Workshop">www.cbd.int/doc/?meeting=EWSEBM-01 <i class="fa fa-long-arrow-right"></i></a>
		</div>

		<div class="col-xs-2 col-md-2 organization">

		</div>

	</div>
</div>
