<div>
    <div class="hidden-xs">
        <div class="container sub-nav">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='logo'" ng-mouseleave="highlightLink=''"><a href="resources/logo">Logo</a> <i ng-if="highlightLink=='logo' || path=='/resources/logo'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='materials'" ng-mouseleave="highlightLink=''"><a href="resources/materials" >Printed Materials</a> <i ng-if="highlightLink=='materials' ||  path=='/resources/materials'" style="position:relative;top:-4px;left:45px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='multimedia'" ng-mouseleave="highlightLink=''"><a href="resources/multimedia" >Multimedia</a> <i ng-if="highlightLink=='multimedia' ||  path=='/resources/multimedia'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>

            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
                          			<!-- <a class="pull-right" style="padding-right:10px;cursor:pointer;" ng-click="goTo('/resources/multimedia/edit/');" ng-if="isAdmin()">Edit Media <i class="fa fa-edit"></i></a> -->
            <div class="col-xs-12">
                <h1>Multimedia</h1>

                <p>In this section you can download publications such as factsheets, brochures, posters and more. Please share them with community institutions such as schools, organizations and businesses. Make them available to local or national media and government offices. Feel free to translate them into your official language as well. If you wish to contribute to this section please contact us.
                </p><p>Learn more about why biodiversity is important and how it is endangered. Help spread the word about living in harmony with nature!
                </p>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="https://www.youtube.com/user/UNBiodiversity" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br />
                                <h5>UNDB videos</h5>
                                <p>including the official UDNB video </p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/youtube.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <a href="https://www.cbd.int/2010/multimedia/" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br />
                                <h5>IYB videos</h5>
                                <p>including the official IYB video </p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/green-arrow.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="https://www.youtube.com/watch?v=rrz8nxzo_nw" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8"><br />
                                <h5> How to Tell a Love Story</h5>
                                <p>By IUCN</p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/green-arrow.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
