<div class="container">    
	<div class="row-fluid">
		<ol class="breadcrumb">
          <li><a href="./">Home</a></li>
  		  <li><a href="./resources">Resources</a></li>
		  <li class="active">Partner materials / publications</li>
		</ol>
	</div>
	
	<div class="row-fluid">
	    <div class="col-xs-2 col-md-2">
		    <h3>Partner materials / publications:</h3>
	    </div>
	
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-fao-geographic_brochure.jpg" alt="FAO: Geographic Information Systems to support the ecosystem approach to fisheries report" />
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-geographic-information-sys-en.pdf">
	        	<h3>FAO: Geographic Information Systems to support the ecosystem approach to fisheries</h3>
	        </a>
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-geographic-information-sys-en.pdf" title="FAO">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-fao-ecosystem_brochure.jpg" alt="AO: Guidelines on the Ecosystem Approach to Fisheries report">
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-guidelines-on-the-eaf-en.pdf">
		        <h3>FAO: Guidelines on the Ecosystem Approach to Fisheries</h3>
	        </a>
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-guidelines-on-the-eaf-en.pdf" title="FAO">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-fao-deep-seas_brochure.jpg" alt="FAO: Guidelines on Marine Protected Areas and Fisheries report" />
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-fao-guide-mpa-fisheries-en.pdf">
	        	<h3>FAO: Guidelines on Marine Protected Areas and Fisheries</h3>
	        </a>
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-fao-guide-mpa-fisheries-en.pdf" title="FAO">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-fao-international.jpg" alt="AO: International guidelines for the management of deep-sea fisheries in the high seas report">
	         <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-international-guidelines-en.pdf">
	         	<h3>FAO: International guidelines for the management of deep-sea fisheries in the high seas</h3>
	         </a>
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-international-guidelines-en.pdf" title="FAO">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-fao-putting.jpg" alt="FAO: Putting into practice the ecosystem approach to fisheries report">
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-putting-into-practice-eaf-en.pdf">
	        	<h3>FAO: Putting into practice the ecosystem approach to fisheries</h3>
	        </a>
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-putting-into-practice-eaf-en.pdf" title="FAO">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="clear push30">&nbsp;</div>
		
		<div class="col-xs-2 col-md-2 organization col-md-offset-2">
	        <img src="app/images/resources/170-geo-bon.jpg" alt="GEO BON Adequacy of Biodiversity Observation Systems to support the CBD 2020 Targets report">
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-wafr-01/other/cbwsoi-wafr-01-geobon-adequacy-report-2011-en.pdf">
	        	<h3>GEO BON Adequacy of Biodiversity Observation Systems to support the CBD 2020 Targets</h3>
	        </a>
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-wafr-01/other/cbwsoi-wafr-01-geobon-adequacy-report-2011-en.pdf" title="GEO BON">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-green-economy.jpg" alt="UNEP Green Economy in a Blue World report">
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-wafr-01/other/cbwsoi-wafr-01-unep-green-economy-blue-world-en.pdf">
	        	<h3>UNEP Green Economy in a Blue World (Synthesis Report)</h3>
	        </a>
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-wafr-01/other/cbwsoi-wafr-01-unep-green-economy-blue-world-en.pdf" title="UNEP">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-unep-grid.jpg" alt="UNEP GRID Arendal: Why Value Oceans? report">
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-wafr-01/other/cbwsoi-wafr-01-unep-grid-arendal-why-value-oceans-en.pdf">
	        	<h3>UNEP GRID Arendal: Why Value Oceans?</h3>
	        </a>
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-wafr-01/other/cbwsoi-wafr-01-unep-grid-arendal-why-value-oceans-en.pdf" title="UNEP">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-undoalos-ecosystem.jpg" alt="UNDOALOS: Ecosystem approaches and oceans report">
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-ea-and-oceans-en.pdf">
	        	<h3>UNDOALOS: Ecosystem approaches and oceans</h3>
	        </a>	
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-seasi-01/other/cbwsoi-seasi-01-ea-and-oceans-en.pdf" title="UNDOALOS">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
		<div class="col-xs-2 col-md-2 organization">
	        <img src="app/images/resources/170-undoalos-marine.jpg" alt="UNDOALOS: Marine scientific research report" />
	         <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-wafr-01/other/cbwsoi-wafr-01-doalos-msr-en.pdf">
	         	<h3>UNDOALOS: Marine scientific research – a revised guide to the implementation of relevant provisions of the UN Convention on the Law of the Sea</h3>
	         </a>	
	        <a href="http://www.cbd.int/doc/meetings/mar/cbwsoi-wafr-01/other/cbwsoi-wafr-01-doalos-msr-en.pdf" title="UNDOALOS">Download the PDF <i class="fa fa-long-arrow-right"></i></a>
		</div>
		
	</div>		
</div>	
