<div>
    <div class="hidden-xs">
        <div class="container sub-nav">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='logo'" ng-mouseleave="highlightLink=''"><a href="resources/logo">Logo</a> <i ng-if="highlightLink=='logo' || path=='/resources/logo'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='materials'" ng-mouseleave="highlightLink=''"><a href="resources/materials">Printed Materials</a> <i ng-if="highlightLink=='materials' ||  path=='/resources/materials'" style="position:relative;top:-4px;left:45px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='multimedia'" ng-mouseleave="highlightLink=''"><a href="resources/multimedia">Multimedia</a> <i ng-if="highlightLink=='multimedia' ||  path=='/resources/multimedia'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='waiver'" ng-mouseleave="highlightLink=''"><a href="resources/waiver">Waiver</a> <i ng-if="highlightLink=='waiver' ||  path=='/resources/waiver'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>

            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">

                <div>
                    <h1>Waiver of Liability</h1>

                </div>


                <p>
                    Anyone who wishes to use the United Nations Decade on Biodiversity logo must follow the instructions in the <a href="https://www.cbd.int/undb/logo/undb-logo-waiver-en.pdf">Brand Usage Guidelines</a> and must send us a signed waiver form. You can
                    choose between a PDF form <b>or</b> an online form.
                </p>
                <br>
                <br>

            </div>
        </div>

        <div class="row article">
            <div class="col-xs-12">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle" style="cursor:pointer;" ng-click="goTo('/resources/waiver/submit');">
                    <div><br>
                    <h3>Online Form </h3>
                  </div>
                    <p>
                        The electronic waiver is faster and paperless! To ensure that your information is secure, you need a CBD user account. After completing the waiver you should see a confirmation page where you can download the logo. If you don&#39;t see this page, please
                        <a href="/resources/contact/" ng-click="goTo('/resources/waiver/submit');">contact us</a> for further information or assistance.
                        Go to <a ng-href="#" ng-click="goTo('/resources/waiver/submit');">www.cbd.int/2011-2020/waiver/submit</a> to access the online form.  If you do not have an account or are not logged in your will be redirected to the accounts page.
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>