<div class="container">    
	<div class="row-fluid">
		<ol class="breadcrumb">
		  <li><a href="./">Home</a></li>
		   <li><a href="./about">About</a></li>
		  <li class="active">Approach</li>
		</ol>
	</div>
		
		
	<div class="row-fluid">
		<div class="col-xs-6 col-lg-6">
			<h2 class="blue-light">Approach</h2>
			<div class="push15"></div>			    
			<div class="textbox">
			    <p>Around the world, efforts are under way to improve conservation and sustainable use of marine and coastal biodiversity. However, there has yet to be an effort to take a holistic and comprehensive approach to capacity development for conservation and sustainable use of oceans and coasts.</p>

			    <p>The Sustainable Ocean Initiative builds on these efforts, resources, and experiences by providing a holistic and strategic framework through which to provide capacity building opportunities to address regional priorities toward achieving Aichi Biodiversity Targets related to marine and coastal biodiversity. The Sustainable Ocean Initiative focuses centrally on facilitating partnerships to link various initiatives and ensure that the sum of these efforts are greater than its parts.</p>
			</div>

			<div class="push15"></div><div class="col-md-12 divider">&nbsp;</div><div class="push20"></div>

			<div class="textbox">
			    <p>The approach of the Sustainable Ocean Initiative focuses on:</p>
			    
			    <ul class="text">
			    	<li>Identifying <span class="important">best practices, facilitating information sharing and exchange,</span> and learning from both successful and unsuccessful experiences;</li>
			    	<li><span class="important">Engaging partnerships</span> with various donors and relevant organizations at global, regional and national levels</li>
			    	<li>Providing for a <span class="important">two-way communication</span> between global policy and scientific communities and local stakeholders</li>
			    	<li><span class="important">Improving the scientific basis for implementation</span>, including through improved technologies, cooperative research efforts, objective monitoring, results-based initiatives, open access data and analysis, and integration of local knowledge and science; and </li>
			    	<li><span class="important">Monitoring progress towards the Aichi Biodiversity Targets</span> on marine and coastal biodiversity (particularly targets 6, 10 and 11) and facilitating the provision of guidance and guidelines that will help their achievement.</li>
			    </ul>

			    <p>One of the core strengths of SOI is its wide range of partners and the opportunity to share and build upon the many experiences, knowledge, and resources of these partners to achieve common goals. SOI partners share:</p>
			    
			    <ul class="text">
			    	<li>A Common Vision</li>
			    	<li>Coherent and/or Complementary Goals and Objectives</li>
			    	<li>A Commitment to Share (e.g., knowledge, expertise, experiences, human resources, financial resources, networks, time, logistic support, etc)</li>
			    </ul>
			</div>
		 </div>
			    
		<div class="col-xs-6 col-lg-6">
			<img src="app/images/approach.jpg" alt="bottom of the ocean" />
			<div class="push15"></div>
			<div class="col-xs-6 col-lg-6 nopaddingleft imgsize blue-light-box"></div>
			<div class="col-xs-6 col-lg-6 nopaddingright">
				<img src="app/images/red-plant-266.jpg" alt="red sea plant">	
			</div>		
			<div class="clear push15"></div>
			<div class="col-xs-8 col-lg-8 nopaddingleft">
				<img src="app/images/plant-355.jpg" alt="purple sea plant">
			</div>
			<div class="col-xs-4 col-lg-4 nopaddingright imgsize hexa-pattern"></div>
		</div>		
	</div>		
	
	<div class="push50 clear">&nbsp;</div>
    
	<div class="clear push50"></div>
</div>
