<div class="container">

	<div class="row-fluid">
		<div class="col-xs-6 col-lg-6">
			<h2 class="blue-light">Approach</h2>
			<div class="push15"></div>

			<img src="app/images/soi-action-plan.jpg" style="width:100%">
			<div class="push15"></div>

			<div class="textbox">
			    <p>Around the world, efforts are under way to improve conservation and sustainable use of marine and coastal biodiversity. However, there has been inadequate focus on the holistic aspects of capacity needs with regards to oceans and marine life therein.</p>
			    <p>The Sustainable Ocean Initiative builds on these efforts, resources, and experiences by providing a holistic and strategic framework through which to catalyze partnerships, build on lessons learned and knowledge gained, and facilitate improved coordination and two-way dialogue to address these capacity needs to support countries in their efforts to achieve the Aichi Biodiversity Targets in marine and coastal areas. The Sustainable Ocean Initiative focuses centrally on facilitating partnerships to link various initiatives and ensure that the sum of these efforts are greater than its parts.</p>
			</div>

			<div class="push15"></div><div class="col-md-12 divider">&nbsp;</div><div class="push20"></div>

			<div class="textbox">
			    <p>The approach of the Sustainable Ocean Initiative focuses on:</p>
			    <ul class="text">
			    	<li>Achieving a <span class="important">balance between sustainable use and conservation</a> and the promotion of flexible and diverse approaches;</li>
					<li><span class="important">Identifying best practices</a>, facilitating <span class="important">information sharing</a>, and <span class="important">learning from experiences</a>;</li>
					<li><span class="important">Creating partnerships</a> that can provide for targeted capacity building, training, technical assistance and learning exchange;</li>
					<li>Providing for <span class="important">two-way communication</a> among policymakers, scientific communities and local stakeholders;</li>
					<li><span class="important">Monitoring progress towards the Aichi Biodiversity Targets</a> in marine and coastal areas (particularly Targets 6, 10 and 11);</li>
					<li>Facilitating the <span class="important">provision of guidance and guidelines</a> that will help their achievement; and</li>
					<li>Improving the <span class="important">scientific basis for implementation</a>.</li>
			    </ul>

			    <p>By addressing these key aspects of capacity, SOI aims to build the groundwork and foundation for long-term, effective and adaptive implementation.</p>
			</div>
		</div>

		<div class="col-xs-6 col-lg-6">
			<img src="app/images/approach.jpg" alt="bottom of the ocean" />
			<div class="push15"></div>
			<a href="https://www.cbd.int/doc/meetings/mar/soiom-2014-02/official/soiom-2014-02-actionplan-en.pdf">
				<div class="col-xs-6 col-lg-6 nopaddingleft imgsize blue-light-box" style="overflow:hidden">
					<div style="position:absolute;top:10px;right:10px"><i class="fa fa-file-pdf-o" style="font-size:3em"></i></div>
					<img src="app/images/thumbnail-actionplan-en.jpg">
				</div>
				<div class="col-xs-6 col-lg-6 nopaddingright imgsize blue-light-box">
					<div style="display:flex;justify-content:center;align-items:center;height:100%"><i class="fa fa-download" style="color:#fff;font-size:8em"></i></div>
				</div>
			</a>
			<div class="clear push15"></div>
			<div class="col-xs-8 col-lg-8 nopaddingleft">
				<img src="app/images/plant-355.jpg" alt="purple sea plant">
			</div>
			<div class="col-xs-4 col-lg-4 nopaddingright imgsize hexa-pattern"></div>
		</div>
	</div>

	<div class="push50 clear">&nbsp;</div>

	<div class="clear push50"></div>
</div>
