<div>
  <div class="hidden-xs">
    <div class="container sub-nav">
      <ul class="nav navbar-nav">
        <li ng-mouseover="highlightLink='undb'" ng-mouseleave="highlightLink=''"><a href="about/undb">UNDB</a> <i ng-if="highlightLink=='undb' || path=='/about/undb'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='goals'" ng-mouseleave="highlightLink=''"><a href="about/goals">Goals</a> <i ng-if="highlightLink=='goals' ||  path=='/about/goals'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='biodiversity'" ng-mouseleave="highlightLink=''"><a href="about/biodiversity">Biodiversity</a> <i ng-if="highlightLink=='biodiversity' ||  path=='/about/biodiversity'" style="position:relative;top:-4px;left:28px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='IYB2010'" ng-mouseleave="highlightLink=''"><a href="about/iyb2010">IYB2010</a> <i ng-if="highlightLink=='IYB2010' ||  path=='/about/iyb2010'" style="position:relative;top:-4px;left:20px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='SDGs'" ng-mouseleave="highlightLink=''"><a href="about/sdgs">SDGs</a> <i ng-if="highlightLink=='SDGs' ||  path=='/about/sdgs'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
        <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>

      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row article">
      <div class="col-xs-12">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">

            <div class="panel-heading bg-title1 bg-short" role="tab" id="firstHeading">
              <a role="button" ng-click="toggleCss('firstCollapse', 'firstHeading')"  data-toggle="collapse" data-parent="#accordion" href="#firstCollapse" aria-expanded="true" aria-controls="firstCollapse">
                <h3 class="panel-title accordion-title">The value of biodiversity</h3>
              </a>
              <span class="accordion-arrow">
                <a role="button" ng-click="toggleCss('firstCollapse', 'firstHeading')" data-toggle="collapse" data-parent="#accordion" href="#firstCollapse" aria-expanded="true" aria-controls="firstCollapse">
                  <!-- <i class="indicator fa fa-chevron-up"></i> -->
                  <i ng-class="isOpen('firstCollapse') ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                </a>
              </span>
            </div>
            <div id="firstCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="firstHeading">
              <div class="panel-body">
                <h4>What is Biodiversity?</h4>
                <p>Biodiversity is the variety of life on Earth. It includes all organisms, species and populations; the genetic variation among them; and their complex assemblages of communities and ecosystems. The biodiversity we see today consists of
                  millions of distinct biological species, the product of four billion years of evolution. Biodiversity forms the web of life of which we are an integral part and upon which we depend.</p>
                <p>Diversity is often understood in terms of the wide variety of plants, animals and microorganisms. Approximately 1.75 million species have been identified; mostly small creatures such as insects. Many scientists, however, believe that there
                  are actually about 13 million species, though estimates range from three to 100 million. Biodiversity also includes genetic differences within each species - for example, between varieties of crops and breeds of livestock. Chromosomes,
                  genes, and DNA-the building blocks of life-determine the uniqueness of each individual and each species.</p>
                <h4>Species Diversity</h4>
                <p>Species diversity is often understood in terms of the wide variety of plants, animals and microorganisms. Approximately 1.75 million species, mostly small creatures such as insects, have been identified. However, the majority of scientists
                  believe that there are actually about 13 million species, though estimates range from three to 100 million.</p>
                <h4>Genetic Diversity</h4>
                <p>Biodiversity also includes genetic differences within each species - for example, between varieties of crops and breeds of livestock. Chromosomes, genes and DNA-the building blocks of life-determine the uniqueness of each individual and
                  each species.</p>
                <h4>Diversity of Ecosystems</h4>
                <p>Another aspect of biodiversity is the variety of ecosystems, such as those that can be found in deserts, forests, wetlands, mountains, lakes, rivers, agricultural landscapes, oceans and coasts. In each ecosystem, living creatures, including
                  humans, form a community, interacting with one another and with the air, water and soil that surround them. It is this combination of life forms and their interactions with each other, and with the rest of the environment, that has made
                  Earth a uniquely habitable place for humans.</p>

                <p>Biodiversity is the variety of life on Earth. It includes all organisms, species and populations; the genetic variation among them; and their complex assemblages of communities and ecosystems. The biodiversity we see today consists of
                  millions of distinct biological species, the product of four billion years of evolution. Biodiversity forms the web of life of which we are an integral part and upon which we depend.</p>
                <h4>Species Diversity</h4>
                <p>Species diversity is often understood in terms of the wide variety of plants, animals and microorganisms. Approximately 1.75 million species, mostly small creatures such as insects, have been identified. However, the majority of scientists
                  believe that there are actually about 13 million species, though estimates range from three to 100 million.&nbsp;</p>
                <h4>Genetic Diversity</h4>
                <p>Biodiversity also includes genetic differences within each species - for example, between varieties of crops and breeds of livestock. Chromosomes, genes and DNA -the building blocks of life- determine the uniqueness of each individual
                  and each species.</p>
                <h4>Diversity of Ecosystems</h4>
                <p>Another aspect of biodiversity is the variety of ecosystems, such as those that can be found in deserts, forests, wetlands, mountains, lakes, rivers, agricultural landscapes, oceans and coasts. In each ecosystem, living creatures, including
                  humans, form a community, interacting with one another and with the air, water and soil that sustain them. This diversity of ecosystems has in turn allowed a wide variety of social, cultural and economic systems to evolve.</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading bg-title2 bg-short" role="tab" id="secondHeading">
              <a class="collapsed" ng-click="toggleCss('secondCollapse', 'secondHeading')" role="button" data-toggle="collapse" data-parent="#accordion" href="#secondCollapse" aria-expanded="false" aria-controls="secondCollapse">
                <h3 class="panel-title accordion-title">The Value of Biodiversity and Ecosystem Services</h3>
              </a>

              <span class="accordion-arrow">
                <a role="button" ng-click="toggleCss('secondCollapse', 'secondHeading')" data-toggle="collapse" data-parent="#accordion" href="#secondCollapse" aria-expanded="true" aria-controls="secondCollapse">
                  <i ng-class="isOpen('secondCollapse') ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                </a>
              </span>
            </div>
            <div id="secondCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="secondHeading">
              <div class="panel-body">
                <h4>Solutions to Societal Challenges</h4>
                <p>Protecting biodiversity is in our own self-interest, as the conservation, restoration and sustainable use of biodiversity can provide solutions to a range of societal challenges. Biodiversity provides ecosystem goods and services that
                  benefit humans and sustain our lives. Ecosystem services are essential for human well-being in providing food, water, energy and other benefits. These services all depend on the ecological processes of functioning ecosystems which are
                  underpinned by biodiversity.</p>
                <p>The benefits of biodiversity have been the foundation of the well-being of all past human civilizations, while the degradation of ecosystems and depletion of natural resources have been root causes for the collapse of past civilizations.
                  Today, biodiversity continues to underpin our wealth, health and well-being.&nbsp;</p>
                <p>&quot;Goods and Services&quot; provided by ecosystems include:</p>
                <ul class="basic-list">
                  <li>Provision of food, fuel and fibre</li>
                  <li>Provision of shelter and building materials</li>
                  <li>Purification of air and water</li>
                  <li>Detoxification and decomposition of wastes</li>
                  <li>Stabilization and moderation of the Earth's climate</li>
                  <li>Moderation of floods, droughts, temperature extremes and the forces of wind</li>
                  <li>Generation and renewal of soil fertility, including nutrient cycling</li>
                  <li>Pollination of plants, including many crops</li>
                  <li>Control of pests and diseases</li>
                  <li>Maintenance of genetic resources as key inputs to crop varieties and livestock breeds, medicines and other products</li>
                  <li>Cultural and aesthetic benefits</li>
                </ul>
                </p>


                <p>
                  <strong>Biodiversity is essential for sustainable development: development that meets the needs of the present without compromising the ability of future generations to meet their own needs. </strong>(Report of the World Commission on Environment
                  and Development: Our Common Future (Oxford: Oxford University Press, 1987)).</p>
                <p>
                  <strong>Poverty Eradication</strong> &ndash; Biodiversity is the basis for sustainable livelihoods. Benefits of biodiversity are especially important to poor and vulnerable groups. To many, the goods and services derived from biodiversity directly
                  constitute social safety nets and can mean the difference between misery and well-being.&nbsp;</p>
                <p>
                  <strong>Water Security</strong> &ndash; Clean and secure supplies of water also depend on biodiversity. Ecosystems function as natural water infrastructure, costing less than technological solutions. Forests protect water supplies, wetlands
                  regulate floods, and healthy soils increase water and nutrient availability for crops and help reduce off-farm impacts.</p>
                <p>
                  <strong>Food Security</strong> &ndash; Food production depends on biodiversity and the services provided by ecosystems. The thousands of different crop varieties and animal breeds are founded in the rich genetic pool of species. Biodiversity
                  is also the basis for soil fertility, pollination, pest control and many aspects of food production.&nbsp;</p>
                <p>
                  <strong>Human Health</strong> &ndash; Biodiversity and ecosystem functioning provide goods and services essential for human health &ndash; including nutrients, clean air and water, and regulation of pests and vector-based diseases. Biodiversity
                  is essential for the regulation of the immune response. Biodiversity is the basis of traditional medicine, and a large number of top-ranking global prescription drugs contain components derived from plant extracts.</p>
                <p>
                  <strong>Gender</strong>
                  <strong>Equality</strong> &ndash; Biodiversity is the cornerstone of the work, and basic survival of many women. Accounting for women&rsquo;s knowledge and role in biodiversity conservation and its sustainable use can ensure their full participation
                  and thus substantially contribute to sustainable development.</p>
                <p>
                  <strong>Traditional Knowledge</strong> &ndash; Traditional knowledge associated with biodiversity has value not only to those who depend on it in their daily lives but to modern industry and agriculture as well.</p>
                <p>
                  <strong>Climate Change</strong>
                  <strong>Mitigation</strong> &ndash; Biodiversity plays a major role in mitigating climate change by contributing to long-term sequestration of carbon in a number of biomes. Biodiversity also underpins ecosystem resilience and plays a critical
                  role as part of
                  <strong>disaster risk reduction</strong> and peace-building strategies. Forests, wetlands and mangroves play a critical role in reducing the impacts of extreme events such as droughts, floods and tsunamis.</p>
                <p>
                  <strong>Economic Development</strong> &ndash; Biodiversity is a vital asset in global and local economies. It directly supports major economic activity and jobs in such diverse sectors as agriculture, fisheries, forestry, pharmaceuticals, pulp
                  and paper, cosmetics, horticulture, construction and biotechnology.</p>
                <p>
                  <strong>Cities </strong>&ndash; Even the built environments of our cities are linked to and affected by biodiversity. Ecosystem-based solutions to water provisioning and to urban water run-off, climate control and other challenges can both protect
                  biodiversity and be cost-effective. Green areas in cities help reduce the incidence of violence, enhance human health and well-being and strengthen communities.</p>
                <p>
                  <strong>The Value of Biodiversity</strong>
                </p>

                <p>Protecting biodiversity is in our self-interest. Biological resources are the pillars upon which we build civilizations. Nature&#39;s products support such diverse industries as agriculture, cosmetics, pharmaceuticals, pulp and paper,
                  horticulture, construction and waste treatment.</p>
                <p>A network of marine protected areas, with the aim of conserving 20 per cent to 30 per cent of the seas and oceans, could cost between US$5 billion and US$19 billion, but help to safeguard US$70 billion to US$80 billion worth of fish catches,
                  and the provision of marine ecosystem services valued at US$4.5 trillion to US$6.7 trillion annually.</p>
                <p>The annual economic median value of fisheries supported by mangrove habitats in the Gulf of California has been estimated at US$37,500 per hectare of mangrove fringe. The value of mangroves as coastal protection may be as much as US$300,000
                  per kilometre of coastline.</p>
                <p>Nature-based tourism in Africa generates approximately the same amount of revenue as farming, forestry and fisheries combined.</p>
                <p>The national parks of Canada store 4.43 gigatonnes (billion metric tonnes) of carbon, a service worth between US$11 billion and US$2.2 trillion depending on the price of carbon in the market. The protected areas of Mexico store 2.45 gigatonnes
                  of carbon dioxide equivalent &ndash; more than five years of Mexico&rsquo;s carbon dioxide emissions in 2004, and valued at US$12.2 billion.</p>
                <p>A report in 2003 estimated the total value of annual benefits of the United Kingdom&rsquo;s forests to its people to be around &pound;1 billion. They included recreation (&pound;393 million), biodiversity (&pound;386 million), landscape
                  (&pound;150 million) and carbon sequestration (&pound;94 million). The estimate, carried out by Britain&rsquo;s Forestry Commission, did not include values such as the contribution of forests to the supply and quality of fresh water,
                  the cleansing of pollutants from the air and reduction of soil erosion.</p>
                <p>The Great Barrier Reef off the coast of Australia is estimated to contribute nearly A$6 billion to the country&rsquo;s economy, counting only the value of tourism, other recreational activities and commercial fishing.</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading bg-title3 bg-short" role="tab" id="thirdHeading">
              <a class="collapsed" ng-click="toggleCss('thirdCollapse', 'thirdHeading')" role="button" data-toggle="collapse" data-parent="#accordion" href="#thirdCollapse" aria-expanded="false" aria-controls="thirdCollapse">
                <h3 class="panel-title accordion-title">Why we are losing biodiversity?</h3>
              </a>
              <span class="accordion-arrow">
                <a role="button" ng-click="toggleCss('thirdCollapse', 'thirdHeading')" data-toggle="collapse" data-parent="#accordion" href="#thirdCollapse" aria-expanded="true" aria-controls="thirdCollapse">
                  <i ng-class="isOpen('thirdCollapse') ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                </a>
              </span>
            </div>
            <div id="thirdCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="thirdHeading">
              <div class="panel-body">
                <h4>Why we are Losing Biodiversity</h4>

                <p>When most people think of the dangers besetting the natural world, they think of the threat to other creatures. Declines in the numbers of such charismatic animals as pandas, tigers, elephants, whales and various species of birds, have
                  drawn the world&rsquo;s attention to species at risk. Species have been disappearing at up to 1,000 times the natural rate, and this is predicted to rise dramatically. Current trends suggest that an estimated 34,000 plant and 5,200 animal
                  species - including one in eight of the world&#39;s bird species - face extinction. For thousands of years humans have been developing a vast array of domesticated plants and animals important for food. But this treasure house is shrinking
                  as modern commercial agriculture focuses on relatively few crop varieties. In addition, some 30 per cent of breeds of the main farm animal species are currently at high risk of extinction.</p>

                <p>Combinations of drivers could push some systems beyond tipping points at regional scales by 2050. The two best understood examples are degradation of coral reefs due to combinations of pollution, destructive fishing, invasive alien species,
                  ocean acidification and climate change, and loss of summer Arctic sea ice due to climate change. These relatively rapid and large shifts in ecosystem structure and function at regional scale are projected to have large negative impacts
                  on biodiversity, ecosystem services and human well-being if they are not averted. The poor would suffer the earliest and most severe impacts, but ultimately all societies and economies would be affected.</p>

                <p>Drivers of biodiversity loss are often embedded deep within our systems of policymaking, financial accounting and patterns of production and consumption. There are two types of biodiversity loss drivers: direct and indirect drivers.</p>

                <p>The pressures or
                  <strong>direct drivers</strong> on biodiversity include:&nbsp;</p>

                <ul class="basic-list">
                  <li>habitat loss, degradation and fragmentation&nbsp;</li>
                  <li>overexploitation of biological resources, with a particular emphasis on overfishing&nbsp;</li>
                  <li>unsustainable forms of production in key activities such as agriculture, aquaculture and forestry&nbsp;</li>
                  <li>pollution, especially focusing on the build-up of nutrients such as nitrogen and phosphorus in the environment</li>
                  <li>climate change and acidification of the oceans, associated with the build-up of greenhouse gases in the atmosphere</li>
                  <li>introduction and establishment of invasive alien species&nbsp;</li>
                  <li>multiple pressures on ecosystems, such as coral reefs, especially vulnerable to the impacts of climate change.</li>
                </ul>

                <p>The underlying causes or
                  <strong>indirect drivers</strong> of biodiversity loss, include:&nbsp;</p>
                <ul class="basic-list">
                  <li>lack of awareness of biodiversity and its values</li>
                  <li>incorporation of those values into accounting systems and decisions on economic development and planning&nbsp;</li>
                  <li>subsidies and financial incentives and patterns of consumption and production that negatively affect biodiversity,&nbsp;</li>
                </ul>
                <p>While the loss of individual species catches our attention, it is the fragmentation, degradation and outright loss of forests, wetlands, coral reefs and other ecosystems that poses the gravest threat to biodiversity. Forests are home to
                  much of the known terrestrial biodiversity, but about 45 per cent of the Earth&#39;s original forests are now gone, cleared mostly during the past century. Despite some regrowth, the world&#39;s forests continue to shrink at a rapid
                  rate, particularly in the tropics. Up to 10 per cent of coral reefs - among the most biodiversity-rich ecosystems - have been destroyed, and one third of the remainder face collapse over the next 10 to 20 years. Coastal mangroves, a
                  vital nursery habitat for countless species, are also vulnerable, with half already gone.</p>
                <p>Global atmospheric changes, such as ozone depletion and climate change, only add to the stress. A thinner ozone layer lets more ultraviolet-B radiation reach the Earth&#39;s surface where it damages living tissue. Climate change is already
                  changing habitats and the distribution of species. Scientists warn that even a one-degree increase in the average global temperature, if it comes rapidly, will push many species over the brink. Our food production systems could also
                  be seriously disrupted.</p>
                <p>
                  <strong>Threats to Biodiversity</strong>
                </p>
                <p>
                  <strong>Habitat loss</strong> through changes of land use, in particular the conversion of natural ecosystems to cropland, continues to be the biggest direct cause of biodiversity loss. Already, more than half of the Earth&rsquo;s 14 terrestrial
                  biomes have seen between 20 per cent and 50 per cent of their total area converted to cropland.</p>
                <p>
                  <strong>Unsustainable use</strong> of ecosystems and
                  <strong>over-exploitation</strong> of biodiversity continue to be major threats. Many species are in a state of decline because they are being used at unsustainable levels or are being harvested in such a way that threatens the ecosystems on
                  which they depend. These declines are widespread. Overfishing continues to be a major problem, with around 30% of fish stocks defined as overfished. Persistent overfishing has a severe impact on marine biodiversity, driving the collapse
                  and local extinction of several species and reducing the total biomass of predator fish species by more than half (52 per cent) between 1970 and 2000.⁸ Unsustainable harvesting threatens not just marine and inland water biodiversity,
                  but the profitability of fishing businesses around the world and the livelihoods of millions dependent on the resources of the ocean and inland waters. (GBO4).</p>
                <p>
                  <strong>Climate change</strong> is projected to become a progressively more significant threat to biodiversity in the coming decades. Changes to the timing of flowering and migration patterns as well as to the distribution of species have already
                  been observed worldwide. In Europe over the last 40 years, the beginning of the growing season has on average advanced by 10 days. These types of changes can alter food chains and create mismatches within ecosystems where different species
                  have evolved synchronized inter-dependence, for example between nesting and food availability.</p>
                <p>Plants, animals and micro-organisms transported deliberately or accidentally to an area outside their natural geographical ranges can cause great damage to native species by competing with them for food, eating them, spreading diseases,
                  causing genetic changes through inter-breeding with native species or populations, and disrupting various aspects of the food web and the physical environment. More than 530
                  <strong>alien species</strong> with a demonstrated impact on biodiversity have been found across 57 countries for which data were collated, with an average of over 50 such species per country (and a range from 9 to over 200).</p>
                <p>The accumulation of
                  <strong>pollution</strong> such as phosphorus and nitrogen, largely from excess fertilizers running off farmland, and from sewage and other effluents, causes the build-up of algae that thrive on the added nutrients. The algae themselves can
                  be toxic and therefore create a health hazard, but the greatest damage to biodiversity is caused when they decompose and use up large quantities of oxygen in the water, creating &ldquo;dead zones&rdquo; where other forms of life cannot
                  survive. The number of such dead zones increased from 149 in 2003 to over 200 in 2006. The continuing release of pollutants from urban and agricultural sources combined with projected growth in coastal development and agricultural intensification
                  may, unless substantial changes in policy are implemented, lead to a multiplication of the number of dead zones in the coming decades.&nbsp;</p>

              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading bg-title4 bg-short" role="tab" id="fourthHeading">
              <a class="collapsed" ng-click="toggleCss('fourthCollapse', 'fourthHeading')" role="button" data-toggle="collapse" data-parent="#accordion" href="#fourthCollapse" aria-expanded="false" aria-controls="fourthCollapse">
                <h3 class="panel-title accordion-title">Action for biodiversity</h3>
              </a>
              <span class="accordion-arrow">
                <a role="button" ng-click="toggleCss('fourthCollapse', 'fourthHeading')" data-toggle="collapse" data-parent="#accordion" href="#fourthCollapse" aria-expanded="true" aria-controls="fourthCollapse">
                  <i ng-class="isOpen('fourthCollapse') ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                </a>
              </span>
            </div>
            <div id="fourthCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fourthHeading">
              <div class="panel-body">
                <p>Partnerships at all levels are required for effective implementation of the Strategic Plan for Biodiversity 2011-2020, to leverage broad-scale actions, to garner the ownership necessary to ensure the mainstreaming of biodiversity across
                  sectors of government, society and the economy and to enable synergies in the national implementation of the various multilateral environmental agreements.</p>

                <h4>Governments</h4>

                <p>Governments need to take on the critical role of leadership, particularly by setting rules that guide the use of natural resources and by protecting biodiversity where they have direct control over the land and water. Awareness among the
                  general public and other sectors of society is key to the success of biodiversity policies. Governments should thus establish coherent, strategic and sustained communication efforts, strategies and campaigns to increase awareness of
                  biodiversity and its values, and of ways to support its conservation and sustainable use.</p>

                <p>There needs to be better targeting and integration of agri-environmental schemes and other policy instruments towards desired biodiversity outcomes and the termination of subsidy programmes harmful to biodiversity. Governments should further
                  develop integrated policies to address habitat loss and degradation; engage with sectoral groups, indigenous peoples and local communities, landowners, other stakeholders; develop effective protected area networks and other area-based
                  conservation measures; and ensure enforcement of relevant regulations and laws.</p>

                <p>While governments should play a leadership role, other sectors of society need to be actively involved. After all, it is the choices and actions of billions of individuals that will determine whether or not biodiversity is conserved and
                  used sustainably.</p>

                <h4>Agricultural Producers</h4>

                <p>Farmers have a major role to play in the management and conservation of biodiversity. They need to manage biodiversity in such a manner that biological resources are sustained and minimize the impact of agriculture on the wider environment
                  in order to sustain the other ecosystem services. Sustainable agriculture seeks to make use of nature&rsquo;s goods and ecosystem services while producing an optimal yield in an economically, environmentally and socially rewarding way,
                  preserving resources for future generations. Making the transition to sustainable agriculture for farmers and agricultural producers is a process.</p>

                <h4>Businesses</h4>

                <p>The engagement of the business sector is crucial to the successful achievement of biodiversity conservation efforts. Businesses are both affected by, and rely upon, biodiversity and ecosystem functions and services, regardless of their
                  size, location and sector. There are many things that companies can do, and are doing, to address and mitigate negative impacts on biodiversity.</p>

                <p>In an era when economics is a dominant force in world affairs, it is more important than ever to have business willingly involved in environmental protection and the sustainable use of nature. Some companies have revenues far greater than
                  those of entire countries, and their influence is immense. Fortunately, a growing number of companies have decided to apply the principles of sustainable development to their operations. More and more companies have found ways to make
                  a profit while reducing their environmental impacts. They view sustainable development as ensuring long-term profitability and increased goodwill from their business partners, employees and consumers. Local communities play a key role
                  since they are the true &quot;managers&quot; of the ecosystems in which they live and thus have a major impact on them. Many projects have been successfully developed in recent years involving the participation of local communities in
                  the sustainable management of biodiversity, often with the valuable assistance of non-governmental organizations (NGOs) and intergovernmental organizations.</p>

                <h4>Individuals</h4>

                <p>Finally, the ultimate decision-maker for biodiversity is the individual citizen. The small choices that individuals make add up to a large impact because personal consumption drives development, which in turn uses and pollutes nature.
                  By carefully choosing the products they buy and the government policies that they support, the general public can begin to steer the world towards sustainable development. Governments, companies, and others all have a responsibility
                  to lead and inform the public, but in the end it is individual choices, made billions of times each day, that count the most.</p>

                <h4>The Convention on Biological Diversity (CBD)</h4>

                <p>Under the Convention, governments undertake to conserve and sustainably use biodiversity. They are required to develop national biodiversity strategies and action plans, and to integrate these into broader national plans for environment
                  and development. This is particularly important for such sectors as forestry, agriculture, fisheries, energy, transportation and urban planning. Other treaty commitments include:</p>

                <ul class="basic-list">
                  <li>Identifying and monitoring the important components of biodiversity that needs to be conserved and used sustainably.</li>
                  <li>Establishing protected areas to conserve biodiversity while promoting environmentally-sound development around these areas.</li>
                  <li>Rehabilitating and restoring degraded ecosystems and promoting the recovery of threatened species in collaboration with local residents</li>
                  <li>Respecting, preserving and maintaining traditional knowledge of the sustainable use of biodiversity with the involvement of indigenous peoples and local communities.</li>
                  <li>Preventing the introduction of, controlling, and eradicating alien species that could threaten ecosystems, habitats or species.</li>
                  <li>Controlling the risks posed by organisms modified by biotechnology.</li>
                  <li>Promoting public participation, particularly when it comes to assessing the environmental impacts of development projects that threaten biodiversity.</li>
                  <li>Educating people and raising awareness about the importance of biodiversity and the need to conserve it.</li>
                  <li>Reporting on how each country is meeting its biodiversity goals.</li>
                </ul>

                <h1>A new philosoply</h1>

                <p>In 1992, the largest-ever meeting of world leaders took place at the United Nations Conference on Environment and Development in Rio de Janeiro, Brazil. An historic set of agreements was signed at the &quot;Earth Summit,&quot; including
                  two binding agreements, the United Nations Framework Convention on Climate Change, which targets industrial and other emissions of greenhouse gases such as carbon dioxide, and the Convention on Biological Diversity, the first global
                  agreement on the conservation and sustainable use of biodiversity. The Convention gained rapid and widespread acceptance. Signed by over 150 governments at the Rio conference, the Convention presently has 196 Parties.</p>

                <p>The Convention on Biological Diversity has three main goals:</p>

                <ol class="basic-list">
                  <li>The conservation of biodiversity</li>
                  <li>The sustainable use of the components of biodiversity</li>
                  <li>The sharing of benefits arising from the commercial and other utilization of genetic resources in a fair and equitable way.</li>
                </ol>



                <p>The Convention is comprehensive in its goals, and deals with issues so vital to humanity&#39;s future that it stands as a landmark in international law. It recognizes-for the first time that the conservation of biodiversity is &quot;a
                  common concern of humankind&quot; and an integral part of the development process. The agreement covers all ecosystems, species and genetic resources. It links traditional conservation efforts to the economic goal of using biological
                  resources sustainably. It sets principles for the fair and equitable sharing of the benefits arising from the use of genetic resources, notably those destined for commercial use. It also covers the rapidly expanding field of biotechnology,
                  addressing technology development and transfer, benefit-sharing and biosafety. Importantly, the Convention is legally binding; countries that join it are obliged to implement its provisions.</p>

                <p>The Convention offers decision-makers guidance based on the precautionary principle that where there is a threat of significant reduction or loss of biodiversity, lack of full scientific certainty should not be used as a reason for postponing
                  measures to avoid or minimize such a threat. The Convention acknowledges that substantial investments are required to conserve biodiversity. It argues, however, that conservation will bring us significant environmental, economic and
                  social benefits in return.</p>

                <div class="col-xs-2 col-xs-offset-10">
                  <button ng-click="goTo('/actions/participate')" type="button" class="btn bg-undb-green" aria-haspopup="true" aria-expanded="false">
                    Participate <i class="fa fa-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>