<div>
    <div class="hidden-xs">
        <div class="container sub-nav">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='undb'" ng-mouseleave="highlightLink=''"><a href="about/undb">UNDB</a> <i ng-if="highlightLink=='undb' || path=='/about/undb'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='goals'" ng-mouseleave="highlightLink=''"><a href="about/goals" >Goals</a> <i ng-if="highlightLink=='goals' ||  path=='/about/goals'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='biodiversity'" ng-mouseleave="highlightLink=''"><a href="about/biodiversity" >Biodiversity</a> <i ng-if="highlightLink=='biodiversity' ||  path=='/about/biodiversity'" style="position:relative;top:-4px;left:28px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='IYB2010'" ng-mouseleave="highlightLink=''"><a href="about/iyb2010" >IYB2010</a> <i ng-if="highlightLink=='IYB2010' ||  path=='/about/iyb2010'" style="position:relative;top:-4px;left:20px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='SDGs'" ng-mouseleave="highlightLink=''"><a href="about/sdgs" >SDGs</a> <i ng-if="highlightLink=='SDGs' ||  path=='/about/SDGs'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>

            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Goals</h1>
                <h3>Achieving the Aichi Biodiversity Targets by 2020</h3>
                <p>In 2010, <a href="http://www.cbd.int/information/parties.shtml">Parties to the Convention on Biological Diversity</a> adopted the <a href="http://www.cbd.int/sp/">Strategic Plan for Biodiversity 2011-2020</a> with the purpose of inspiring broad-based action in support of biodiversity over the decade by all countries. The Strategic Plan serves as a flexible framework for the establishment of national and regional targets and promotes the coherent and effective implementation of the three objectives of the Convention on Biological Diversity: conservation of biodiversity; sustainable use of biodiversity; fair and equitable sharing of the benefits arising from the use of genetic resources.</p>
                <p>The Strategic Plan for Biodiversity 2011-2020 comprises a vision for 2050, five strategic goals and twenty ambitious yet achievable targets, collectively known as the Aichi Biodiversity Targets.</p>
            </div>

        </div>

        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2 margin" >
                    <div class="circle-text">
                        <div>A</div>
                    </div>
                </div>
                <div class="col-xs-9 margin text">
                    Address the underlying causes of biodiversity loss by mainstreaming biodiversity across government and society
                </div>
            </div>
        </div>
        </div>
        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2 margin" >
                    <div class="circle-text">
                        <div>B</div>
                    </div>
                </div>
                <div class="col-xs-9 margin text">
                   Reduce the direct pressures on biodiversity and promote sustainable use
                </div>
            </div>
        </div>
        </div>

        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2 margin" >
                    <div class="circle-text">
                        <div>C</div>
                    </div>
                </div>
                <div class="col-xs-9 margin text">
                    To improve the status of biodiversity by safeguarding ecosystems, species and genetic diversity
                </div>
            </div>
        </div>
        </div>

        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2 margin" >
                    <div class="circle-text">
                        <div>D</div>
                    </div>
                </div>
                <div class="col-xs-9 margin text">
                    Enhance the benefits to all from biodiversity and ecosystem services
                </div>
            </div>
        </div>
        </div>

        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2 margin" >
                    <div class="circle-text">
                        <div>E</div>
                    </div>
                </div>
                <div class="col-xs-9  margin text">
                    Enhance implementation through participatory planning, knowledge management and capacity building
                </div>
            </div>
        </div>
        </div>

        <div class="row article" style="display:none">
            <div class="col-xs-2 col-xs-offset-1  col-md-2 col-md-offset-10">
                <button type="button" class="btn bg-cbdgreen" aria-haspopup="true" aria-expanded="false">
                      5 Goals <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-12">

              <p><a href="http://www.cbd.int/sp/targets/default.shtml">All 20 Aichi Biodiversity Targets are listed and explained here</a> &gt;</p>

              <p>Following the agreement of the Strategic Plan for Biodiversity 2011-2020, encouraging steps have been taken around the world to tackle biodiversity loss.&nbsp;</p>

              <p>There has been significant progress towards meeting some components of the majority of the Aichi Biodiversity Targets. Some target components, such as conserving at least 17 per cent of terrestrial and inland water areas, are on track to be met. However, in most cases this progress will not be sufficient to achieve the targets set for 2020, and additional action is required to keep the Strategic Plan for Biodiversity 2011&ndash;2020 on course.</p>

              <p>Meeting the Aichi Biodiversity Targets would contribute significantly to broader global priorities addressed by the post-2015 development agenda; namely, reducing hunger and poverty, improving human health, and ensuring a sustainable supply of energy, food and clean water. However, reaching these joint objectives requires changes in society, including much more efficient use of land, water, energy and materials, rethinking our consumption habits and in particular, major transformations of food systems.</p>

            </div>
        </div>

        <div class="row article">
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Strategic Plan for Biodiversity 2011-2020</h5>


                              <p  >
                                <a   href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-EN.pdf">en</a>
                                <a   href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-ES.pdf">es</a>
                                <a   href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-FR.pdf">fr</a>
                                </p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/strategic-plan.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5  col-lg-4">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Strategy</h5>
                            <p>for the United Nations Decade on Biodiversity</p>
                            <p  >
                              <a   href="https://www.cbd.int/undb/home/undb-strategy-en.pdf">en</a>
                              <a   href="https://www.cbd.int/undb/home/undb-strategy-es.pdf">es</a>
                              <a   href="https://www.cbd.int/undb/home/undb-strategy-fr.pdf ">fr</a>
                              <a   href="https://www.cbd.int/undb/home/undb-strategy-ar.pdf">ar</a>
                              <a   href="https://www.cbd.int/undb/home/undb-strategy-ru.pdf">ru</a>
                              <a   href="https://www.cbd.int/undb/home/undb-strategy-zh.pdf">zh</a></p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/pdf-file.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
