<div>
    <div class="sub-nav">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='undb'" ng-mouseleave="highlightLink=''"><a href="about/undb">UNDB</a> <i ng-if="highlightLink=='undb' || path=='/about/undb'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='goals'" ng-mouseleave="highlightLink=''"><a href="about/goals" >Goals</a> <i ng-if="highlightLink=='goals' ||  path=='/about/goals'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='biodiversity'" ng-mouseleave="highlightLink=''"><a href="about/biodiversity" >Biodiversity</a> <i ng-if="highlightLink=='biodiversity' ||  path=='/about/biodiversity'" style="position:relative;top:-4px;left:28px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='IYB2010'" ng-mouseleave="highlightLink=''"><a href="about/iyb2010" >IYB2010</a> <i ng-if="highlightLink=='IYB2010' ||  path=='/about/iyb2010'" style="position:relative;top:-4px;left:20px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='SDGs'" ng-mouseleave="highlightLink=''"><a href="about/sdgs" >SDGs</a> <i ng-if="highlightLink=='SDGs' ||  path=='/about/SDGs'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Goals</h1>
                <h3>Achieving the Aichi Biodiversity Targets by 2020</h3>
                <p>In 2010 <a href="#">Parties to the Convention on Biological Diversity</a> adopted the <a href="#">Strategic Plan for Biodiversity 2011-2020</a> with the purpose of inspiring broad-based action in support of biodiversity over the decade by all countries. The Strategic Plan serves as a flexible framework for the establishment of national and regional targets and promotes the coherent and effective implementation of the three objectives of the Convention on Biological Diversity: conservation of biodiversity; sustainable use of biodiversity; fair and equitable sharing of the benefits arising from the use of genetic resources.</p>
                <p>The Strategic Plan for Biodiversity 2011-2020 comprises a vision for 2050, five strategic goals and twenty ambitious yet achievable targets, collectively known as the Aichi Biodiversity Targets.
                </p>
            </div> 

        </div>
        
        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2" >
                    <div class="circle-text">
                        <div>A</div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <br />Address the underlying causes of biodiversity loss by mainstreaming biodiversity across government and society
                </div>
            </div>
        </div>
        </div>
        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2" >
                    <div class="circle-text">
                        <div>B</div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <br />Reduce the direct pressures on biodiversity and promote sustainable use
                </div>
            </div>
        </div>
        </div>
    
        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2" >
                    <div class="circle-text">
                        <div>C</div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <br />Improve the status of biodiversity by safeguarding ecosystems, species and genetic diversity
                </div>
            </div>
        </div>
        </div>
    
        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2" >
                    <div class="circle-text">
                        <div>D</div>
                    </div>
                </div>
                <div class="col-xs-9">
                    <br />Enhance the benefits to all from biodiversity and ecosystem services
                </div>
            </div>
        </div>
        </div>
    
        <div class="row article" >
        <div class="col-xs-9 col-xs-offset-1">
            <div class="row circle-container">
                <div class="col-xs-2" >
                    <div class="circle-text">
                        <div>E</div>
                    </div>
                </div>
                <div class="col-xs-9 display">
                    <br />Enhance implementation through participatory planning, knowledge management and capacity building
                </div>
            </div>
        </div>
        </div>

        <div class="row article">
            <div class="col-xs-2 col-xs-offset-1  col-md-2 col-md-offset-10">
                <button type="button" class="btn bg-cbdgreen" aria-haspopup="true" aria-expanded="false">
                      5 Goals <i class="fa fa-chevron-right"></i>
                </button>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-12">
                <p>Following the agreement of the Strategic Plan for Biodiversity 2011-2020, positive steps have been made around the world to tackle the loss of biodiversity. Nevertheless, it is clear from the recent mid-term review of progress towards the goals of the Strategic Plan that, based on the current trajectory, most of the Aichi Biodiversity Targets will not be met by the agreed deadlines, and that additional actions will be required.
                </p>
                <p>Meeting the Aichi Biodiversity Targets would contribute significantly to broader global priorities addressed by the post-2015 development agenda; namely, reducing hunger and poverty, improving human health, and ensuring a sustainable supply of energy, food and clean water. However, reaching these joint objectives requires changes in society, including much more efficient use of land, water, energy and materials, rethinking our consumption habits and in particular major transformations of food systems.
                </p>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-12">
            <p><a href="#">All 20 Targets are listed and explained here <i class="fa fa-chevron-right"></i></a></p>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-8 col-sm-6 col-md-4 col-md-offset-1">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Strategic Plan for Biodiversity 2011-2020</h5>
                            <p><a href="#">En</a> <a href="#">Es</a> <a href="#">Fr</a>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/strategic-plan.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4 col-md-offset-1">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Stretegy</h5>
                            <p>for the United Nations Decade on Biodiversity</p>
                            <p><a href="#">En</a> <a href="#">Es</a> <a href="#">Fr</a></p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/pdf-file.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
