<div class="container">

	<div class="row-fluid">
	    <div class="col-xs-6 col-lg-6">
		    <h2 class="blue">History</h2>
		    <div class="push15"></div>
		    <div class="textbox">
			    <p>The tenth meeting of the Conference of the Parties to the Convention on Biological Diversity (COP 10, Nagoya, Japan, October 2010) ushered in a new era of biodiversity conservation. The 193 Parties to the Convention on Biological Diversity and their partners rose to the challenge of reversing biodiversity loss, which is occurring at an unprecedented rate—up to 1000 times the natural rate of extinction—by adopting a new 10-year Strategic Plan (2010-2020) and Aichi Biodiversity Targets to guide international and national efforts to safeguard biodiversity.</p>

			    <p>COP 10 urged Parties and other Governments to: achieve long-term conservation, management and sustainable use of marine resources and coastal habitats; establish and effectively manage marine protected areas, in order to safeguard marine and coastal biodiversity, marine ecosystem services, and sustainable livelihoods; and to adapt to climate change, through appropriate application of the precautionary approach and the use of integrated marine and coastal area management, marine spatial planning, impact assessment, and other available tools.</p>
		    </div>

		    <div class="push15"></div><div class="col-md-12 divider">&nbsp;</div><div class="push20"></div>

		    <div class="textbox">
			    <p>COP 10 emphasized the need for training and capacity-building of developing country Parties through workshops that contribute to sharing experiences and knowledge related to the conservation and sustainable use of marine and coastal biodiversity. </p>

			    <p>Recognizing this urgent need, the Sustainable Ocean Initiative (SOI) was born at the margins of COP 10, through the leadership of Japan, COP 10 Presidency, and in collaboration with various partners who were willing to provide the necessary expertise, technical and financial resources. The SOI concept was further developed in subsequent meetings, such as the SOI Programme Development Meeting (2-4 August 2011, Kanazawa, Japan) and SOI High-level Meeting (5 June 2012, Yeosu, RO Korea).</p>
		    </div>
	    </div>

	    <div class="col-xs-6 col-lg-6">
		   <img src="app/images/history-fish.jpg" alt="Blue fishes">
		   <div class="push15"></div>
		   <div class="col-xs-6 col-lg-6 nopaddingleft imgsize blue-box"></div>
		   <div class="col-xs-6 col-lg-6 nopaddingright">
		   	 <img src="app/images/orange-fish-266.jpg" alt="orange fish with red plant">
		   </div>
	    </div>
	</div>
</div>
