<div>
    <div class="sub-nav hidden-xs">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='undb'" ng-mouseleave="highlightLink=''"><a href="about/undb">UNDB</a> <i ng-if="highlightLink=='undb' || path=='/about/undb'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='goals'" ng-mouseleave="highlightLink=''"><a href="about/goals" >Goals</a> <i ng-if="highlightLink=='goals' ||  path=='/about/goals'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='biodiversity'" ng-mouseleave="highlightLink=''"><a href="about/biodiversity" >Biodiversity</a> <i ng-if="highlightLink=='biodiversity' ||  path=='/about/biodiversity'" style="position:relative;top:-4px;left:28px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='IYB2010'" ng-mouseleave="highlightLink=''"><a href="about/iyb2010" >IYB2010</a> <i ng-if="highlightLink=='IYB2010' ||  path=='/about/iyb2010'" style="position:relative;top:-4px;left:20px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='SDGs'" ng-mouseleave="highlightLink=''"><a href="about/sdgs" >SDGs</a> <i ng-if="highlightLink=='SDGs' ||  path=='/about/SDGs'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>Taking Action for Biodiversity</h1>
                <p>
                    In October 2010, at the tenth meeting of the Conference of the Parties to the <a href="#">Convention on Biological Diversity (COP 10)</a>, in Nagoya, Japan, governments agreed to the <a href="#">Strategic Plan for Biodiversity 2011-2020</a>                    and its <a href="#">Aichi Biodiversity Targets</a> as the basis for halting and eventually reversing biodiversity loss worldwide.
                </p>
                <p>
                    The Aichi Biodiversity Targets provide an innovative and visionary approach that integrates biodiversity with social and economic drivers.
                </p>
                <p>
                    To build support and create momentum for this urgent task, the United Nations General Assembly at its 65th session declared the period 2011-2020 to be the “United Nations Decade on Biodiversity, with a view to contributing to the implementation of the
                    Strategic Plan for Biodiversity for the period 2011-2020” (<a href="#">Resolution 65/161</a>).
                </p>
                <p>
                    The goal of the United Nations Decade on Biodiversity is to support the implementation of the Strategic Plan for Biodiversity and to promote its overall vision of living in harmony with nature.
                </p>
                <p>
                    All partners have different roles to play in the biodiversity conservation process. The Convention on Biological Diversity requires governments to develop national biodiversity strategies and action plans, and to integrate these into broader national
                    plans for environment and development. Governments need to take on a critical leadership role, by setting rules that guide the use of natural resources by others and also by protecting biodiversity where they have direct control over
                    the land and water. Agricultural producers need to minimize the impact of agriculture on the wider environment and manage biodiversity in such a manner that biological resources are sustained. Businesses need to be involved in environmental
                    protection and the sustainable use of biodiversity in their activities. Finally, the ultimate decision-maker for biodiversity is the individual citizen; by choosing to consume sustainably, and to engage in practices that promote biodiversity
                    conservation, as well as become actively involved in the formulation of policy, the general public can begin to steer the world towards sustainable development.
                </p>
                <p>
                    Since the start of the Decade, encouraging actions have been taken around the world to tackle biodiversity loss. However, based on <a href="#">current trends</a>, it is clear that pressures on biodiversity will continue to increase
                    at least until 2020, and that the status of biodiversity will continue to decline (<a href="#">GBO4</a>).]
                </p>
                <p>
                    At the twelfth meeting of the Conference of the Parties to the Convention on Biological Diversity (<a href="#">COP 12</a>) in October 2014, this sense of urgency and a renewed enthusiasm helped lead to the adoption of decisions to
                    further help implementation of the Aichi Biodiversity Targets. It also helped reignite the <a href="#">Biodiversity Champions initiative</a>. Likewise, members of the <a href="#">Aichi Biodiversity Targets Task Force (ABTTF)</a> strengthened
                    its commitment towards action for living in harmony with nature.
                </p>
                <p>
                    Now, at the halfway mark of the Decade, it is necessary to broaden political and general support for the Strategic Plan for Biodiversity 2011-2020 and the objectives of the Convention. We all need to work to ensure that all levels of government and stakeholders
                    across society are aware of the multiple values of biodiversity and related ecosystem services and that they take the actions needed to ensure the conservation and sustainable use of biodiversity.
                </p>
                <p>
                    The actions taken by individuals, businesses and governments – our collective actions – are critical for protecting all life on Earth. By being proactive about biodiversity we ensure human well-being. It is in our own interest, in the interest of our
                    children, and in the interest of future generations to come, that we take action in support of biodiversity.
                </p>
                <p>
                    Now, more than ever, it is time for all vof us to start living in harmony with nature.
                </p>
            </div>
        </div>
        <div class="row article">        
            <div class="col-sm-2 col-sm-offset-10">
                <button type="button" class="btn bg-cbdgreen" aria-haspopup="true" aria-expanded="false">
                      <a href="/about/goals" class="button-green-link">Goals <i class="fa fa-chevron-right"></i></a>
                </button>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-8 col-sm-6 col-md-4 col-md-offset-1">
                <div class="box-rounded-sm-green border-bottom-cbd-green">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Strategic Plan for Biodiversity 2011-2020</h5>
                            <p><a href="#">En</a> <a href="#">Es</a> <a href="#">Fr</a>
                            </p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/strategic-plan.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4 col-md-offset-1">
                <div class="box-rounded-sm-green border-bottom-cbd-green">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Stretegy</h5>
                            <p>for the United Nations Decade on Biodiversity</p>
                            <p><a href="#">En</a> <a href="#">Es</a> <a href="#">Fr</a></p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/pdf-file.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
