<div>
    <div class="sub-nav">
        <div class="container">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='undb'" ng-mouseleave="highlightLink=''"><a href="about/undb">UNDB</a> <i ng-if="highlightLink=='undb' || path=='/about/undb'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='goals'" ng-mouseleave="highlightLink=''"><a href="about/goals" >Goals</a> <i ng-if="highlightLink=='goals' ||  path=='/about/goals'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='biodiversity'" ng-mouseleave="highlightLink=''"><a href="about/biodiversity" >Biodiversity</a> <i ng-if="highlightLink=='biodiversity' ||  path=='/about/biodiversity'" style="position:relative;top:-4px;left:28px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='IYB2010'" ng-mouseleave="highlightLink=''"><a href="about/iyb2010" >IYB2010</a> <i ng-if="highlightLink=='IYB2010' ||  path=='/about/iyb2010'" style="position:relative;top:-4px;left:20px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='SDGs'" ng-mouseleave="highlightLink=''"><a href="about/sdgs" >SDGs</a> <i ng-if="highlightLink=='SDGs' ||  path=='/about/SDGs'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>2010 - International Year of Biodiversity (IYB)</h1>
                <h3>Do you need inspiration to organise events during the United Nations Decade on Biodiversity? See what people did in 2010 </h3>
                <p>The United Nations had declared 2010 to be the International Year of Biodiversity (Resolution 61/203). The campaign raised awareness about the value and importance of the diversity of life on our planet, and it instilled a sense of wonder, of discovery, and ultimately of individual and collective action for a more sustainable relationship between human communities and the ecosystems of the world.
                </p>
            </div> 
        </div>
        <div class="row article">
            <div class="col-xs-8 col-sm-6 col-md-4">
                <a href="#" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green box-bg-people-green col-middle">
                        <h5>IYB celebrations in your country</h5>
                        <p>See what people did in 2010 <i class="fa fa-chevron-right"></i></p>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4">
                <a href="#" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green col-middle">
                    <img src="app/images/iyb2010-logo.png" width="70%" alt="" class="image-center" >
                    <p class="indent-right">Offical website <i class="fa fa-chevron-right"></i></p>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4">
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8">
                                <h5>IYB highlights</h5>
                                <p>Download the report</p>
                                <p><a href="#">En</a></p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/hightlights-of-the-iyb.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4">
                <a href="#" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8">
                                <h5>United Nations celebrations</h5>
                                <p>during the IYB  <i class="fa fa-chevron-right"></i>
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/un-logo-black.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4">
                <a href="#" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8">
                                <h5>IYB videos</h5>
                                <p>including the official IYB video <i class="fa fa-chevron-right"></i></p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/green-arrow.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-4">
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8">
                                <h5>IYB Closing event in Japan</h5>
                                <p>Download the report</p>
                                <p><a href="#">En</a></p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/report-of-the-closing-event.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>