<div>
    <div class="hidden-xs">
        <div class="container sub-nav">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='undb'" ng-mouseleave="highlightLink=''"><a href="about/undb">UNDB</a> <i ng-if="highlightLink=='undb' || path=='/about/undb'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='goals'" ng-mouseleave="highlightLink=''"><a href="about/goals" >Goals</a> <i ng-if="highlightLink=='goals' ||  path=='/about/goals'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='biodiversity'" ng-mouseleave="highlightLink=''"><a href="about/biodiversity" >Biodiversity</a> <i ng-if="highlightLink=='biodiversity' ||  path=='/about/biodiversity'" style="position:relative;top:-4px;left:28px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='IYB2010'" ng-mouseleave="highlightLink=''"><a href="about/iyb2010" >IYB2010</a> <i ng-if="highlightLink=='IYB2010' ||  path=='/about/iyb2010'" style="position:relative;top:-4px;left:20px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='SDGs'" ng-mouseleave="highlightLink=''"><a href="about/sdgs" >SDGs</a> <i ng-if="highlightLink=='SDGs' ||  path=='/about/SDGs'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>

            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row article">
            <div class="col-xs-12">
                <h1>2010 - International Year of Biodiversity (IYB)</h1>
                <h3>Do you need <a href="https://www.youtube.com/watch?v=rrz8nxzo_nw">inspiration</a> to organise activities during the United Nations Decade on Biodiversity? <a href="https://www.cbd.int/2010/countries/">See what people did in 2010 &gt;</a><h3>
                <p>The United Nations had declared 2010 to be the International Year of Biodiversity (<a href="http://www.un.org/Docs/journal/asp/ws.asp?m=A/RES/61/203">Resolution 61/203</a>). The campaign raised awareness about the value and importance of the diversity of life on our planet, and it instilled a sense of wonder, of discovery, and ultimately of individual and collective action for a more sustainable relationship between human communities and the ecosystems of the world.</p>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="https://www.cbd.int/2010/countries/" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green box-bg-people-green col-middle">
                        <h5>IYB celebrations in your country</h5>
                        <p>See what people did in 2010 </p>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <a href="https://www.cbd.int/2010/welcome/" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green col-middle">
                    <img src="app/images/iyb2010-logo.png" width="70%" alt="" class="image-center" >
                    <p class="indent-right">Offical website</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8">
                                <h5>IYB highlights</h5>
                                <p>Download the report</p>
                                <p><a href="https://www.cbd.int/undb/iyb/iyb-highlights.pdf">En</a></p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/hightlights-of-the-iyb.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <a href="https://www.cbd.int/2010/countries/int/" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8">
                                <h5>United Nations celebrations</h5>
                                <p>during the IYB
                                </p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/un-logo-black.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="https://www.cbd.int/2010/multimedia/" >
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8">
                                <h5>IYB videos</h5>
                                <p>including the official IYB video </p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/icons/green-arrow.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                        <div class="row">
                            <div class="col-xs-8">
                                <h5>IYB Closing event in Japan</h5>
                                <p>Download the report</p>
                                <p><a href="https://www.cbd.int/undb/iyb/iyb-closing-event-japan.pdf">En</a></p>
                            </div>
                            <div class="col-xs-4">
                                <img class="image-icon" src="app/images/report-of-the-closing-event.png" width="100%" alt="">
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
