<div>
    <div class="hidden-xs">
        <div class="container sub-nav">
            <ul class="nav navbar-nav">
                <li ng-mouseover="highlightLink='undb'" ng-mouseleave="highlightLink=''"><a href="about/undb">UNDB</a> <i ng-if="highlightLink=='undb' || path=='/about/undb'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='goals'" ng-mouseleave="highlightLink=''"><a href="about/goals">Goals</a> <i ng-if="highlightLink=='goals' ||  path=='/about/goals'" style="position:relative;top:-4px;left:15px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='biodiversity'" ng-mouseleave="highlightLink=''"><a href="about/biodiversity">Biodiversity</a> <i ng-if="highlightLink=='biodiversity' ||  path=='/about/biodiversity'" style="position:relative;top:-4px;left:28px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='IYB2010'" ng-mouseleave="highlightLink=''"><a href="about/iyb2010">IYB2010</a> <i ng-if="highlightLink=='IYB2010' ||  path=='/about/iyb2010'" style="position:relative;top:-4px;left:20px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='SDGs'" ng-mouseleave="highlightLink=''"><a href="about/sdgs">SDGs</a> <i ng-if="highlightLink=='SDGs' ||  path=='/about/sdgs'" style="position:relative;top:-4px;left:10px;" class="color-white fa-lg fa fa-caret-up"></i> </li>
                <li ng-mouseover="highlightLink='participate'" ng-mouseleave="highlightLink=''"><a href="actions/participate">Participate</a> <i ng-if="highlightLink=='participate' ||  path=='/actions/participate'" style="position:relative;top:-4px;left:25px;" class="color-white fa-lg fa fa-caret-up"></i> </li>

            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 article">
                <h1>Sustainable Development Goals</h1>

                <p><span>The agreement to establish Sustainable Development Goals (SDGs) was one of the main outcomes of the United Nations Conference on Sustainable Development held in Rio de Janeiro in June 2012 (Rio+20). The SDGs are to provide a transformative, integrated and universal approach that </span><span class="s2">strives for a world that is just, equitable and inclusive, and promotes sustained and inclusive economic growth, social development, and environmental protection.</span><span> They will build on the Millennium Development Goals (MDGs), which were to be achieved by 2015.</span></p>


                <p><span>The Conference of the Parties to the Convention on Biological Diversity, noting the intergovernmental process on sustainable development goals established in the outcome document of the Rio+20 Conference in the context of the United Nations development agenda beyond 2015, and stressing the importance of integrating biodiversity into these processes, noting the relevance of the Strategic Plan for Biodiversity 2011-2020 and its Aichi Biodiversity Targets, invited all Parties and stakeholders to integrate the three objectives of the Convention on Biological Diversity into sustainable development and poverty eradication programmes, plans, policies and priority actions, taking into account the outcomes of the Rio+20 Conference.</span></p>

            </div>
        </div>

        <div class="row article">
            <div class="col-sm-2 col-sm-offset-10">
                <button type="button" class="btn bg-cbdgreen" aria-haspopup="true" aria-expanded="false">
                      <a href="http://www.cbd.int/idb/2015/goals/" class="button-green-link">See all 17 goals <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <a href="https://sustainabledevelopment.un.org/sdgs">
                    <div class="box-rounded-sm-green border-bottom-cbd-green">
                    <img src="app/img/sdgs.png"  width="138px" height="128px"  alt="" class="image-center" style="margin-left:75px;margin-top:13px;">
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
                <a href="https://www.cbd.int/idb/2015">
                    <div class="box-rounded-sm-green border-bottom-cbd-green"><br />
                    <img src="app/images/idb-2015-logo-en.png" width="80%" alt="" class="image-center">
                    </div>
                </a>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-0 col-lg-4">
                <div class="box-rounded-sm-green border-bottom-cbd-green  col-middle">
                    <div class="row">
                        <div class="col-xs-8">
                            <h5>Biodiversity Issues Brief</h5>
                            <p>Download the document</p>
                            <p><a href="https://chm.cbd.int/api/v2013/documents/F62ABE50-0411-F850-60C0-9F6A1380F17E/attachments/2401TST%20Issues%20Brief%20Biodiversity_ar.pdf">العربية</a> <a href="https://chm.cbd.int/api/v2013/documents/F62ABE50-0411-F850-60C0-9F6A1380F17E/attachments/2401TST%20Issues%20Brief%20Biodiversity_en.pdf">En</a> <a href="https://chm.cbd.int/api/v2013/documents/F62ABE50-0411-F850-60C0-9F6A1380F17E/attachments/2401TST%20Issues%20Brief%20Biodiversity_es.pdf">Es</a> <a href="https://chm.cbd.int/api/v2013/documents/F62ABE50-0411-F850-60C0-9F6A1380F17E/attachments/2401TST%20Issues%20Brief%20Biodiversity_fr.pdf">Fr</a> <a href="https://chm.cbd.int/api/v2013/documents/F62ABE50-0411-F850-60C0-9F6A1380F17E/attachments/2401TST%20Issues%20Brief%20Biodiversity_ru.pdf">Ру</a> <a href="https://chm.cbd.int/api/v2013/documents/F62ABE50-0411-F850-60C0-9F6A1380F17E/attachments/2401TST%20Issues%20Brief%20Biodiversity_zh.pdf">中文</a> </p>
                        </div>
                        <div class="col-xs-4">
                            <img class="image-icon" src="app/images/pdf-file.png" width="100%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row article">
            <div class="col-xs-12">
                <h4>Why is biodiversity important for sustainable development?</h4>
                <p>
                  <p><span>Biodiversity is important for sustainable development in many ways. Biodiversity is the critical foundation of the Earth&rsquo;s life support system on which the welfare of current and future generations depends. Humans depend on ecosystems services for many basic needs. The foundations of many cultures, rural areas and cities also depend on the services provided by ecosystems. The impact of environmental degradation is most severe among the rural population living in poverty, since they have few livelihood options. Therefore, access to and sustainable use of biodiversity by the poor are of direct relevance to efforts aimed at poverty reduction and sustainable development.&nbsp;</span></p>
                </p>
            </div>
        </div>
        <div class="row article">
            <div class="col-xs-12">
                <h4>Why is sustainable development important for biodiversity?</h4>
                <p><span>The SDGs represent an important development that will contribute to the achievement of the Convention and the Strategic Plan. Implementation of the new SDGs is expected to promote transformational change in economies and societies. It will lead to improved governance and institutions at multiple scales that better integrate consideration of biodiversity in government policies.&nbsp;</span></p>

                <p><span>Economic growth contributes to poverty eradication, but must be pursued in a socially equitable way and environmentally sustainable manner, with a reduced impact on biodiversity and ecosystems, if it is to address the multiple dimensions of human well-being in a sustainable manner, taking into account the needs of future generations. Growth will be essential in developing countries to eradicate poverty, and must therefore be decoupled from resource consumption and from negative impacts on biodiversity. Carbon neutral (or even carbon-negative) growth will be an important part of this transformation. It will almost certainly be necessary to look beyond growth-based prosperity, especially in high-income countries.&nbsp;</span></p>

            </div>
        </div>
        <div class="row article">
            <div class="col-xs-12">
                <h4>Rio+20</h4>
                <p><span>The United Nations Conference on Sustainable Development, or Rio+20, held in in Rio de Janeiro, Brazil on 20-22 June 2012, resulted in a focused <a href="https://sustainabledevelopment.un.org/index.php?menu=1298"><span class="s2">political outcome document</span></a> which contains clear and practical measures for implementing sustainable development.&nbsp;</span></p>

                <p><span>The Rio+20 outcome included the following as the overarching objectives and essential requirements for sustainable development:&nbsp;</span></p>



                <ul class="basic-list">
                	<li><span>poverty eradication</span></li>
                	<li><span>changing unsustainable and promoting sustainable patterns of consumption and production&nbsp;</span></li>
                	<li><span>protecting and managing the natural resource base of economic and social development&nbsp;</span></li>
                	<li><span>promoting sustained, inclusive and equitable economic growth, social development and environment protection</span></li>
                	<li><span>strengthening international cooperation.&nbsp;</span></li>
                </ul>



                <p><span>Poverty eradication, changing unsustainable and promoting sustainable patterns of consumption and production and protecting and managing the natural resource base of economic and social development are the overarching objectives of and essential requirements for sustainable development. Poverty eradication is the greatest global challenge facing the world today and an indispensable requirement for sustainable development. The Rio+20 outcome document, as a matter of urgency, reiterated the commitment to freeing humanity from poverty and hunger.</span></p>

                <p><span>People are at the centre of sustainable development. In this regard, Rio+20 promised to strive for a world that is just, equitable and inclusive, and committed to working together to promote sustained and inclusive economic growth, social development and environmental protection and thereby to benefit all. Poverty eradication can only be achieved if a number of structural factors such as livelihood, food security, health, education, employment, equality, inclusive growth, access to basic services and empowerment of individuals, can be addressed jointly in a sustainable manner, including the sustainable use of biodiversity and ecosystems.&nbsp;</span></p>

                <p>&nbsp;</p>

                <p><span><b>Biodiversity and the SDGs</b></span></p>

                <p><span>In order to achieve a just balance among the economic, social and environmental needs of present and future generations, it is necessary to promote harmony with nature. The Sustainable Development Goals acknowledge the natural and cultural diversity of the world, and confirm that all cultures and civilizations can contribute to sustainable development.</span></p>

                <p><span>The Sustainable Development Goals are accompanied by targets and will be further elaborated through indicators focused on measurable outcomes. Action-oriented, global in nature and universally applicable, the goals take into account different national realities, capacities and levels of development and respect national policies and priorities. They build on the foundation laid by the MDGs, seek to complete the unmet targets of the MDGs and respond to new challenges. The goals and targets integrate economic, social and environmental aspects and recognize their interlinkages in achieving sustainable development in all its dimensions.</span></p>

                <p><span><b>Biodiversity relates to all 17 Sustainable Development Goals but there are two proposed goals that explicitly refer to it; goals 14 and 15.</b></span></p>

                <p><span><b>Goal 14: Conserve and sustainably use the oceans, seas and marine resources for sustainable development</b></span></p>

                <p class="p3"><span class="s2">Goal 14 focuses on coastal and ocean ecosystems and biodiversity.&nbsp;</span></p>

                <ul class="basic-list">
                	<li><span>14.1 by 2025, prevent and significantly reduce marine pollution of all kinds, particularly from land-based activities, including marine debris and nutrient pollution</span></li>
                	<li><span>14.2 by 2020, sustainably manage and protect marine and coastal ecosystems to avoid significant adverse impacts, including by strengthening their resilience, and take action for their restoration, to achieve healthy and productive oceans</span></li>
                	<li><span>14.4 by 2020, effectively regulate harvesting, and end overfishing, illegal, unreported and unregulated (IUU) fishing and destructive fishing practices and implement science-based management plans, to restore fish stocks in the shortest time feasible</span></li>
                	<li><span>14.a: increase scientific knowledge, develop research capacities and transfer marine technology in order to improve ocean health and to enhance the contribution of marine biodiversity to the development of developing countries, in particular SIDS and LDCs</span></li>
                </ul>

                <p><span><b>Goal 15: Protect, restore and promote sustainable use of terrestrial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degradation and halt biodiversity loss</b></span></p>

                <p><span>Goal 15 includes targets related to specific ecosystems and challenges. It also includes language related to cross-cutting policies. In particular, target 15.9 states: </span></p>

                <p class="p4"><span>15.9: by 2020, integrate ecosystems and biodiversity values into national and local planning, development processes and poverty reduction strategies, and accounts&nbsp;</span></p>

                <p><span><b>Other targets associated with biodiversity</b></span></p>

                <ul class="basic-list">
                	<li><span>2.4: by 2030 ensure sustainable food production systems and implement resilient agricultural practices that increase productivity and production, that help maintain ecosystems, that strengthen capacity for adaptation to climate change, extreme weather, drought, flooding and other disasters, and that progressively improve land and soil quality</span></li>
                	<li><span>2.5: by 2020 maintain genetic diversity of seeds, cultivated plants, farmed and domesticated animals and their related wild species, including through soundly managed and diversified seed and plant banks at national, regional and international levels, and ensure access to and fair and equitable sharing of benefits arising from the utilization of genetic resources and associated traditional knowledge as internationally agreed&nbsp;</span></li>
                	<li><span>6.6: by 2020 protect and restore water-related ecosystems, including mountains, forests, wetlands, rivers, aquifers and lakes</span></li>
                	<li><span>8.4: improve progressively through 2030 global resource efficiency in consumption and production, and endeavour to decouple economic growth from environmental degradation in accordance with the 10-year framework of programmes on sustainable consumption and production with developed countries taking the lead</span></li>
                	<li><span>11.7 by 2030, provide universal access to safe, inclusive and accessible, green and public spaces, particularly for women and children, older persons and persons with disabilities</span></li>
                	<li><span>12.8: by 2030 ensure that people everywhere have the relevant information and awareness for sustainable development and lifestyles in harmony with nature</span></li>
                </ul>

            </div>
        </div>
    </div>
</div>
