<div class="container">

	<div class="row-fluid">
	    <div class="col-xs-6 col-lg-6">
		    <h2 class="blue-light">Strategic plan for Biodiversity 2011 - 2020 and the Aichi Biodiversity Targets</h2>
		    <div class="push15"></div>
		    <div class="textbox">
			    <p>In light of new and expanded challenges that face global biodiversity and an enhanced understanding of the value of biodiversity to global sustainable development, the Conference of the Parties to the Convention on Biological Diversity adopted a Strategic Plan for Biodiversity 2011-2020 and a set of Aichi Biodiversity Targets.</p>

			    <p>Information on the Strategic Plan for Biodiversity 2011-2020 and the Aichi Biodiversity Targets available at: https://www.cbd.int/sp.</p>

				<p>This Strategic Plan provides an overarching framework on biodiversity, not only for the Convention on Biological Diversity, but for the entire United Nations system.</p>

				<p>The vision of the Strategic Plan is:
"Living in Harmony with Nature" where "By 2050, biodiversity is valued, conserved, restored and wisely used, maintaining ecosystem services, sustaining a healthy planet and delivering benefits essential for all people."</p>

		    </div>

		    <div class="push15"></div><div class="col-md-12 divider">&nbsp;</div><div class="push20"></div>

		    <div class="textbox">
			    <!-- <h4>Proin ipsum nibh</h4> -->
			    <p>The Strategic Plan is organized under 5 Strategic Goals and 20 Aichi Biodiversity Targets, as follows:</p>

			    <ul class="text">
			    	<li><span class="important">Strategic Goal A:</span> Address the underlying causes of biodiversity loss by mainstreaming biodiversity across government and society</li>
			    	<li><span class="important">Strategic Goal B:</span> Reduce the direct pressures on biodiversity and promote sustainable use</li>
			    	<li><span class="important">Strategic Goal C:</span> To improve the status of biodiversity by safeguarding ecosystems, species and genetic diversity</li>
			    	<li><span class="important">Strategic Goal D:</span> Enhance the benefits to all from biodiversity and ecosystem services</li>
			    	<li><span class="important">Strategic Goal E:</span> Enhance implementation through participatory planning, knowledge management and capacity building</li>
			    </ul>
		    </div>

		    <div class="push15"></div><div class="col-md-12 divider">&nbsp;</div><div class="push20"></div>

		    <div class="textbox">
			    <!-- <h4>Proin ipsum nibh</h4> -->
			    <p>There a number of Aichi Biodiversity Targets that address marine and coastal biodiversity, including Aichi Biodiversity Targets 6, 10, and 11.</p>

			    <ul class="text">
			    	<li><span class="important">Target 6:</span> By 2020 all fish and invertebrate stocks and aquatic plants are managed and harvested sustainably, legally and applying ecosystem based approaches, so that overfishing is avoided, recovery plans and measures are in place for all depleted species, fisheries have no significant adverse impacts on threatened species and vulnerable ecosystems and the impacts of fisheries on stocks, species and ecosystems are within safe ecological limits.</li>
			    	<li><span class="important">Target 10:</span> By 2015, the multiple anthropogenic pressures on coral reefs, and other vulnerable ecosystems impacted by climate change or ocean acidification are minimized, so as to maintain their integrity and functioning.</li>
			    	<li><span class="important">Target 11:</span> By 2020, at least 17 per cent of terrestrial and inland water areas, and 10 per cent of coastal and marine areas, especially areas of particular importance for biodiversity and ecosystem services, are conserved through effectively and equitably managed, ecologically representative and well connected systems of protected areas and other effective area-based conservation measures, and integrated into the wider landscapes and seascapes.</li>
			    </ul>
		    </div>

		    <div class="push15"></div><div class="col-md-12 divider">&nbsp;</div><div class="push20"></div>

		    <div class="textbox">
			    <p>In adopting the Strategic Plan for Biodiversity and the Aichi Biodiversity Targets, the Parties to the CBD laid out an ambitious agenda to reverse the trends of biodiversity loss.</p>

			    <p>However, this agenda is not self-implementing and will require strategic, coordinated, and targeted efforts by a range of stakeholders across all sectors and at different levels in order to make tangible process.</p>

			    <p>As well, a number of key challenges face the achievement of the Aichi Targets in marine and coastal areas, including:</p>
			    <ul class="text">
			    	<li><span class="important">Capacity gaps</span>—Lack of institutional, technical, managerial, and scientific resources;
poor understanding of capacity needs at various levels in the context of cross-sectoral management; lack of cross-sectoral training for managers at the ground-level;</li>
			    	<li><span class="important">Poor coordination</span>—Sectoral conflicts; lack of coordination across governmental agencies and levels of governments; limited participation of indigenous and local communities;</li>
			    	<li><span class="important">Poor information base</span>—Lack of policy relevant information to support decision-making; inadequate coordination of existing knowledge.</li>
			    </ul>

			    <p>The Sustainable Ocean Initiative aims to address these challenges and support countries in achieving the Aichi Biodiversity Targets and the goals of the Strategic Plan for Biodiversity.</p>
		    </div>
	    </div>

	    <div class="col-xs-6 col-lg-6">
		   <img src="app/images/strategic-plan.jpg" alt="plants and oceans">
		   <div class="clear push15"></div>
		   <div class="col-xs-6 col-lg-6 nopaddingleft imgsize green-light-box"></div>
		   <div class="col-xs-6 col-lg-6 nopaddingright">
		   	 <img src="app/images/island-266.jpg" alt="tropical island">
		   </div>
		   <div class="clear push15"></div>
		   <div class="col-xs-8 col-lg-8 nopaddingleft">
		   	 	<img src="app/images/boat-355.jpg" alt="boat on sea">
		   </div>
		   <div class="col-xs-4 col-lg-4 nopaddingright imgsize dark-green-box"></div>
		   <div class="clear push15"></div>
		   <div class="col-xs-12 col-lg-12 nopaddingright imgsize hexa-pattern"></div>
	    </div>
	</div>
</div>
