<div>
    <div class="container color-white bg-darkgreen">
        <div class="row" style="padding:10px 8px;">

            <div id="welcome" class="col-md-4 col-lg-3 bg-undb-blue col-middle " >
                <div style="width: 60%">

                    <h1 class="color-white  hidden-xs hidden-sm" style="padding-bottom:0.8em;">Welcome</h1>
                    <h2 class="color-white  visible-xs visible-sm" style="padding-bottom:.5em;">Welcome</h2>
                    <p style="line-height:2em;color:white;">
                        Living in Harmony with Nature - the United Nations Decade on Biodiversity contributes to the implementation of the Strategic Plan for Biodiversity 2011-2020.
                    </p>
                </div>
            </div>

            <div class="col-md-8 col-lg-9 col-middle" style="padding:0;">

                <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                    <!-- <ol class="carousel-indicators" style="top:20px;bottom:initial">
                        <li data-target="#carousel-generic" ng-repeat="item in carouselData.items" data-slide-to="{{$index}}" ng-class="{active: $index==0}"></li>
                    </ol> -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item" ng-repeat="item in carouselData.items" ng-class="{active: $index==0}">
                            <img ng-src="{{item.imageUrl}}" alt="{{item.title}}" width="100%" height="100%">

                            <div class="carousel-text">
                                <center>
                                    <h2 class="color-white">{{item.title}}</h2>
                                    <p class="color-white text-justify" style="margin-top:6px;line-height:1.8em;">{{item.description}}   <span><a class="color-white"  href="{{item.targetUrl}}">Read More ></a></span></div>
                                </center>
                            </div>

                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding: 15px 0px;">
    <div class="row">
        <!-- <div class="col-sm-3 col-sm-offset-9">
            <a href="actions/submit?auto" type="button" class="btn bg-cbdgreen" aria-haspopup="true" aria-expanded="false">
                  Register your actions <i class="fa fa-chevron-right"></i>
            </a>
        </div> -->
    </div>
</div>

<div class="container bg-cbdgreen">
    <div class="row">
      <undb-map schema="actions"></undb-map>
    </div>
</div>


<div class="bg-white">
    <div class="container">
        <div class="clear push30">&nbsp;</div>

        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1" style="padding-bottom:2.0em;">
                        <h1 style="display:inline;" class="color-undb-blue">UNDB Actors</h1>
                    </div>
                </div>

                <div class="row">

                  <div class="col-xs-5 col-xs-offset-1 box-rounded-sm border-bottom-blue box-bg-people-blue  col-middle">
                      <a href="actions/country">
                          <h5>Parties to the CBD and other Governments</h5>
                          <p>Implementing the Stategic Plan for Biodiversity 2011-2020</p>
                      </a>
                  </div>

                    <div class="col-xs-5 col-xs-offset-1 box-rounded-sm border-bottom-blue box-bg-flamingo-blue col-middle">
                        <a href="actors/abttf">
                            <h5>Aichi Biodiversity Targets Task Force</h5>
                            <p>Supporting the implementation of the Strategic Plan for Biodiversity</p>
                        </a>
                    </div>


                </div>
                <div style="padding-bottom:2em;"></div>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1 box-rounded-sm border-bottom-blue box-bg-bee-blue col-middle" >
                        <a href="actions/ccc">
                            <h5>Biodiversity Liaison Group </h5>
                            <p>Contributing to the implementation of the Strategic Plan for Biodiversity</p>
                        </a>
                    </div>

                    <div class="col-xs-5 col-xs-offset-1 box-rounded-sm border-bottom-blue box-bg-fish-water-blue col-middle">
                        <a href="actors/partners">
                            <h5>UNDB Partners</h5>
                            <p>Make a commitment to help promote biodiversity</p>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 hidden-xs">
                <div class="push60">
                    <div class="pull-right" style="padding-bottom:1.5em;">
                        <!-- <button type="button" class="btn btn-primary">Become a Partner <i class="fa fa-chevron-right"></i></button> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-10 box-rounded-sm  border-bottom-blue box-bg-tree-blue2 col-middle pull-right">
                      <a href="https://www.cbd.int/rio/">
                          <h5>Rio Conventions</h5>
                          <p>Enhancing coordination between <br>CBD, UNCCD and UNFCCC</p>
                      </a>

                    </div>

                </div>

                <div style="padding-bottom:2em;"></div>
                <div class="row">
                    <div class="col-xs-6 col-sm-10 box-rounded-sm bg-blue  box-bg-bear-blue2 border-bottom-lightblue pcol-middle pull-right">
                        <div class="" style="background-position: bottom -3px right 0px;">
                            <h5 style="color: #fff;font-size:1.2em;padding-bottom:2.0em;">Strategic Plan for <br> Biodiversity 2011-2010</h5>
                            <p class="color-white">
                              <a class="color-white" href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-EN.pdf">en</a>
                              <a class="color-white" href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-ES.pdf">es</a>
                              <a class="color-white" href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-FR.pdf">fr</a>
                              </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row visible-xs" style="padding-top:1.5em;">
            <div class="col-xs-12 col-xs-offset-1">
                <div class="push60">
                    <div class="" style="padding-bottom:1.5em;">
                        <!-- <button type="button" class="btn btn-primary">Become a Partner <i class="fa fa-chevron-right"></i></button> -->
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-5 col-xs-offset-1 box-rounded-sm bg-blue2 border-bottom-lightblue box-bg-bear-blue2 col-middle">
                      <h5>Strategy for the United Nations Decade on Biodiversity</h5>
                      <p class="color-white">
                        <a class="color-white" href="https://www.cbd.int/undb/home/undb-strategy-en.pdf">en</a>
                        <a class="color-white" href="https://www.cbd.int/undb/home/undb-strategy-es.pdf">es</a>
                        <a class="color-white" href="https://www.cbd.int/undb/home/undb-strategy-fr.pdf ">fr</a>
                        <a class="color-white" href="https://www.cbd.int/undb/home/undb-strategy-ar.pdf">ar</a>
                        <a class="color-white" href="https://www.cbd.int/undb/home/undb-strategy-ru.pdf">ru</a>
                        <a class="color-white" href="https://www.cbd.int/undb/home/undb-strategy-zh.pdf">zh</a></p>
                  </div>
                    <div class="col-xs-5  box-rounded-sm bg-blue box-bg-tree-blue2 border-bottom-lightblue pcol-middle">
                        <div class="" style="background-position: bottom -3px right 0px;">
                            <h5>Strategic Plan for Biodiversity 2011-2010</h5>
                            <p class="color-white">
                              <a class="color-white" href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-EN.pdf">en</a>
                              <a class="color-white" href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-ES.pdf">es</a>
                              <a class="color-white" href="https://www.cbd.int/doc/strategic-plan/2011-2020/Aichi-Targets-FR.pdf">fr</a>
                              </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

</div>


