<div class="bg-darkgreen">
    <div class="container color-white ">
        <div class="row" style="padding:10px 0px;">

            <div id="welcome" class="col-sm-4 col-lg-3 bg-blue col-middle" style="background-clip: padding-box; border-right:5px solid transparent;">
                <div>
                    <h2 class="center color-white  hidden-xs hidden-sm" style="padding-bottom:2em;">Welcome</h2>
                    <h1 class="center color-white  visible-xs visible-sm" style="padding-bottom:1.5em;">Welcome</h4>
                    <p style="line-height:2em;color:white">
                        Living in Harmony with Nature - the United Nations Decade on Biodiversity contributes to the implementation of the Strategic Plan for Biodiversity 2011-2020.
                    </p>
                </div>
            </div>

            <div class="col-sm-8 col-lg-9 col-middle" style="padding:0;">

                <div id="carousel-generic" class="carousel slide" data-ride="carousel">
                    <!-- <ol class="carousel-indicators" style="top:20px;bottom:initial">
                        <li data-target="#carousel-generic" ng-repeat="item in carouselData.items" data-slide-to="{{$index}}" ng-class="{active: $index==0}"></li>
                    </ol> -->
                    <div class="carousel-inner" role="listbox">

                        <div class="item" ng-repeat="item in carouselData.items" ng-class="{active: $index==0}">
                            <img ng-src="{{item.imageUrl}}" alt="{{item.title}}" width="100%" height="100%">

                            <div class="carousel-text">
                                <center>
                                    <h3 class="color-white">{{item.title}}</h3>
                                    <p class="color-white" style="margin-top:6px;font-style:italic;">{{item.description}}</div>
                                </center>
                            </div>

                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>





        </div>
    </div>
</div>

<div class="bg-cbdgreen">
  <div class="container">
    <div class="row">
      <undb-map></undb-map>
    </div>
  </div>
</div>


<div class="bg-white">
    <div class="container">
        <div class="clear push30">&nbsp;</div>

        <br />
        <!-- <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
                <h3 style="display:inline;">Partners</h3>
            </div>
            <div class="col-xs-3 col-xs-offset-4">
                <button type="button" class="btn btn-primary pull-right">Become a Partner <i class="fa fa-chevron-right"></i></button>
            </div>
        </div> -->

        <br />
        <br />
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1" style="padding-bottom:2em;">
                        <h1 style="display:inline;">Partners</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1 box-rounded-sm border-bottom-blue box-bg-people-blue col-middle">
                        <h5>Aichi Biodiversity Targets Task Force</h5>
                        <p>Discover the pledges of the UNDB champtions</p>
                    </div>

                    <div class="col-xs-4 col-xs-offset-1 box-rounded-sm border-bottom-blue box-bg-fish-water-blue col-middle">
                        <h5>Biodiversity Champions</h5>
                        <p>Discover the pledges of the UNDB champtions</p>
                    </div>
                </div>
                <div style="padding-bottom:2em;" />
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1 box-rounded-sm border-bottom-blue box-bg-bee-blue col-middle" >
                        <h5>Biodiversity Liaison Group </h5>
                        <p>Contribution to implementation of the Strategic Plan for Biodiversity</p>
                    </div>

                    <div class="col-xs-4 col-xs-offset-1 box-rounded-sm border-bottom-blue box-bg-flamingo-blue col-middle">
                        <h5>UNDB Partners</h5>
                        <p>Make a commitment to help promote biodiversity</p>
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="row">
                    <div class="pull-right" style="padding-bottom:1.5em;">
                        <button type="button" class="btn btn-primary">Become a Partner <i class="fa fa-chevron-right"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-10 box-rounded-sm bg-blue box-bg-tree-blue border-bottom-lightblue pcol-middle pull-right">
                        <div class="" style="background-position: bottom -3px right 0px;">
                            <h5>Strategic PLan for Biodiversity 2011-2010</h5>
                            <p>en es fr</p>
                        </div>
                    </div>
                </div>
                <div style="padding-bottom:2em;" />
                <div class="row">
                    <div class="col-xs-3 col-sm-10 box-rounded-sm bg-blue border-bottom-lightblue box-bg-bear-blue col-middle pull-right">
                        <h5>Strategy for the United Nations Decade on Biodiversity</h5>
                        <p>en es fr</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="clear push30">&nbsp;</div>
    <div class="row logosInline center">
        <div class="col-xs-12">
            <ul>
                <li>
                    <a href="http://www.un.org"><img src="app/img/logo/un.svg" alt="United Nations"></a>
                </li>
                <li>
                    <a href="http://www.unep.org"><img src="app/img/logo/unep.svg" alt="United Nations Environment Programme"></a>
                </li>
                <li>
                    <a href="http://www.cbd.int"><img src="app/img/logo/cbd.svg" alt="Secretariat of the Convention on Biological Diversity"></a>
                </li>
                <li>
                    <a href="http://www.cbd.int/cop12/"><img src="app/img/logo/korea.svg" alt="CBD COP 12"></a>
                </li>
                <li>
                    <a href="http://www.cbd.int/cop11/"><img src="app/img/logo/india.svg" alt="CBD COP 11"></a>
                </li>
                <li>
                    <a href="http://www.cbd.int/cop10/"><img src="app/img/logo/japan.svg" alt="CBD COP 10"></a>
                </li>
                <li>
                    <a href="http://unddd.unccd.int"><img src="app/img/logo/unddd.svg" alt="UNCCD Decade"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--/container-->
